<div class="form-group">
    <label for="field-min" class="col-sm-2 control-label" translate="APP.COMMONS.FIELDS.NUMBER.SETTINGS.MIN"></label>
    <div class="col-sm-9">
        <input class="form-control" type="number" min="-9007199254740991" max="9007199254740991" ng-model="model.min" id="field-min" name="field-min">
    </div>
    <div class="col-sm-1 hidden-xs">
        <coyo-help tip="APP.COMMONS.FIELDS.NUMBER.SETTINGS.MIN.HELP"></coyo-help>
    </div>
</div>

<div class="form-group">
    <label for="field-max" class="col-sm-2 control-label" translate="APP.COMMONS.FIELDS.NUMBER.SETTINGS.MAX"></label>
    <div class="col-sm-9">
        <input class="form-control" type="number" min="-9007199254740991" max="9007199254740991" ng-model="model.max" id="field-max" name="field-max">
    </div>
    <div class="col-sm-1 hidden-xs">
        <coyo-help tip="APP.COMMONS.FIELDS.NUMBER.SETTINGS.MAX.HELP"></coyo-help>
    </div>
</div>

<oyoc-placeholder-settings model="model"></oyoc-placeholder-settings>
