<div class="form-group">
    <label for="field-multiline" class="col-sm-2 control-label" translate="APP.COMMONS.FIELDS.TEXT.SETTINGS.MULTILINE"></label>
    <div class="col-sm-9">
        <div class="checkbox">
            <label>
                <coyo-checkbox id="field-multiline" name="field-multiline" ng-model="model.multiline"></coyo-checkbox>
                {{:: 'APP.COMMONS.FIELDS.TEXT.SETTINGS.MULTILINE.LABEL' | translate}}
            </label>
        </div>
    </div>
    <div class="col-sm-1 hidden-xs">
        <coyo-help tip="APP.COMMONS.FIELDS.TEXT.SETTINGS.MULTILINE.HELP"></coyo-help>
    </div>
</div>

<div class="form-group">
    <label for="field-minlength" class="col-sm-2 control-label" translate="APP.COMMONS.FIELDS.TEXT.SETTINGS.MINLENGTH"></label>
    <div class="col-sm-9">
        <input class="form-control" type="number" min="0" ng-model="model.minlength" id="field-minlength" name="field-minlength">
    </div>
    <div class="col-sm-1 hidden-xs">
        <coyo-help tip="APP.COMMONS.FIELDS.TEXT.SETTINGS.MINLENGTH.HELP"></coyo-help>
    </div>
</div>

<div class="form-group">
    <label for="field-maxlength" class="col-sm-2 control-label" translate="APP.COMMONS.FIELDS.TEXT.SETTINGS.MAXLENGTH"></label>
    <div class="col-sm-9">
        <input class="form-control" type="number" min="0" ng-model="model.maxlength" id="field-maxlength" name="field-maxlength">
    </div>
    <div class="col-sm-1 hidden-xs">
        <coyo-help tip="APP.COMMONS.FIELDS.TEXT.SETTINGS.MAXLENGTH.HELP"></coyo-help>
    </div>
</div>

<oyoc-placeholder-settings model="model"></oyoc-placeholder-settings>