@import "variables";

.event-participation-menu {
  .mat-icon {
    min-height: 32px;
    color: $n200;
    margin-right: 4px;

    @media screen and (max-width: $screen-xs-max) {
      margin-right: 0;
    }

    &.chevron {
      margin-left: 24px;

      @media screen and (max-width: $screen-sm-max) {
        margin-left: 8px;
      }
    }
  }

  .fully-booked {
    background-color: $n35;

    @media screen and (max-width: $screen-xs-max) {
      padding: 0 10px;
    }
  }
}
