@import 'variables';
@import 'mixins';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mat-dialog-content.subscriber-list {
  padding: 0;
  margin-bottom: -$coyo-dialog-padding-vertical;
}

.mat-dialog-content.subscriber-list,
.cdk-virtual-scroll-viewport {
  height: 100%;
}

coyo-sender-list-item {
  padding-left: $coyo-dialog-padding-horizontal;
  padding-right: $coyo-dialog-padding-horizontal;
}

coyo-sender-list-item, ui-skeleton {
  border-bottom: 1px solid $n50;

  &:last-child {
    border-bottom: 0;
  }
}
