<span class="help-block" *ngIf="errors?.required">{{(messages?.required || 'VALIDATION.ERROR.REQUIRED') | translate}}</span>
<span class="help-block" *ngIf="errors?.pattern">{{(messages?.pattern || 'VALIDATION.ERROR.PATTERN') | translate}}</span>
