<div class="modal-header">
  <h3 class="modal-title" translate="WIDGET.POLL.WIDGET.MODAL.TITLE"></h3>
  <button type="button" class="coyo-btn coyo-btn-sm coyo-btn-link coyo-btn-icon" (click)="modal.hide()" [attr.aria-label]="'CLOSE' | translate">
    <i class="zmdi zmdi-close" aria-hidden="true"></i>
  </button>
</div>
<div class="modal-body">
  <coyo-sender-list-item *ngFor="let voter of (voters$ | async)"
                         [sender]="voter" avatarSize="xs" class="entry">
  </coyo-sender-list-item>

  <!-- empty text -->
  <div class="text-center text-muted"
       *ngIf="isEmpty$ | async" translate="WIDGET.POLL.WIDGET.NOVOTES">
  </div>

  <!-- initial spinner / loading -->
  <div *ngIf="loading$ | async" class="text-center">
    <coyo-spinner size="sm"></coyo-spinner>
  </div>
</div>
<div class="modal-footer" *ngIf="hasMore$ | async">
  <button type="button" class="btn btn-primary"
          [disabled]="loading$ | async" (click)="loadMore()">{{'MORE' | translate}}</button>
</div>
