@import 'variables';

.entry {
  border-bottom: 1px solid $color-gray-lighter;
  margin-bottom: 4px;
  padding-bottom: 4px;

  &:last-of-type {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.mat-dialog-actions {
  justify-content: center;
}
