@import 'variables';
@import 'mixins';

:host {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: $n200;
}

.chevron {
  margin-left: 4px;
  margin-right: 4px;
  flex-shrink: 0;
}

.root-folder {
  color: $n200;

  &:active,
  &:focus,
  &:hover {
    color: $n400;
    outline: none;
  }
}

.current-folder {
  color: $n400;
  @include ellipsis();
}
