<!-- root folder -->
<a href (click)="openFolder(rootFolder, $event)" class="root-folder" *ngIf="!isCurrentFolder(rootFolder)"
   [attr.aria-label]="'FILEPICKER.FOLDER.ARIA' | translate : {folder: rootFolder.name}">
  {{rootFolder.name}}
</a>

<!-- context menu -->
<mat-icon *ngIf="hasContextMenu()" svgIcon="chevron-right" size="small" class="chevron"></mat-icon>
<button type="button" *ngIf="hasContextMenu()" mat-icon-button [matMenuTriggerFor]="menu" size="small"
        [attr.aria-label]="'FILEPICKER.BREADCRUMB.CONTEXT_MENU.TOOLTIP' | translate">
  <mat-icon svgIcon="more-horizontal"></mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button type="button" mat-menu-item *ngFor="let item of contextMenuItems" (click)="openFolder(item, $event)">
    <coyo-filepicker-icon [item]="item"></coyo-filepicker-icon>{{item.name}}
  </button>
</mat-menu>

<!-- current folder -->
<mat-icon svgIcon="chevron-right" size="small" class="chevron" *ngIf="!isCurrentFolder(rootFolder)"></mat-icon>
<span [attr.aria-label]="'FILEPICKER.FOLDER.CURRENT.ARIA' | translate : {folder: currentFolder.name}" class="current-folder">
  {{currentFolder.name}}
</span>
