<div class="input-group">
    <span class="input-group-addon pointer" ng-click="openPicker = true"><i class="zmdi zmdi-calendar"></i></span>
    <input type="text" class="form-control" id="{{:: settingsForm.getFieldName(config)}}" name="{{:: settingsForm.getFieldName(config)}}"
           ng-model="model.value"
           ng-focus="openPicker = true"
           ng-model-options="{timezone: 'utc'}"
           datetime-picker="{{$ctrl.dateFormat}}"
           enable-time="false"
           default-time="12:00:00"
           enable-time="false"
           is-open="openPicker"
           ng-required="config.required"
           placeholder="{{::config.settings.placeholder}}">
</div>
