<div class="panel panel-default form-horizontal admin-license">
  <form name="licenseForm" coyo-form-submit="$ctrl.save(licenseForm)">
    <div class="panel-heading">
      <a class="hidden-xs btn btn-primary pull-right" href="{{::$ctrl.customerCenterLink}}" target="_blank">
        <i class="zmdi zmdi-settings"></i>&nbsp;{{:: 'ADMIN.LICENSE.CHANGE.LICENSE' | translate }}
      </a>
      <h1 class="panel-title" translate="ADMIN.LICENSE.LICENSE"></h1>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label class="col-sm-3 control-label" translate="ADMIN.LICENSE.STATUS.LABEL"></label>
        <div class="col-sm-9" ng-if="$ctrl.status !== false && $ctrl.status !== 'TIME'" ng-switch="$ctrl.status">
          <span class="form-text state invalid" translate="ADMIN.LICENSE.STATUS.EXCEEDED" ng-switch-when="USER"></span>
          <span class="form-text state invalid" translate="ADMIN.LICENSE.STATUS.MISSING"
                ng-switch-when="MISSING"></span>
          <span class="form-text state invalid" translate="ADMIN.LICENSE.STATUS.INVALID" ng-switch-default></span>
        </div>
        <valid-days status="$ctrl.status" valid-days="$ctrl.validDays"></valid-days>
      </div>

      <div class="form-group">
        <label for="licenseKey" class="col-sm-3 control-label" translate="ADMIN.LICENSE.LICENSE_KEY.LABEL"></label>
        <div class="col-sm-8" ng-class="{'has-error':(!!$ctrl.status && $ctrl.licenseKey)}">
          <textarea id="licenseKey" name="licenseKey" class="form-control" rows="5"
                    ng-model="$ctrl.licenseKey" ng-required="true"></textarea>
        </div>
        <div class="col-sm-1 hidden-xs">
          <coyo-help tip="ADMIN.LICENSE.LICENSE_KEY.HELP"></coyo-help>
        </div>
      </div>

      <hr>

      <div class="form-group license-usage">
        <label class="col-sm-3 control-label" translate="ADMIN.LICENSE.USER.LIMIT"></label>
        <coyo-progressbar class="col-sm-6" target="$ctrl.user" warning-percent="90"></coyo-progressbar>
        <usage-info class="col-sm-3" target="$ctrl.user" type="'USER'"></usage-info>
      </div>

      <hr>

      <div class="form-group">
        <label class="col-sm-3 control-label" translate="ADMIN.LICENSE.SERVER_ID.LABEL"></label>
        <div class="col-sm-9">
          <span class="form-text">{{$ctrl.serverId}}</span>
          <p class="help-block" ng-if="$ctrl.status === 'SERVER'">
            <span class="text-danger" translate="ADMIN.LICENSE.SERVER_ID.MISMATCH"></span>
          </p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label" translate="ADMIN.LICENSE.VERSION.LABEL"></label>
        <div class="col-sm-9">
          <span class="form-text">{{$ctrl.version}}</span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label" translate="ADMIN.LICENSE.ORDER_ID.LABEL"></label>
        <div class="col-sm-9">
          <span class="form-text">{{$ctrl.orderId || '-'}}</span>
        </div>
      </div>
    </div>

    <div class="panel-footer panel-actions">
      <div class="row">
        <div class="col-sm-9 col-sm-push-3">
          <coyo-form-submit-button form-ctrl="licenseForm" label="SAVE"
                                   disabled="licenseForm.$invalid || licenseForm.$pristine"></coyo-form-submit-button>
          <a class="btn btn-default" ng-click="$ctrl.reset(licenseForm)" ng-hide="!$ctrl.resetable()">
            <i class="zmdi zmdi-hc-fw zmdi-close"></i>&nbsp;{{::'CANCEL' | translate}}
          </a>
          <div class="visible-xs">
            <a class="btn btn-primary" href="{{::$ctrl.customerCenterLink}}" target="_blank">
              <i class="zmdi zmdi-settings"></i>&nbsp;{{:: 'ADMIN.LICENSE.CHANGE.LICENSE' | translate }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>