<span class="page-entry-count">
    <span class="entry-count-number">{{$ctrl.page.totalElements}}</span>&nbsp;<span class="entry-count-heading" translate="COMMONS.UI.ENTRIES" translate-value-entrycount="{{$ctrl.page.totalElements}}"></span>
</span>