@import "variables";

.code-widget-warning {
  .alert {
    margin: 0;

    @media print, screen and (min-width: $screen-md-min) {
      margin: 0;
    }
  }
}

.widget-slot-plain, .widget-slot-panel {
  .code-widget {
    .panel {
      background-color: transparent;
      margin-bottom: 0;
      -webkit-box-shadow: initial;
      box-shadow: initial;
      border: 0;
    }
  }
}

.widget-slot-plain {
  .code-widget {
    margin-bottom: -24px;
    .panel {
      margin-bottom: 24px;
    }
  }
}
