@import "variables";
@import "mixins";

@include tabs();

.widget-filter {
  border-radius: #{$line-height-small}em;
  margin-top: 1px;
  margin-bottom: 12px;

  @include sm-and-up() {
    display: inline-block;
    width: 33.3333333%;
    float: right;
    margin-bottom: 0;
  }
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.widget-list, .widget-list-empty {
  min-height: 545px;
}

.widget-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  transition: all cubic-bezier(.17,.67,.83,.67);
}

.widget-list-empty {
  padding: 2em;
  color: $text-muted;
  text-align: center;
}

@include sm-and-up() {
  .widget-list,
  .widget-list-empty {
    overflow: auto;
  }
}

.widget-item {
  width: calc(25% - 16px);
  margin: 4px 8px;

  @include sm-and-up() {
    width: calc(20% - 16px);
  }

  button {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-gray-darker;
    background: $color-white none;
    transition: color .25s ease-in-out;
    padding: 12px 16px;
    width: 100%;

    .zmdi {
      font-size: 2.5rem;
      border: 1px solid $color-gray-light;
      border-radius: $border-radius-small;
      height: 4rem;
      width: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: border-color .25s ease-in-out;
    }

    span {
      font-size: $font-size-small;
      margin-top: .5em;
    }

    &:hover,
    &:active,
    &:focus {
      color: $link-hover-color;
      background-color: $color-gray-lighter;
      border-radius: $border-radius-base;
    }

    &:hover .zmdi,
    &:active .zmdi,
    &:focus .zmdi {
      border-color: $link-hover-color;
    }
  }
}
