@import "variables";
@import "mixins";

.event-date-overlay-container {
  overflow: hidden;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;

  .event-date-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: $color-white;
    height: 100%;
    position: absolute;
    text-align: center;
    width: 100%;

    .event-day {
      font-size: 32px;
      line-height: 1.1em;
      font-weight: bold;

      @media print, screen and (min-width: $screen-md-min) {
        font-size: 48px;
      }
    }

    .event-month {
      font-size: 16px;
      line-height: 1.1em;
      text-transform: uppercase;

      @media print, screen and (min-width: $screen-md-min) {
        font-size: 24px;
      }
    }
  }
}

:host-context(.event-list-component) {
  .event-date-overlay {
    @include md-and-up() {
      border-radius: 5px 0 0 5px;
    }
  }
}

:host-context(.upcoming-event-widget) {

  .event-date-overlay {
    border-radius: 5px;
    .event-day {
      font-size: 30px;
    }

    .event-month {
      font-size: 15px;
    }
  }
}
