@import "variables";
.pannable {
  max-width: none !important;
  max-height: none !important;
  width: 100%;
  height: 100%;
}

.pannable-container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position:absolute;
  text-align: left;
  left: 0;
  top: 0;
  background: $color-black;
}
