<button mat-icon-button type="button" size="small"
        [matTooltip]="tip | translate"
        [matTooltipPosition]="placement"
        matTooltipClass="help"
        (click)="openModal($event)">
  <mat-icon svgIcon="help"></mat-icon>
</button>
