:host-context(.context-menu-title) {
  .btn-icon {
    padding: 2px;

    i {
      font-size: 1.2em;
      line-height: 1.33333333em;
      width: 1.33333333em;
    }
  }
}

:host-context(.form-group) {
  button {
    margin-top: 4px;
    margin-bottom: 4px;
  }
}
