@import "variables";

div {
  border-left: 2px solid $n50;
  border-radius: 2px;
  padding-left: 16px;
  color: $n200;
  margin-top: 12px;
}

:host-context(coyo-comment) {
  div {
    margin-top: 4px;
  }
}
