<ng-container *ngIf="translation">
  <div [innerHTML]="translation | markdown | hashtags | mention" *ngIf="showMentions"></div>
  <div [innerHTML]="translation | markdown | hashtags" *ngIf="!showMentions"></div>
</ng-container>
