<div class="panel register register-external">
  <div ng-if="$ctrl.error" ng-class="{'error-message': $ctrl.error, 'fade-in': $ctrl.error}">
    {{$ctrl.error | translate}}
  </div>
  <div class="panel-heading clearfix">
    <h2 translate="MODULE.REGISTER-EXTERNAL.TITLE" class="pull-left"></h2>
  </div>
  <div class="panel-body">
    <form name="form" id="register-external-form" ng-submit="$ctrl.register()" role="form" novalidate>
      <div class="form-group" ng-class="{'has-error': form.firstname.$dirty && form.firstname.$invalid}">
        <div class="input-wrapper">
          <input type="text"
                 autocomplete="given-name"
                 class="form-control"
                 placeholder="{{ 'MODULE.REGISTER-EXTERNAL.FIRSTNAME' | translate }}"
                 name="firstname"
                 id="firstname"
                 ng-model="$ctrl.user.firstName"
                 ng-disabled="!$ctrl.user.canModifyName || $ctrl.error"
                 focus-if="$ctrl.focusOn == 'firstname'"
                 maxlength="{{:: $ctrl.fieldConfig.firstName.maxLength }}"
                 required>
          <i class="zmdi zmdi-account"></i>
        </div>
        <ng-messages for="form.firstname.$error" class="help-block validation text-left">
          <p ng-message="required" translate="REQUIRED"></p>
        </ng-messages>
      </div>
      <div class="form-group" ng-class="{'has-error': form.lastname.$dirty && form.lastname.$invalid}">
        <div class="input-wrapper">
          <input type="text"
                 autocomplete="family-name"
                 class="form-control"
                 placeholder="{{ 'MODULE.REGISTER-EXTERNAL.LASTNAME' | translate }}"
                 name="lastname"
                 id="lastname"
                 ng-model="$ctrl.user.lastName"
                 ng-disabled="!$ctrl.user.canModifyName || $ctrl.error"
                 maxlength="{{:: $ctrl.fieldConfig.lastName.maxLength }}"
                 required>
          <i class="zmdi zmdi-account"></i>
        </div>
        <ng-messages for="form.lastname.$error" class="help-block validation text-left">
          <p ng-message="required" translate="REQUIRED"></p>
        </ng-messages>
      </div>
      <div class="form-group" ng-class="{'has-error': form.email.$dirty && form.email.$invalid}">
        <div class="input-wrapper">
          <input type="email"
                 autocomplete="email"
                 class="form-control"
                 name="email"
                 id="email"
                 ng-model="$ctrl.user.email"
                 ng-disabled="true">
          <i class="zmdi zmdi-email"></i>
        </div>
      </div>
      <div class="form-group" ng-class="{'has-error': form.password.$dirty && form.password.$invalid}">
        <div class="input-wrapper">
          <input type="password"
                 autocomplete="new-password"
                 class="form-control"
                 placeholder="{{ 'MODULE.REGISTER-EXTERNAL.PASSWORD' | translate }}"
                 name="password"
                 id="password"
                 ng-model="$ctrl.user.password"
                 focus-if="$ctrl.focusOn == 'password'"
                 ng-disabled="$ctrl.error"
                 coyo-check-matches="$ctrl.fieldConfig.password.pattern"
                 maxlength="{{:: $ctrl.fieldConfig.password.maxLength }}"
                 required>
          <i class="zmdi zmdi-key"></i>
        </div>
        <ng-messages for="form.password.$error" class="help-block validation text-left">
          <p ng-message="required" translate="REQUIRED"></p>
          <p ng-message="matches" translate="PASSWORD.CHANGE.ERRORS.NEW_PASSWORD_INVALID"></p>
        </ng-messages>
      </div>
      <div class="form-group" ng-class="{'has-error': form.passwordConfirm.$dirty && form.passwordConfirm.$invalid}">
        <div class="input-wrapper">
          <input type="password"
                 autocomplete="new-password"
                 class="form-control"
                 placeholder="{{ 'MODULE.REGISTER-EXTERNAL.PASSWORD_CONFIRM' | translate }}"
                 name="passwordConfirm"
                 id="passwordConfirm"
                 ng-model="$ctrl.user.passwordConfirm"
                 ng-disabled="$ctrl.error"
                 compare-to="$ctrl.user.password"
                 maxlength="{{:: $ctrl.fieldConfig.password.maxLength }}"
                 required>
          <i class="zmdi zmdi-key"></i>
        </div>
        <ng-messages for="form.passwordConfirm.$error" class="help-block validation text-left">
          <p ng-message="required" translate="REQUIRED"></p>
          <p ng-message="compareTo" translate="ERRORS.VALIDATION.PASSWORDS_DO_NOT_MATCH"></p>
        </ng-messages>
      </div>
      <input type="hidden" name="token" ng-value="$ctrl.user.token">
      <div class="form-actions">
        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary btn-block">
          <span ng-show="!$ctrl.loading" translate="MODULE.REGISTER-EXTERNAL.SUBMIT"></span>
          <i ng-show="$ctrl.loading" class="zmdi zmdi-spinner zmdi-hc-spin"></i>
        </button>
      </div>
    </form>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-xs-8">
        <a ui-sref="front.login({username:$ctrl.user.email})" translate="MODULE.REGISTER-EXTERNAL.ALREADY_REGISTERED"
           class="small"></a>
      </div>
      <div class="col-xs-4">
        <div class="pull-right copyright"></div>
      </div>
    </div>
  </div>
</div>
