<div *ngIf="!attachment.deleted"
   class="item-attachment"
   [title]="attachment.name">
  <div class="item-attachment-icon">
    <coyo-file-icon [file]="attachment" class="zmdi-hc-lg"></coyo-file-icon>
  </div>
  <div class="item-attachment-name">
    {{attachment.name}}
  </div>
  <div class="item-attachment-length" *ngIf="attachment.size && attachment.showSize">
    {{attachment.size | fileSize}}
  </div>
  <div class="item-attachment-length" *ngIf="!attachment.size && attachment.showSize">
    {{attachment.length  | fileSize}}
  </div>
</div>
<div *ngIf="attachment.deleted" class="alert alert-warning"
     translate="MODULE.TIMELINE.ATTACHMENT.NOT_AVAILABLE">
</div>
