@import "variables";
@import "mixins";

:host-context(.attachments-boxed) {
  display: flex;
  border-radius: 4px;
  border: 1px solid $n75;
  background-color: $n25;
  color: $n400;
  font-size: 14px;
  line-height: 24px;
  padding: 8px 16px;
  position: relative;
  margin-bottom: 8px;
  cursor: pointer;

  @include sm-and-up() {
    border-radius: 4px;
  }

  .item-attachment {
    display: flex;
    width: 100%;

    .item-attachment-icon {
      flex: none;
      padding-right: 8px;
      transition: all .6s ease;
    }

    .item-attachment-name {
      flex: 1 1 auto;
      color: $n600;
      line-height: 1.6;
      font-size: 15px;
      margin-right: 32px;
      @include ellipsis();
    }

    .item-attachment-length {
      color: $n200;
      font-size: 13px;
      line-height: 1.85;
      flex: none;
    }
  }
}
