.card-actions {
  bottom: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  border-left: 1px solid $color-gray-light;
  background-color: $color-white;
  border-radius: 0 5px 5px 0;
  box-shadow: -1px 0px 0px 0px $color-white;

  .btn.btn-inverse {
    align-items: center;
    border: 0;
    display: flex;
    flex: 1;
    padding: 0 8px;

    @media print, screen and (min-width: $screen-md-min) {
      border-radius: 0 5px 5px 0;
    }
  }
}

.card-actions-multiple .btn {

  &:last-child {
    border-top: 1px solid $color-gray-light;
  }

  @media print, screen and (min-width: $screen-md-min) {
    &:first-child {
      border-radius: 0 5px 0 0;
    }

    &:last-child {
      border-radius: 0 0 5px;
      border-top: 1px solid $color-gray-light;
    }
  }
}
