.settings-container {
  display: flex;

  .icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 148px;
    .zmdi {
      font-size: 24px;
    }
  }

  h3 {
    font-size: 1rem;
    font-weight: normal;
  }
}
