@import "variables";
@import 'mixins';

.search-result-external {
  a {
    background: $n35;
    display: flex;
    flex-wrap: wrap;
    border-radius: $border-radius-base;
    padding: 8px;

    .result-icon {
      margin-right: 4px;
      margin-bottom: 2px;
    }

    .result-text {
      flex-grow: 1;
      flex-basis: 0; // explicitly set this for IE
      flex-shrink: 0;
      color: $text-color;
      font-weight: 600;

      .full-name {
        display: none;
      }

      /* IE10+ CSS styles */
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        @include ellipsis();

        .full-name {
          display: inline;
        }

        .first-part, .last-part {
          display: none;
        }
      }

      /* Non-IE styles */
      @supports not (-ms-high-contrast: none) {
        white-space: nowrap;
        overflow: hidden;
      }

      // Variables to control the truncation behaviour
      $startFixedChars: 4; // One letter plus ...
      $endFixedChars: 7; // Number of chars after ellipsis  - lower priority than start chars
      $fontFaceScaleFactor: 0.6; // Magic number dependent on font face - set by trial and error

      // Derived from the 3 variables above
      $startWidth: 1em * $fontFaceScaleFactor * $startFixedChars;
      $endWidth: 1em * $fontFaceScaleFactor * $endFixedChars;

      .first-part, .last-part {
        display: inline-block;
        vertical-align: bottom;
        white-space: nowrap;
        overflow: hidden;
      }
      .first-part {
        float: left;
        max-width: calc(100% - #{$endWidth});
        text-overflow: ellipsis;
      }
      .last-part {
        max-width: calc(100% - #{$startWidth});
      }
    }

    .size-text {
      flex: 1 0 100%;
      font-size: 14px;
      line-height: 16px;
      color: $n200;
      margin-left: 28px;
    }
  }
}
