<div [innerHTML]="text">
</div>
<div *ngIf="isCollapsible">
  <a class="share-item-more" (click)="toggle()">
    <i class="zmdi {{isCollapsed ? 'zmdi-chevron-down' : 'zmdi-chevron-up'}} zmdi-hc-fw"></i>
    <span>{{buttonLabel | translate}}</span>
  </a>
</div>
