<div class="panel panel-default championship-app" data-test="panel-championship-app">
    <div class="panel-heading">
        <h1 class="panel-title">{{:: $ctrl.app.name }}</h1>
    </div>
    <div class="panel-body">
        <uib-tabset justified="true" active="-1">
            <uib-tab ui-sref=".championship" ui-sref-active-eq="active">
                <uib-tab-heading>
                    <i class="zmdi zmdi-help-outline zmdi-help-outline zmdi-wide"></i> <span class="tab-text" translate="APP.CHAMPIONSHIP.GAMES"></span>
                </uib-tab-heading>
            </uib-tab>
            <uib-tab ui-sref=".championship.past" ui-sref-active-eq="active">
                <uib-tab-heading>
                    <i class="zmdi zmdi-calendar-check zmdi-wide"></i> <span class="tab-text" translate="APP.CHAMPIONSHIP.GAMES_PAST"></span>
                </uib-tab-heading>
            </uib-tab>
            <uib-tab ui-sref=".championship.ranking" ui-sref-active-eq="active">
                <uib-tab-heading>
                    <i class="zmdi zmdi-trending-up zmdi-wide"></i> <span class="tab-text" translate="APP.CHAMPIONSHIP.RANKING"></span>
                </uib-tab-heading>
            </uib-tab>
        </uib-tabset>
        <div ui-view></div>
    </div>
</div>
