<ng-form name="ng1WidgetForm" class="form-horizontal">
  <oyoc-settings-view model="$ctrl.widget"
                      config="$ctrl.config"
                      form-ctrl="ng1WidgetForm"
                      save-callbacks="$ctrl.saveCallbacks"></oyoc-settings-view>
</ng-form>