<div class="panel">
  <div class="panel-nav panel-heading panel-heading-configure" id="panel-content-app"
       ng-class="{'no-multi-language': $ctrl.translations == undefined || $ctrl.translations.length <= 1}">
    <coyo-app-language-switch class="content-app-language-switch"
                              ng-if="$ctrl.translations.length > 1"
                              current-language="$ctrl.currentLanguage || sender.defaultLanguage"
                              available-languages="$ctrl.translations"
                              fetch-translation="$ctrl.fetchByLanguage"></coyo-app-language-switch>
    <a ui-sref=".edit" class="heading-button panel-heading-single-item" ng-if="$ctrl.app._permissions.manage"
       ng-class="{'no-multi-language': $ctrl.translations == undefined || $ctrl.translations.length <= 1}">
      <i class="zmdi zmdi-hc-fw zmdi-edit"></i>
      <span translate="APP.CONTENT.EDIT_CONTENT"></span>
    </a>
  </div>
  <div class="panel-body-content-app panel-body" data-test="panel-content-app">
    <coyo-widget-layout ng-if="$ctrl.layoutName"
                        layout-name="{{$ctrl.layoutName}}"
                        parent="$ctrl.app"
                        global-events="false"
                        can-manage="$ctrl.app._permissions.manage"
                        render-style="plain"></coyo-widget-layout>
  </div>
</div>
