@import "mixins";

:host {
  display: flex;
}

.share-item-message {
  flex: 1;
  margin-left: 16px;
  max-width: calc(100% - 16px);
  overflow: hidden;
  @include break-word();

  @include sm() {
    margin-left: 12px;
    max-width: calc(100% - 12px);
  }

  &:first-child {
    margin-left: 0;
    max-width: 100%;
  }

  .alert {
    margin: 1em 0 0;
    padding: .75em 1em;
  }
}

.share-item-title {
  display: block;
  font-size: 1.25em;
  line-height: 1.25em;
  color: $text-color;
  margin-bottom: .5em;
  @include break-word();

  @include sm-and-up() {
    font-size: 1.5em;
  }
}

.share-item-description {
  margin-top: .5em;
}

.share-item-meta {
  font-size: $font-size-small;
  color: $text-muted;

  i {
    margin-left: .2em;
    margin-right: .1em;
  }
}

.share-item-labels {
  display: flex;
  flex-wrap: wrap;
  margin: .5em 0;

  .label {
    margin: .25em .5em .25em 0;
    @include ellipsis();

    &:last-child {
      margin-right: 0;
    }
  }
}

.share-item-more {
  font-weight: 600;
}
