@import "variables";

.dropdown-menu {
  background-color: $color-gray-darker;
  min-width: unset;
  font-size: 12px;

  li.active, li:hover {
    background-color: $color-black;
  }

  a {
   padding: 2px 8px;
     color: $color-white;
     text-align: left;
   }
}
