<div class="btn-group" dropdown>
  <button id="button-basic" dropdownToggle type="button" class="btn btn-dark dropdown-toggle btn-xs btn-zmdi"
          aria-controls="dropdown-basic">
    <i class="zmdi zmdi-format-size zmdi-hc-fw"></i>
  </button>
  <ul class="dropdown-menu" *dropdownMenu role="menu" aria-labelledby="button-basic">
    <li *ngFor="let option of options" role="menuitem"
        [ngClass]="{'active': widget.settings._headline.size === option.size}">
      <a class="dropdown-item" (click)="select(option)"
         [innerText]="option.size">
      </a>
    </li>
  </ul>
</div>
