<ng-container *ngIf="(state$ | async) as state">
  <coyo-like-button [state]="state" (toggle)="toggle(state)" [condensed]="condensed"></coyo-like-button>
  <span class="divider" *ngIf="state.totalCount">•</span>
  <coyo-like-info [state]="state" [target]="target" [condensed]="condensed"></coyo-like-info>
</ng-container>
