.user-follow.ng-animate {
  transition: none;
  animation: none;
}

:host-context(.user-avatar-image){
  .user-follow {
    position: absolute;
    bottom: 2px;
    right: -8px;
    border-radius: 100%;
    height: 24px;
    width: 24px;
    outline: 0;
    font-size: 11px;
    line-height: 16px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    border: 2px solid #FFF;
  }
}

