<ng-container *ngxPermissionsOnly="['LIKE']">
  <!-- Unfortunately, we have to duplicate the button due to different directives. -->
  <button mat-button mat-link-button type="button" size="small" (click)="onToggle()" data-test="like-button" role="switch"
          *ngIf="condensed"
          [color]="state.isLiked ? 'accent' : null"
          [disabled]="state.isLoading"
          [attr.aria-checked]="state.isLiked">{{'ENTITY_TYPE.LIKE' | translate}}</button>
  <button mat-button type="button" size="small" (click)="onToggle()" data-test="like-button" role="switch"
          *ngIf="!condensed"
          [color]="state.isLiked ? 'accent' : null"
          [disabled]="state.isLoading"
          [attr.aria-checked]="state.isLiked"><mat-icon svgIcon="thumbs-up"></mat-icon>{{'ENTITY_TYPE.LIKE' | translate}}</button>
</ng-container>
