:host {
  display: inline-flex;
  vertical-align: top;
}

:host-context(coyo-like-container) .mat-button {
  font-size: inherit;
}

:host-context(coyo-comment) .mat-button {
  font-size: inherit;
  line-height: inherit;
}
