<div class="panel panel-default form-horizontal admin-license">
  <div class="panel-heading">
    <a class="hidden-xs hidden-sm btn btn-primary pull-right" href="{{::$ctrl.customerCenterLink}}" target="_blank">
      <i class="zmdi zmdi-settings"></i>&nbsp;{{:: 'ADMIN.LICENSE.CHANGE.SUBSCRIPTION' | translate }}
    </a>
    <h1 class="panel-title" translate="ADMIN.LICENSE.SUBSCRIPTION"></h1>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <label class="col-sm-3 control-label" translate="ADMIN.LICENSE.STATUS.LABEL"></label>
      <div class="col-sm-9" ng-if="$ctrl.status !== false && $ctrl.status !== 'TIME'" ng-switch="$ctrl.status">
        <span class="form-text state invalid" translate="ADMIN.LICENSE.STATUS.EXCEEDED" ng-switch-when="USER"></span>
        <span class="form-text state invalid" translate="ADMIN.LICENSE.STATUS.EXCEEDED" ng-switch-when="STORAGE"></span>
        <span class="form-text state invalid" translate="ADMIN.LICENSE.STATUS.INVALID" ng-switch-default></span>
      </div>
      <valid-days status="$ctrl.status" valid-days="$ctrl.validDays"></valid-days>
    </div>

    <hr>

    <div class="form-group license-usage">
      <label class="col-sm-3 control-label" translate="ADMIN.LICENSE.USER.LIMIT"></label>
      <coyo-progressbar class="col-sm-6" target="$ctrl.user" warning-percent="90"></coyo-progressbar>
      <usage-info class="col-sm-3" target="$ctrl.user" type="'USER'"></usage-info>
    </div>
    <div class="form-group license-usage">
      <label class="col-sm-3 control-label" translate="ADMIN.LICENSE.STORAGE.LIMIT"></label>
      <coyo-progressbar class="col-sm-6" target="$ctrl.storage" warning-percent="90"></coyo-progressbar>
      <usage-info class="col-sm-3" target="$ctrl.storage" type="'STORAGE'"></usage-info>
    </div>
  </div>
  <div class="panel-footer visible-xs visible-sm">
    <a class="btn btn-primary btn-block" href="{{::$ctrl.customerCenterLink}}" target="_blank">
      <i class="zmdi zmdi-settings"></i>&nbsp;{{:: 'ADMIN.LICENSE.CHANGE.SUBSCRIPTION' | translate }}
    </a>
  </div>
</div>