form[name="userDirectoryForm"] {
  .panel-body {
    .nav-tabs {
      margin: 40px 0;
    }

    .form-subheadline {
      text-align: right;
    }
  }

  .nav {
    li > a {
      @media screen and (max-width: $screen-sm-max) {
        text-overflow: unset;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
      }
    }
  }
}
