.about-coyo-modal {
  .mat-dialog-container {
    padding: 0;
    overflow: hidden;

    .mat-dialog-actions {
      flex-wrap: nowrap;
      padding: 0;
      margin: 0;
      border-top: 1px solid $modal-header-border-color;
    }
  }
}
