<li>
  <button type="button" class="btn btn-default btn-block target-subscribe" ng-click="$ctrl.toggle()">
    <i ng-if="!$ctrl.loading && $ctrl.subscribed" class="zmdi zmdi-hc-fw zmdi-notifications-active"></i>
    <i ng-if="!$ctrl.loading && !$ctrl.subscribed" class="zmdi zmdi-hc-fw zmdi-notifications-none"></i>
    <i ng-if="$ctrl.loading" class="zmdi zmdi-hc-fw zmdi-hc-spin zmdi-spinner"></i>
    <span ng-if="!$ctrl.subscribed" translate="WORKSPACE.SUBSCRIBE"></span>
    <span ng-if="$ctrl.subscribed" translate="WORKSPACE.SUBSCRIBED"></span>
  </button>
</li>

