<div class="single-file-widget" *ngIf="(state$ | async) as state">
  <div *ngIf="!state.file" class="no-file-found text-muted">
    <i class="zmdi zmdi-broken-image"></i>
    <span class="no-file-found-text">{{'WIDGET.SINGLEFILE.NO_FILE' | translate}}</span>
  </div>
  <coyo-single-file-widget-skeleton *ngIf="!state.file"></coyo-single-file-widget-skeleton>
  <div class="single-file-widget-details" *ngIf="state.file">
    <div class="single-file-widget-file-image">
      <coyo-file-preview *ngIf="!widget.settings._hidePreview && state.filePreview"
                         [file]="state.filePreview"
                         [url]="previewUrl"
                         [groupId]="state.file.senderId"
                         [options]="{hideNoPreviewAvailableMsg: true,
                                     hidePreviewGenerationInformation: true,
                                     allowGifPlayback: false}"
                         (click)="showFileDetails(state.filePreview)"
                         class="img-file-preview"></coyo-file-preview>
      <coyo-file-icon [file]="state.file"
                      *ngIf="widget.settings._hidePreview"
                      (click)="showFileDetails(state.filePreview)"
                      class="zmdi-hc-5x">
      </coyo-file-icon>
    </div>
    <div class="single-file-widget-details-text" *ngIf="state.file.name || widget.settings.title">
      <h4>
        <a href="#" (click)="showFileDetails(state.filePreview)"
           *ngIf="!editMode"
           title="{{widget.settings.title || state.file.name }}">
          {{widget.settings.title || state.file.name }}
        </a>
        <input *ngIf="editMode"
               type="text"
               placeholder="{{widget.settings.title || state.file.name}}"
               class="inplace-edit"/>
      </h4>
      <small class="single-file-widget-details-infos text-muted">
        {{state.file.contentType | fileTypeName| translate }}
        <span *ngIf="!widget.settings._hideDate">
            &sdot; {{state.file.created | timeAgo}}
          </span>
        <br/>
        <span *ngIf="!widget.settings._hideSender">
            <coyo-sender-link [sender]="state.sender"></coyo-sender-link>
          </span>
        <span *ngIf="!widget.settings._hideDownload">
             &sdot; <a href="#" coyo-download="{{getDownloadUrl(state.file, state.sender)}}" class="single-file-download">
          <i class="zmdi zmdi-download"></i>
          {{'DOWNLOAD' | translate}}
            </a>
          </span>
      </small>
    </div>
  </div>
</div>
