@import "mixins";
@import "variables";

coyo-file-preview {
  display: block;
}

.single-file-widget {
  .no-file-found {
    text-align: center;

    .no-file-found-text {
      margin-left: 10px;
      margin-bottom: 0;
    }
  }

  .single-file-widget-details {
    .single-file-widget-file-image {
      width: 100%;
      max-height: 250px;
      overflow: hidden;

      .img-file-preview {
        .pi-container {
          background: url($image-bg-grid) repeat;
          display: flex;
          justify-content: center;
          flex-direction: column;

          &.loading,
          &.unavailable,
          &.processing {
            background: none;
            border: 0 none;
          }
        }

        img {
          width: 100%;
          cursor: pointer;
        }

        .pi-spinner-container, .pi-spinner-vert-container {
          padding-top: 25px;
        }
      }

      .preview-image {
        width: 100%;
        padding-top: 100%;
        display: block;
      }

      .zmdi-hc-5x {
        display: block;
        width: 100%;
        margin: 15px 0 0 0;
        text-align: center;
        cursor: pointer;
      }
    }

    .single-file-widget-details-text {
      width: 100%;
      padding: 10px 18px 10px 18px;

      @media print, screen and (min-width: $screen-xs-min) {
        padding: 15px 30px 24px 30px;
      }

      > a {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        outline: 0 none;
      }

      h4 {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;

        a {
          color: #333;
        }

        input {
          text-align: center;
        }
      }

      .single-file-widget-details-infos {
        display: block;
        line-height: 1.4em;
        text-align: center;
      }

      .single-file-download {
        white-space: nowrap;

        i {
          margin-right: 4px;
        }
      }
    }

    @media screen and (max-width: $screen-md-min) and (min-width: $screen-xs-min) {
      @include split-view-single-file(200px);
    }
  }
}

:host-context(.widget-layout-row-slot-wrapper.col-md-8) {
  .single-file-widget-details {
    @media print, screen and (min-width: $screen-xs-min) {
      @include split-view-single-file(200px);
    }
  }
}

:host-context(.widget-layout-row-slot-wrapper.col-md-12) {
  .single-file-widget-details {
    @media print, screen and (min-width: $screen-xs-min) {
      @include split-view-single-file(250px);
    }
  }
}

// Stretch the image over widget border
// only in separate widget slots
:host-context(.widget-slot-panel),
:host-context(.widget-slot-panels) {
  .single-file-widget {
    margin: $panel-body-padding-negate-sm;
    overflow: hidden;

    @media print, screen and (min-width: $screen-md-min) {
      border-radius: $panel-border-radius;
    }

    @media print, screen and (min-width: $screen-sm-min) {
      margin: $panel-body-padding-negate-md;
    }
  }
}

.single-file-widget-setting {
  .file-input-label,
  .file-input-help {
    position: relative;
    top: 11px;
  }
}
