@import 'variables';

$search-width: 250px;

.filepicker-modal {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.filepicker-header {
  @media screen and (max-width: $screen-sm-max) {
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
  }

  @media screen and (min-width: $screen-sm-min) {
    margin-bottom: 16px;
  }

  coyo-filepicker-breadcrumb {
    width: 100%;

    @media screen and (min-width: $screen-sm-min) {
      width: calc(100% - #{$search-width + 16px});
    }
  }

  coyo-filepicker-search {
    @media screen and (max-width: $screen-sm-max) {
      margin-top: 12px;
    }

    @media screen and (min-width: $screen-sm-min) {
      position: absolute;
      top: 20px;
      right: 24px;
      width: $search-width;
    }
  }
}

.mat-dialog-content > .mat-full-width {
  padding: 0;

  .empty-folder {
    text-align: center;
    padding-top: 20px;
  }
}

.mat-dialog-actions {
  margin-top: auto;
}

.filepicker-items-table {
  th {
    font-size: 14px;
    font-weight: bold;
    text-transform: none;
    color: $n200;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: $n0;
    border-bottom: 0;
    box-shadow: 0 2px 0 $n50;
    padding-bottom: 12px;

    &.col-icon-name {
      padding-left: 16px;
      padding-right: 0;

      &.col-select {
        padding-left: 8px;
      }
    }

    &.col-size {
      width: 115px;
    }

    &.col-modified {
      width: 155px;
    }

    &.col-select {
      width: 56px;
      padding-bottom: 6px;
    }
  }

  tr:hover {
    mat-checkbox {
     visibility: visible;
    }
  }

  tbody tr {
    color: $n400;

    a, a:hover, a:active, a:visited {
      color: $n400;
      text-decoration: none;
    }

    &:hover {
      cursor: pointer;
      background-color: $n35;
    }
  }

  td {
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.col-name {
      max-width: 0.1px;
    }

    &.col-icon {
      width: 34px;
      padding: 8px 0 8px 16px;

      &.col-select {
        width: 52px;
        padding-left: 8px;
      }
    }

    &.col-select {
      padding-bottom: 0;
      padding-top: 0;
    }

    &:last-child {
      padding-right: 0px;

      @media screen and (min-width: $screen-sm-min) {
        padding-right: 32px;
      }
    }
  }
}

.icon-wrapper {
  position: relative;

  &.checkbox-wrapper {
    padding-left: 32px;
  }

  mat-checkbox {
    position: absolute;
    left: 0;
    bottom: 1px;
    margin-bottom: 0;
  }
}

coyo-spinner {
  margin: 0 auto;
  width: 60px;
  display: block;
}

mat-checkbox {
  visibility: hidden;

  &.visible {
    visibility: visible;
  }
}
