@import "mixins";

$entry-padding: 30px;
$entry-padding-sm: 18px;

.widget-title {
  margin: 0;
}

.rss-entry {
  display: block;
  padding: $entry-padding;
  @include break-word();

  &:nth-child(even) {
    background-color: $color-gray-lighter;
  }

  &:last-child {
    margin-bottom: -25px;
    border-bottom-left-radius: $border-radius-large;
    border-bottom-right-radius: $border-radius-large;
  }

  @media print, screen and (min-width: $screen-sm-min) {
    display: flex;
    margin-left: -$entry-padding;
    margin-right: -$entry-padding;
    padding-right: $entry-padding;

    .rss-body {
      margin: 0;
    }
  }

  @media screen and (max-width: $screen-sm-min) {
    padding: $entry-padding-sm;
    margin: 0px -$entry-padding-sm;
  }

  .image {
    text-align: center;
    flex: 2;
    @media print, screen and (min-width: $screen-sm-min) {
      margin-right: $entry-padding;
    }

    img {
      max-height: 100%;
      max-width: 100%;
      width: 100%;
    }
  }

  .rss-body {
    margin: 0;
    flex: 5;

    .rss-title {
      display: block;
      font-size: 16px;
      line-height: 20px;
      color: $color-link;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-top: 0;
    }

    .rss-description {
      font-size: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: pre-wrap;
    }

    .rss-time-readmore {
      display: flex;
      font-size: 13px;

      .rss-time {
        color: $color-gray;
        margin: 0px 10px 5px 0px;
      }
    }
  }
}

.loading {
  padding: 0 1em;
  text-align: center;

  .coyo-spinner {
    margin: 0;
  }
}
