.timeline-share-message :last-child {
  margin-bottom: 0;
}

@include sm-and-up() {
  .timeline-share .timeline-share-options .dropdown:not(.open) { display: none; }
  .timeline-share:hover .timeline-share-options .dropdown, .touchevents .timeline-share .timeline-share-options .dropdown { display: block; }
}
