<dl class="coyo-file-details dl-horizontal">
  <dt ng-if="$ctrl.file.locked" translate="FILE_DETAILS.STATUS"></dt>
  <dd ng-if="$ctrl.file.locked">
    <coyo-sender-link ng-if="$ctrl.file.lockHolder" [sender]="$ctrl.file.lockHolder"></coyo-sender-link>&nbsp;<span
      translate="FILE_LIBRARY.PREVIEW.FILE_LOCKED_DESCRIPTION"
      translate-value-time="{{$ctrl.file.lockDate | amTimeAgo}}"></span></dd>
  <dt translate="FILE_DETAILS.FILESIZE"></dt>
  <dd>{{:: $ctrl.file.length | fileSize }}</dd>
  <dt translate="FILE_DETAILS.FILETYPE"></dt>
  <dd>{{:: $ctrl.file.contentType }}</dd>
  <dt translate="FILE_DETAILS.FILE_ORIGIN"></dt>
  <dd><coyo-sender-link ng-if="$ctrl.sender" href [sender]="$ctrl.sender"></coyo-sender-link></dd>
  <dt ng-if="$ctrl.fileAuthor" translate="FILE_DETAILS.AUTHOR"></dt>
  <dd ng-if="$ctrl.fileAuthor">
    <coyo-sender-link [sender]="::$ctrl.fileAuthor"></coyo-sender-link>
  </dd>
  <dt translate="FILE_DETAILS.FILE_MODIFIED"></dt>
  <dd>{{:: $ctrl.file.modified | amTimezone: $root.timezone | amDateFormat:$root.dateFormat.long + ', ' + $root.timeFormat.short }}</dd>
  <dt>
    <a ng-if="!$ctrl.isEditable && $ctrl.file._permissions.manage" class="btn btn-xs btn-link btn-edit" ng-click="$ctrl.isEditable = true">
      <i class="zmdi zmdi-hc-fw zmdi-edit"></i>
    </a><!--
 -->{{:: 'FILE_DETAILS.DESCRIPTION' | translate }}
  </dt>
  <dd>
    <form name="descriptionForm" coyo-form-submit="$ctrl.saveDescription()" ng-reset="$ctrl.resetDescription()" coyo-toggle-form="$ctrl.isEditable" coyo-delay-form="$ctrl.file">
      <textarea rows="1" class="form-control" ng-model="$ctrl.file.description" msd-elastic coyo-toggle-field="$ctrl.file.description | markdown | hashtags "></textarea>
      <div ng-if="$ctrl.isEditable">
        <coyo-form-submit-button class="btn-sm mr-xxs" label="SAVE" form-ctrl="descriptionForm"></coyo-form-submit-button><!--
     --><button type="reset" class="btn btn-sm btn-default">
        <i class="zmdi zmdi-hc-fw zmdi-close"></i>&nbsp;{{:: 'CANCEL' | translate }}
      </button>
      </div>
    </form>
  </dd>
</dl>
