<div class="panel panel-default championship-app-settings">
    <div class="panel-heading">
        <h1 class="panel-title">{{:: $ctrl.tournament.name | translate }} <small translate="ADMIN.GAMIFICATION.GAMES.TITLE"></small></h1>
    </div>
    <div class="panel-body">
        <div class="text-center" ng-if="$ctrl.loading">
            <coyo-spinner></coyo-spinner>
        </div>
        <div class="row game-row" ng-repeat="game in $ctrl.page.content" ng-if="!vm.loading">
            <div class="col-md-10 text-center text-muted small">
                <span class="location" translate="{{:: game.label }}"></span> &ndash;
                <span class="time">{{:: game.date | amTimezone: $root.timezone | amDateFormat:$root.dateFormat.long + ', ' + $root.timeFormat.short }}</span>
            </div>
            <div class="col-md-10 game">
                <div class="home-team">
                    <span class="score">{{:: game.homeScore }}</span>
                    <coyo-country-flag ng-if="::game.homeTeam" country="::game.homeTeam.logo" form="rounded"></coyo-country-flag>
                    <span ng-if="::!game.homeTeam" class="country-flag flag-icon-rounded flag-icon-empty">?</span>
                    <span class="name-long" translate="{{:: game.homeTeam.name }}"></span>
                    <span class="name-short" translate="{{:: game.homeTeam.shortName }}"></span>
                </div>
                <div class="team-divider">:</div>
                <div class="away-team">
                    <span class="score">{{:: game.awayScore }}</span>
                    <coyo-country-flag ng-if="::game.awayTeam" country="::game.awayTeam.logo" form="rounded"></coyo-country-flag>
                    <span ng-if="::!game.awayTeam" class="country-flag flag-icon-rounded flag-icon-empty">?</span>
                    <span class="name-long" translate="{{:: game.awayTeam.name }}"></span>
                    <span class="name-short" translate="{{:: game.awayTeam.shortName }}"></span>
                </div>
            </div>
            <div class="col-md-2 game-edit">
                <a ui-sref=".edit({id: game.id, page: $ctrl.page.number})" class="btn btn-link" translate="EDIT"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <coyo-table-pagination ng-if="$ctrl.page" page="$ctrl.page"></coyo-table-pagination>
            </div>
        </div>
    </div>
</div>
