@import "variables";
@import "mixins";

:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  max-height: 100%;
  min-height: 0;

  .table-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    max-height: 100%;
    min-height: 100%;
    overflow-y: auto;
  }

  .empty-search {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: center;

    span {
      color: $n200;
    }
  }

  table {
    width: 100%;

    tbody {
      display: block;

      tr {
        width: 100%;
        display: table;

        &:not(:last-child) {
          border-bottom: 1px solid $n50;
        }

        &.table-row-skeleton > td {
          padding: 4px 16px;
        }

        &.clickable {
          cursor: pointer;

          &:hover {
            background-color: $n35;
          }
        }

        td {
          padding: 16px;
          vertical-align: middle;

          & > * {
            vertical-align: middle;
          }
        }

        td:not(:first-child) {
          padding-left: 0;
        }
      }
    }
  }

  .avatar-image {
    max-height: 40px;
    max-width: 40px;
  }

  .invite-info-wrapper {
    width: 100%;

    .invite-info {
      display: grid;

      .name {
        font-size: 16px;
        color: $n600;
      }

      .additional-information {
        font-size: 14px;
        color: $n200;
      }

      > * {
        @include ellipsis();
      }
    }
  }
}

:host-context(.review-area) {
  table > tbody > tr {
    border-bottom: none;

    .remove-invite {
      opacity: 0;

      &:focus,
      &:hover {
        opacity: 1;
      }
    }

    &:hover {
      background-color: $n35;
      border-radius: 4px;

      .remove-invite {
        opacity: 1;
      }
    }

    > td {
      padding: 8px 12px;
    }
  }
}

:host-context(.review-area-mobile) {
  table > tbody > tr {
    border-bottom: none;

    > td {
      padding: 8px 12px;
    }
  }
}
