<cdk-virtual-scroll-viewport class="table-container"
                             *ngIf="guestDataSource | async as dataSource"
                             [itemSize]="virtualScrollSizes[scrollSettings].itemSize"
                             [minBufferPx]="virtualScrollSizes[scrollSettings].minBufferPx"
                             [maxBufferPx]="virtualScrollSizes[scrollSettings].maxBufferPx">
  <table *ngIf="!(dataSource.isEmpty$ | async)">
    <tbody>
      <ng-container *cdkVirtualFor="let guest of dataSource">

        <tr *ngIf="guest"
            [ngClass]="{'clickable': renderCheckbox}"
            (click)="renderCheckbox && change($event, guest)">
          <td>
            <div class="avatar-image">
              <coyo-sender-avatar [sender]="guest" [avatarSize]="'sm'" [noLink]="true"></coyo-sender-avatar>
            </div>
          </td>
          <td class="invite-info-wrapper">
            <div class="invite-info">
              <div class="name" title="{{guest.displayName}}">{{guest.displayName}}</div>
              <ng-container *ngIf="showAdditionalInfos">
                <div class="additional-information" *ngFor="let additionalInfo of guest?.additionalInformation">
                  <span translate [translateParams]="processParams(additionalInfo?.translationArgs)">{{additionalInfo?.translationKey}}</span>
                </div>
              </ng-container>
            </div>
          </td>
          <td class="shrink">
            <mat-checkbox labelPosition="before"
                          *ngIf="renderCheckbox"
                          [ngModel]="guest.selected"
                          (keyup.space)="change($event, guest)"
                          (click)="change($event, guest)">
            </mat-checkbox>
            <button type="button"
                    class="remove-invite"
                    mat-icon-button
                    *ngIf="!renderCheckbox"
                    [attr.aria-label]="'USER.CHOOSER.INVITE.REMOVE' | translate"
                    (click)="guest.selected = false; emitChange(guest);">
              <mat-icon svgIcon="close"></mat-icon>
            </button>
          </td>
        </tr>

        <tr *ngIf="!guest" class="table-row-skeleton">
          <td colspan="3">
            <ui-skeleton [skeletons]="skeletons"></ui-skeleton>
          </td>
        </tr>

      </ng-container>
    </tbody>
  </table>
  <div *ngIf="(dataSource.isEmpty$ | async)" class="empty-search">
    <span translate="USER_CHOOSER.EMPTY.SEARCH"></span>
  </div>
</cdk-virtual-scroll-viewport>

