@import 'variables';
@import 'mixins';

ui-skeleton,
.event-card {
  margin: 16px 0 24px;

  &:last-child {
    margin-bottom: 0;
  }
}

.event-cover-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;

  a {
    display: block;
    padding-bottom: 25%;
    background: none center/cover $n75;
    min-height: 72px;
  }
}

.event-tag {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  background: $n0;
  position: absolute;
  top: calc(50% - 28px);
  left: nth($panel-body-padding, 2);
  border-radius: $coyo-border-radius-md;
  font-weight: 600;

  @media screen and (max-width: $screen-xs-max) {
    left: nth($panel-xs-body-padding, 2);
  }

  .event-tag-day {
    font-size: 24px;
    line-height: 32px;
    color: $r300;
  }

  .event-tag-month {
    font-size: 14px;
    line-height: 20px;
    color: $n500;
    margin-top: -4px;
  }
}

.event-title {
  font-weight: bold;
  line-height: 20px;
  margin: 16px 0 8px;

  a {
    color: $text-color;
    @include hyphenate-break();
    @include ellipsis-multiline(3, 60px);
  }
}

.event-detail {
  margin-top: 4px;
  display: flex;
  font-size: 14px;
  line-height: 20px;
}

.mat-icon {
  margin-top: 2px;
  margin-right: 4px;
  color: $n200;
}

.event-detail-place {
  @include hyphenate-break();
  @include ellipsis-multiline(2, 40px);
}

.empty {
  color: $text-muted;
  margin: 0;
}
