<h4 class="widget-title">
  {{(widget.settings._titles && widget.settings._titles[0]) || ("WIDGETS.UPCOMING.EVENTS.NAME" | translate)}}
</h4>

<ng-container *ngIf="events$ | async; let events; else loading">
  <div *ngFor="let event of events" class="event-card">
    <div class="panel-full-width event-cover-wrapper">
      <a uiSref="main.event.show.information" tabindex="-1"
         [uiParams]="{idOrSlug: event.slug}"
         [style.backgroundImage]="getCover(event)"></a>
      <div class="event-tag">
        <span class="event-tag-day">{{event.startDate  | amDateFormat : 'D'}}</span>
        <span class="event-tag-month">{{event.startDate  | amDateFormat : 'MMM'}}</span>
      </div>
    </div>
    <h5 class="event-title"><a uiSref="main.event.show.information" [uiParams]="{idOrSlug: event.slug}">{{event.name}}</a></h5>
    <div class="event-detail">
      <mat-icon svgIcon="calendar" size="small"></mat-icon>
      <span class="event-detail-date">{{event | eventDate}}</span>
    </div>
    <div class="event-detail" *ngIf="!event.fullDay">
      <mat-icon svgIcon="clock-filled" size="small"></mat-icon>
      <span class="event-detail-time">{{event | eventTime}}</span>
    </div>
    <div class="event-detail" *ngIf="event.place">
      <mat-icon svgIcon="location-pin" size="small"></mat-icon>
      <span class="event-detail-place">{{event.place}}</span>
    </div>
  </div>
  <p *ngIf="!events.length" class="empty" translate="WIDGETS.UPCOMING.EVENTS.NO.UPCOMING.EVENTS"></p>
</ng-container>

<ng-template #loading>
  <div class="panel-full-width">
    <ui-skeleton *ngFor="let i of skeletonCount$ | async | toArray" [skeletons]="skeletons"></ui-skeleton>
  </div>
</ng-template>
