<div class="admin-user" ng-cloak>
  <coyo-filterbox filter-active="!!vm.page._queryParams.status">
    <fb-filter>
      <coyo-filter title-key="ADMIN.USER_MGMT.USERS.FILTER.STATUS.LABEL">
        <coyo-filter-entry ng-repeat="option in vm.filter.status.options"
                           icon="{{option.icon}}"
                           active="vm.page._queryParams.status === option.value"
                           on-click="vm.filter.status.changed(option.value)"
                           text-key="{{option.labelKey}}"></coyo-filter-entry>
      </coyo-filter>
      <coyo-filter title-key="ADMIN.USER_MGMT.USERS.FILTER.ROLE.LABEL">
        <coyo-filter-entry ng-repeat="option in vm.filter.role.options"
                           icon="{{option.icon}}"
                           active="vm.page._queryParams.role === option.value"
                           on-click="vm.filter.role.changed(option.value)"
                           text-key="{{option.labelKey}}"></coyo-filter-entry>
      </coyo-filter>
    </fb-filter>
    <fb-search>
      <coyo-search-filter change="vm.filter.displayName.changed"
                          placeholder="ADMIN.USER_MGMT.USERS.SEARCH"
                          search-term="{{vm.page._queryParams.displayName}}"></coyo-search-filter>
    </fb-search>
    <fb-count>
      <coyo-counter value="vm.page.totalElements"
                    key-none="ADMIN.USER_MGMT.USERS.USERS_NONE"
                    key-singular="ADMIN.USER_MGMT.USERS.USERS_SINGULAR"
                    key-plural="ADMIN.USER_MGMT.USERS.USERS_PLURAL"></coyo-counter>
    </fb-count>
    <fb-actions>
      <li>
        <button type="button" class="btn btn-block btn-link" ui-sref="admin.user-management.user.create">
          <i class="zmdi zmdi-plus-circle"></i>&nbsp;{{:: 'ADMIN.USER_MGMT.USERS.OPTIONS.CREATE' | translate }}
        </button>
      </li>
    </fb-actions>
  </coyo-filterbox>

  <div class="panel panel-default panel-users panel-list" ng-hide="vm.firstLoad">
    <div class="panel-body" data-test="panel-list-user-management">

      <!-- mobile view -->
      <ul ng-if="vm.mobile" class="list-group"
          ng-class="{'list-unstyled': !vm.page.content.length > 0 && !vm.firstLoad}"
          coyo-infinite-scroll="vm.nextPage()"
          coyo-infinite-scroll-element="$window">
        <li ng-if="!vm.page.content.length > 0 && !vm.firstLoad"
            class="text-center text-muted pv-s"
            translate="ADMIN.USER_MGMT.USERS.EMPTY"></li>
        <li class="list-group-item"
            ng-repeat="row in vm.page.content track by row.id"
            ng-class="{'animate-removal': vm.userAction }"
            id="user-row-{{$index}}">
          <div class="row">
            <div class="col-xs-8">
              <div>
                {{row.displayName}}
                <span class="user-superadmin"
                      ng-if="row.superadmin"
                      uib-tooltip="{{::'USER.SUPERADMIN' | translate}}">
                  <i class="zmdi zmdi-star"></i>
                </span>
                <span ng-if="::row.remoteUserDirectory">
                  &nbsp;<i class="zmdi zmdi-folder-person" uib-tooltip="{{::row.remoteUserDirectory.name}}"></i>
                </span>
              </div>
              <div class="text-muted">{{row.email}}</div>
              <div class="anonymization-date" ng-if="row.anonymizationDate">
                {{:: 'ADMIN.USER_MGMT.USERS.SCHEDULED_ANONYMIZATION' | translate}}
                <coyo-time-ago [date]="row.anonymizationDate"></coyo-time-ago>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <oyoc-user-status status="row.status" class="pull-right"></oyoc-user-status>
            </div>
          </div>
        </li>
      </ul>
      <coyo-context-menu ng-if="vm.mobile"
                         ng-repeat="row in vm.page.content track by row.id"
                         toggle-element="#user-row-{{$index}}"
                         title="{{row.displayName}}">
        <oyoc-user-options actions="vm.actions" user="row"></oyoc-user-options>
      </coyo-context-menu>

      <!-- desktop view -->
      <table ng-if="!vm.mobile" class="table table-striped table-hover">
        <thead>
        <tr>
          <th coyo-table-sorting page="vm.page" property="lastname.sort,firstname.sort"
              title="{{:: 'ADMIN.USER_MGMT.USERS.HEADINGS.DISPLAY_NAME' | translate }}"></th>
          <th coyo-table-sorting page="vm.page" property="email"
              title="{{:: 'ADMIN.USER_MGMT.USERS.HEADINGS.EMAIL' | translate }}"></th>
          <th>{{:: 'ADMIN.USER_MGMT.USERS.HEADINGS.GROUPS' | translate }}</th>
          <th>{{:: 'ADMIN.USER_MGMT.USERS.HEADINGS.ROLES' | translate }}</th>
          <th>{{:: 'ADMIN.USER_MGMT.USERS.HEADINGS.DIRECTORY' | translate }}</th>
          <th>{{:: 'ADMIN.USER_MGMT.USERS.HEADINGS.STATUS' | translate }}</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-hide="vm.page.content.length > 0 || vm.firstLoad">
          <td colspan="7" class="text-center text-muted" translate="ADMIN.USER_MGMT.USERS.EMPTY"></td>
        </tr>
        <tr ng-repeat="row in vm.page.content track by row.id" ng-class="{'animate-removal': vm.userAction }">
          <td>
            <span>{{row.displayName}}
              <span class="user-superadmin"
                    ng-if=":: row.superadmin && !row.externalWorkspaceMember"
                    uib-tooltip="{{::'USER.SUPERADMIN' | translate}}">
                  <i class="zmdi zmdi-star"></i>
                </span>
              <br>
              <small class="text-muted">
                {{:: 'ADMIN.USER_MGMT.USERS.LOGIN_COUNT' | translate }}: {{ row.loginCount }}
                <span ng-if="row.lastLogin">
                  ({{:: 'ADMIN.USER_MGMT.USERS.LAST_LOGIN' | translate }}: {{ row.lastLogin | amTimezone: $root.timezone | amDateFormat:$root.dateFormat.long + ', ' + $root.timeFormat.short }})
                </span>
              </small>
              <small class="anonymization-date" ng-if="row.anonymizationDate"
                     uib-tooltip="{{:: row.anonymizationDate | amTimezone: $root.timezone | amDateFormat:$root.dateFormat.short + ', ' + $root.timeFormat.short }}"
                     tooltip-popup-delay="500"
                     tooltip-placement="right"
                     tooltip-append-to-body="true">
                {{:: 'ADMIN.USER_MGMT.USERS.SCHEDULED_ANONYMIZATION' | translate}}
                <coyo-time-ago [date]="row.anonymizationDate"></coyo-time-ago>
              </small>
            </span>
          </td>
          <td class="break-all">{{row.email}}</td>
          <td>
            <div ng-repeat="group in row.groups">{{group.displayName}}</div>
          </td>
          <td>
            <div ng-repeat="role in row.roles">{{role.displayName}}</div>
          </td>
          <td class="break-all">
            <span ng-if="row.remoteUserDirectory">{{row.remoteUserDirectory.name}}</span>
            <span ng-if="!row.remoteUserDirectory">{{:: 'ADMIN.USER_MGMT.USERS.LOCAL' | translate}}</span>
            <br>
            <small class="text-muted">
              <div class="loginName">{{row.loginName}}</div>
              <div class="loginNameAlt" ng-if="row.loginNameAlt">{{row.loginNameAlt}}</div>
            </small>
          </td>
          <td>
            <oyoc-user-status status="row.status"></oyoc-user-status>
          </td>
          <td class="column-options">
            <coyo-context-menu align-right="true">
              <oyoc-user-options actions="vm.actions" user="row"></oyoc-user-options>
            </coyo-context-menu>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <coyo-table-pagination page="vm.page" class="hidden-xs hidden-sm"></coyo-table-pagination>

  <div class="text-center m-m" ng-show="vm.page.loading">
    <coyo-spinner></coyo-spinner>
  </div>
</div>
