<div class="checkbox">
    <div class="sub-settings">
        <div ng-repeat="source in $ctrl.notificationSources track by $index">
            <coyo-checkbox input-id="$ctrl.assembleInputId(source)"
                           ng-model="$ctrl.setting.properties.notifications[source]"
                           ng-change="$ctrl.onChange(setting)" ng-disabled="!$ctrl.setting.active"
                           disabled="!$ctrl.setting.active"></coyo-checkbox>
            <label class="no-user-select" for="{{$ctrl.assembleInputId(source)}}">
                {{:: 'MODULE.ACCOUNT.NOTIFICATION_SETTINGS.FORM.SOURCES.' + source + '.CHECKBOXLABEL' | uppercase | translate}}
            </label>
        </div>
    </div>
</div>
