@import "variables";
@import "mixins";

.timeline-item-message {
  @include break-word();
}

.timeline-item-edited {
  font-size: 14px;
  line-height: 20px;
  margin: 12px 0 0;
  color: $n200;
}

.timeline-item-attachments :first-child {
  display: block;
  margin-top: 12px;
}
