@import "variables";

:host {
  input {
    color: $n200;
  }

  .mat-datepicker-toggle {
    position: absolute;
    right: 35%;
    z-index: 10;
  }
}

:host-context(.full-day) {
  .mat-datepicker-toggle {
    right: 0;
  }
}


