@import "variables";
@import "mixins";

.btn {
  width: 100%;
  height: 40px;
  @include ellipsis();
}

:host-context(.widget-slot-panels) {
  .btn {
    margin-bottom: $line-height-computed;

    @include sm-and-down {
      margin-bottom: 12px;
    }
  }
}
