<div class="text-center text-muted ph-l pv-s">
  <span translate="{{::$ctrl.textKey}}" translate-values="$ctrl.translateValues"></span>
  <br/>
  <a href ng-if="$ctrl.filtersResettable" ng-click="::$ctrl.resetFilters()" translate="MODULE.SEARCH.CLEAR"></a>
</div>
