<span class="page-visibility" ng-switch="::page.visibility || visibility"
      uib-tooltip="{{:: 'PAGE.VISIBILITY.' + (page.visibility || visibility) + '.LABEL' | translate }}" tooltip-popup-delay="500" tooltip-append-to-body="true" data-test="page-visibility">
  <i ng-switch-when="PRIVATE" class="zmdi zmdi-hc-fw zmdi-eye-off"></i>
  <i ng-switch-when="PROTECTED" class="zmdi zmdi-hc-fw zmdi-lock"></i>
  <i ng-switch-default class="zmdi zmdi-hc-fw zmdi-globe"></i>
</span>
