<ng-container [ngSwitch]="visibility">
  <mat-icon *ngSwitchCase="'PRIVATE'" svgIcon="lock"
            [matTooltip]="'MODULE.PAGES.VISIBILITY.PRIVATE.LABEL' | translate" matTooltipPosition="left"></mat-icon>
  <mat-icon *ngSwitchCase="'PUBLIC'" svgIcon="globe"
            [matTooltip]="'MODULE.PAGES.VISIBILITY.PUBLIC.LABEL' | translate" matTooltipPosition="left"></mat-icon>
</ng-container>
