<span class="progress-steps" data-test="text-tour-steps"> {{ $ctrl.stepIndex }}/{{ $ctrl.maxSteps }} </span>
<uib-progressbar class="active no-padding" animate="false" max="$ctrl.maxSteps" value="$ctrl.stepIndex"></uib-progressbar>