<div [formGroup]="parentForm">
  <div class="form-group" formGroupName="_button">
    <label class="col-sm-2 control-label" translate="WIDGET.BUTTON.SETTINGS.STYLE"></label>
    <div class="col-sm-10">
      <div class="row">
        <div class="btn-group col-xs-12" btnRadioGroup formControlName="btnClass">
          <label *ngFor="let style of styles" [attr.data-test]="'form-style-' + style.clazz"
                 [btnRadio]="style.clazz" class="btn col-xs-4 col-sm-2" [ngClass]="style.clazz"
                 tabindex="0" role="button">{{ style.name | translate }}</label>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group" [class.has-error]="isInvalid('text')">
    <label class="col-sm-2 control-label" for="text" translate="WIDGET.BUTTON.SETTINGS.TEXT"></label>
    <div class="col-sm-10">
      <input class="form-control" type="text" name="text" id="text" data-test="form-text" formControlName="text">
    </div>
  </div>

  <div class="form-group" [class.has-error]="isInvalid('url')">
    <label class="col-sm-2 control-label" for="_url" translate="WIDGET.BUTTON.SETTINGS.URL"></label>
    <div class="col-sm-10">
      <div class="input-group">
        <div class="input-group-addon"><i class="zmdi zmdi-link"></i></div>
        <input class="form-control" type="url" name="_url" id="_url" data-test="form-url" formControlName="_url"
               placeholder="{{ 'WIDGET.BUTTON.SETTINGS.URL.PLACEHOLDER' | translate }}">
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
      <coyo-checkbox id="target-checkbox" name="_linkTarget" formControlName="_linkTarget"
                     label="WIDGET.BUTTON.SETTINGS.TARGET"
                     trueValue="_blank" falseValue="_self" data-test="form-external">
      </coyo-checkbox>
    </div>
  </div>
</div>
