@import "variables";
@import "mixins";

.btn-group .btn {
  @include ellipsis();

  @include xs() {
    &:nth-child(1) {
      border-bottom-left-radius: 0  !important;
    }
    &:nth-child(3) {
      border-top-right-radius: $border-radius-small !important;
      border-bottom-right-radius: 0 !important;
    }
    &:nth-child(4) {
      margin-left: 0;
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: $border-radius-small !important;
    }
    &:nth-child(6) {
      border-top-right-radius: 0 !important;
    }
  }
}
