<li>
  <button type="button" class="btn btn-default btn-block" ng-click="$ctrl.actions.deleteApiClient($ctrl.apiClient);">
    <i class="zmdi zmdi-hc-fw zmdi-delete"></i>&nbsp;<span translate="ADMIN.API_CLIENTS.OPTIONS.DELETE.MENU"></span>
  </button>
</li>