.forum-app {

  .panel {
    .thread-answer-info {
      .label-default {
        background-color: black;
      }
    }
  }

  .forum-thread {
    .thread-answers {
      .pagination {
        margin: 0 24px 16px 24px;
      }

      .thread-answer {
        .thread-answer-text {
          margin-top: 10px;
        }

        @media print, screen and (min-width: $screen-md-min) {
          .thread-answer-context-menu {
            color: $color-gray;
            float: right;

            &:hover {
              color: $text-color;
            }
          }
        }
      }
    }

    .thread-answers-answers {
      margin-bottom: 24px;
      
      .panel-body {
        display: flex;
        flex-direction: row;
        
        .thread-answer-author {
          margin-top: 4px;
        }
        
        .thread-answer-data {
          width: 100%;
          min-width: 0;
          
          .author {
            margin-right: 8px;
          }
          
          .label {
            display: inline-block;
            font-size: 12px;
            font-weight: normal;
            line-height: 1em;
            margin-right: 8px;
            vertical-align: 2px;
          }

          .thread-time {
            white-space: nowrap;
          }

        }

        .thread-answer-context-menu-container {
          flex: 1;
          .context-menu {
            margin-left: 5px;
          }
        }

        .thread-answer-attachments {
          border-top: 1px solid $color-gray-light;
          padding-top: 20px;
        }
      }

      .thread-answer-deleted-content {
        color: $color-gray;
      }
    }
  }

}
