<li ng-if="$ctrl.jobStatus.state !== 'RUNNING'">
    <button type="button" class="btn btn-default btn-block" ng-click="$ctrl.startJob()">
        <i class="zmdi zmdi-hc-fw zmdi-play"></i>&nbsp;<span translate="ADMIN.JOBS.DETAILS.START_MANUALLY"></span>
    </button>
</li>
<li ng-if="$ctrl.jobStatus.state === 'RUNNING'">
    <button type="button" class="btn btn-default btn-block" ng-click="$ctrl.stopJob()">
        <i class="zmdi zmdi-hc-fw zmdi-stop"></i>&nbsp;<span translate="ADMIN.JOBS.DETAILS.STOP_MANUALLY"></span>
    </button>
</li>
<li>
    <button type="button" class="btn btn-default btn-block" ui-sref="admin.jobs.details({name: $ctrl.job.name})">
        <i class="zmdi zmdi-hc-fw zmdi-edit"></i>&nbsp;<span translate="ADMIN.JOBS.OPTIONS.DETAILS.MENU"></span>
    </button>
</li>
