<div class="messaging-channels">

  <coyo-tour-step ng-if="$root.screenSize.isLg" topic="messaging" step-id="messaging.main" order="45" placement="left"
                  fixed="true"
                  title="{{:: 'TOUR.MAIN.MESSAGING.TITLE' | translate }}" aria-hidden="true"
                  content="{{:: 'TOUR.MAIN.MESSAGING' | translate }}"></coyo-tour-step>

  <div class="messaging-header">

    <!-- Messaging Header -->
    <span class="messaging-title"
          translate="MODULE.MESSAGING.SIDEBAR.TITLE"
          aria-hidden="true"
          data-test="text-messaging-channel-title"></span>

    <!-- Messaging Navbar -->
    <span class="messaging-header-icon-bar"><!--
      Channel Create Form
    --><a ng-click="$ctrl.msgSidebar.switchView('channelForm')" data-test="button-create-chat-channel"><coyo-tour-step
        ng-if="$root.screenSize.isLg" topic="messaging" step-id="messaging.channel" order="50" fixed="true"
        popup-class="adjust-arrow-for-messaging"
        placement="bottom-right" title="{{:: 'TOUR.MAIN.MESSAGING.CHANNEL.TITLE' | translate }}" aria-hidden="true"
        content="{{:: 'TOUR.MAIN.MESSAGING.CHANNEL' | translate }}"></coyo-tour-step><i aria-hidden="true"
                                                                                        class="zmdi zmdi-plus-circle-o"
                                                                                        uib-tooltip="{{ ::'MODULE.MESSAGING.CREATE_CHANNEL.TIP' | translate}}"
                                                                                        tooltip-placement="left"
                                                                                        tooltip-popup-delay="500"></i>
      <span class="sr-only" translate="MODULE.MESSAGING.CREATE_CHANNEL.TIP"></span>
    </a><!--
      Presence Status
    --><a ng-click="$ctrl.msgSidebar.switchView('presenceStatus')"
          class="presence-status"
          data-test="button-presence-status"><coyo-tour-step
        ng-if="$root.screenSize.isLg" topic="messaging" step-id="messaging.presence" order="55" fixed="true"
        popup-class="adjust-arrow-for-messaging"
        title="{{:: 'TOUR.MAIN.MESSAGING.PRESENCE.TITLE' | translate }}" aria-hidden="true" placement="bottom-right"
        content="{{:: 'TOUR.MAIN.MESSAGING.PRESENCE' | translate }}"></coyo-tour-step><i aria-hidden="true"
                                                                                         class="zmdi zmdi-circle {{$ctrl.msgSidebar.presenceStatus.state}}"
                                                                                         uib-tooltip-template="'app/modules/messaging/components/messaging-sidebar/messaging-presence-status-tooltip.html'"
                                                                                         tooltip-placement="left-top"
                                                                                         tooltip-popup-delay="500"
                                                                                         data-test="icon-presence-status"></i>
        <span class="sr-only" translate="MODULE.MESSAGING.PRESENCE_STATUS.ARIA"
              translate-values="{status: $ctrl.msgSidebar.presenceStatus.state}"></span>
      </a>
    </span>
  </div>

  <!-- Channel List -->
  <nav role="navigation" aria-label="{{::'MODULE.MESSAGING.CHANNELS.LIST.ARIA' | translate}}" class="messaging-content"
       oyoc-scroll-scope
       coyo-infinite-scroll="$ctrl.loadMore()"
       coyo-infinite-scroll-no-initial-load="false">

    <div ng-repeat="channel in $ctrl.channels | orderBy:'-updated' track by channel.id"
         title="{{::channel.getDisplayName($ctrl.currentUser)}}"
         ng-click="$ctrl.msgSidebar.openChannel(channel)"
         data-test="button-message-channel-{{::channel.getDisplayName($ctrl.currentUser)}}">
      <coyo-refresh on-root-scope-event="'messaging-channel:' + channel.id + ':updated'">
        <div class="messaging-channels-ch" ng-click="$ctrl.msgSidebar.toggleCompact(false)">
          <div class="messaging-channels-avatar" aria-hidden="true">
            <oyoc-messaging-channel-avatar channel="::channel" current-user="::$ctrl.currentUser"
                                           show-external-flag="true" link-to-profile="false"
                                           size="sm"></oyoc-messaging-channel-avatar>
            <div class="unread-count compact-view" ng-if="channel.unreadCount > 0 && $ctrl.msgSidebar.compact">
              <span ng-if="::channel.unreadCount > 99">+</span>
              <span ng-if="::channel.unreadCount <= 99">{{::channel.unreadCount}}</span>
            </div>
            <mat-icon svg-icon="volume-off" ng-if="$ctrl.msgSidebar.compact && channel.isMuted($ctrl.currentUser.id)" class="mat-small"></mat-icon>
          </div>
          <div class="messaging-channels-ch-info">
            <div class="line">
              <div class="user" title="{{::channel.getDisplayName($ctrl.currentUser)}}">
                <mat-icon svg-icon="volume-off" ng-if="channel.isMuted($ctrl.currentUser.id)"></mat-icon>
                <span>{{::channel.getDisplayName($ctrl.currentUser)}}</span>
              </div>
              <div class="unread-count" ng-if="::channel.unreadCount > 0" aria-hidden="true">
                <span ng-if="::channel.unreadCount > 99">+</span>
                <span ng-if="::channel.unreadCount <= 99">{{::channel.unreadCount}}</span>
              </div>
            </div>
            <div class="line small" aria-hidden="true">
              <div class="last-message"
                   title="{{::channel.lastCreatedMessage.data.message | limitTo: 75 }}{{::channel.lastCreatedMessage.data.message.length > 75 ? '&hellip;' : ''}}"><!--
                   -->{{::channel.lastCreatedMessage.data.message}}
              </div>
              <coyo-message-timestamp class="time"
                                      date="::channel.lastCreatedMessage.created"
                                      tooltip-placement="auto top"></coyo-message-timestamp>
            </div>
            <div class="sr-only">
              <span translate="MODULE.MESSAGING.CHANNELS.LIST.UNREAD_MESSAGES.ARIA"
                    translate-values="{count: {{::channel.unreadCount}}}" class="sr-only"></span>
              <span class="sr-only" ng-if="::channel.lastCreatedMessage.data.message"
                    translate="MODULE.MESSAGING.CHANNELS.LIST.LAST_MESSAGE.ARIA"></span>
              <span>{{::channel.lastCreatedMessage.data.message}}</span>
            </div>
          </div>
        </div>
      </coyo-refresh>
    </div>

    <!-- Empty -->
    <p class="text-muted text-center m-xs" ng-if="!$ctrl.channels.length && !$ctrl.msgSidebar.compact">
      <strong translate="MODULE.MESSAGING.CHANNELS.EMPTY.TITLE"></strong><br>
      <span translate="MODULE.MESSAGING.CHANNELS.EMPTY.TEXT"></span>
    </p>

    <!-- Spinner -->
    <div class="text-center mt-xxs" ng-if="$ctrl.loading" role="presentation">
      <coyo-spinner inverted="true" size="sm"></coyo-spinner>
    </div>

  </nav>

  <div class="messaging-footer hidden-xs hidden-sm hidden-md">

    <!-- Collapse -->
    <a class="collapse-sidebar-toggle"
       aria-hidden="true"
       ng-click="$ctrl.msgSidebar.toggleCompact(true)"
       ng-show="!$ctrl.msgSidebar.compact"
       data-test="button-chat-sidebar-collapse">
      <i class="zmdi zmdi-chevron-right"></i><!--
   --><i class="zmdi zmdi-chevron-right"></i>
    </a>

    <!-- Expand -->
    <a class="expand-sidebar-toggle"
       aria-hidden="true"
       ng-click="$ctrl.msgSidebar.toggleCompact(false)"
       ng-show="$ctrl.msgSidebar.compact"
       data-test="button-chat-sidebar-expand">
      <i class="zmdi zmdi-chevron-left"></i><!--
   --><i class="zmdi zmdi-chevron-left"></i>
    </a>
  </div>
</div>
