<li>
  <button type="button" class="btn btn-default btn-block" ui-sref="admin.themes.edit({id: $ctrl.theme.id})">
    <i class="zmdi zmdi-hc-fw zmdi-edit"></i>&nbsp;<span translate="ADMIN.THEMES.OPTIONS.EDIT.MENU"></span>
  </button>
</li>
<li class="divider" ng-if="!$ctrl.theme.default"></li>
<li ng-if="!$ctrl.theme.default">
  <button type="button" class="btn btn-default btn-block" ng-click="$ctrl.actions.deleteTheme($ctrl.theme);">
    <i class="zmdi zmdi-hc-fw zmdi-delete"></i>&nbsp;<span translate="ADMIN.THEMES.OPTIONS.DELETE.MENU"></span>
  </button>
</li>
