<button mat-flat-button [disabled]="!isAdmin" (click)="openSubscribers()" size="small">
  <mat-icon svgIcon="contacts"></mat-icon>
  {{'MODULE.PAGES.SUBSCRIPTIONS' | translate : {count: subscriberCount} }}
</button>
