<div class="coyo-user-list">
    <div class="coyo-user-item-container">
        <coyo-user-item ng-repeat="user in $ctrl.page.content" user="user" show-follow-button="true"></coyo-user-item>
    </div>
    <!-- load more -->
    <button class="btn btn-link btn-more btn-xs" ng-click="$ctrl.page.nextAppended()" ng-if="$ctrl.page && !$ctrl.page.last"><i
            class="zmdi zmdi-more"></i></button>
</div>