.coyo-user-list {
  .coyo-user-item-container {
    margin-left: -30px;
    margin-right: -30px;

    coyo-user-item {
      display: block;
      border-bottom: 1px solid $color-gray-lighter;

      &:last-of-type {
        border: 0;
      }

      .user-item {
        padding: 0 30px;
      }

      .user-item-link {
        border: 0;
      }
    }
  }
  .btn-more {
    color: $color-gray;
    margin: 15px auto 0 auto;
    display: block;
  }
}

.widget-slot.edit-mode .coyo-user-list .coyo-user-item-container {
  margin-left: 0;
  margin-right: 0;
  .user-item {
    padding: 0;
  }
}
