@import 'variables';

.widget-slot-content {
  coyo-widget coyo-upcoming-events-widget {
    .upcoming-event-container {
      flex-direction: column;

      .event-information {
        margin-left: 0;
      }

      .image {
        width: 100%;
        margin-bottom: 10px;

        a.event-avatar {
          width: 100%;
        }
      }
    }
  }
}

.form-group .checkbox {
  padding-left: 0;
  padding-top: 8px;
}

.event-sender-chooser {
  margin-top: 10px;
}

.fetchEvents {
  display: flex;
  flex-direction: column;

  .text-muted {
    margin-left: 30px;
  }
}
