@import "variables";
@import "mixins";

coyo-user-avatar {
  filter: blur(3px);

  &:nth-child(1) {
    position: relative;
    bottom: -20px;
    margin-right: -10px;

    @media screen and (min-width: $screen-sm-max) and (max-width: calc(#{$screen-md-max} + 80px)) {
      margin-right: -20px;
    }
  }

  &:nth-child(2) {
    z-index: 100;
    margin-bottom: 30px;
  }

  &:nth-child(3) {
    position: relative;
    bottom: -20px;
    margin-left: -10px;

    @media screen and (min-width: $screen-sm-max) and (max-width: calc(#{$screen-md-max} + 80px)) {
      margin-left: -20px;
    }
  }
}
