.theme-list {
  li {
    .row {
      .drag-column {
        padding-top: 3px;
        padding-left: 0;

        .drag-handle {
          font-weight: normal;
        }
      }
      .theme-name {
        padding-top: 3px;
      }
    }
    &.theme-list-header {
      border: 0;
      color: $color-gray;
      font-weight: normal;
      text-transform: uppercase;
      font-size: 13px;
    }
  }
  .forbidden {
    color: $color-gray-light;
  }
}
