<div class="admin-theme-list" ng-cloak>
  <coyo-filterbox>
    <fb-search>
      <coyo-search-filter change="$ctrl.onChangeName"
                    placeholder="ADMIN.THEMES.SEARCH"
                    search-term="{{$ctrl.queryParams.displayName}}"></coyo-search-filter>
    </fb-search>
    <fb-count>
      <coyo-counter value="$ctrl.themes.length"
             key-none="ADMIN.THEMES.NONE"
             key-singular="ADMIN.THEMES.SINGULAR"
             key-plural="ADMIN.THEMES.PLURAL"></coyo-counter>
    </fb-count>
    <fb-actions>
      <li>
        <button type="button" class="btn btn-block btn-link" ui-sref="admin.themes.create">
          <i class="zmdi zmdi-plus-circle"></i>&nbsp;{{:: 'ADMIN.THEMES.OPTIONS.CREATE' | translate }}
        </button>
      </li>
    </fb-actions>
  </coyo-filterbox>

  <div class="panel panel-default panel-list">
    <div class="panel-body" ui-tree="$ctrl.treeOptions" empty-placeholder-enabled="false" max-depth="1"
         drag-enabled="$ctrl.themes.length > 2 && !$ctrl.isFiltered">

      <div class="alert alert-warning mb-xs" role="alert" translate="ADMIN.THEMES.HELP"></div>

      <!-- mobile view -->
      <ul ng-if="$ctrl.isMobile" class="list-group theme-list" ui-tree-nodes max-depth="1" ng-model="$ctrl.themes">
        <li ng-hide="$ctrl.themes.length"
            class="text-center text-muted pv-s"
            translate="ADMIN.THEMES.EMPTY"></li>
        <li class="list-group-item theme-list-header" ng-hide="!$ctrl.themes.length">
          <div class="row">
            <div class="col-xs-1 drag-column">
            </div>
            <div class="col-xs-7" translate="ADMIN.THEMES.HEADINGS.NAME"></div>
            <div class="col-xs-4 text-center" translate="ADMIN.THEMES.HEADINGS.ACTIVE">
            </div>
          </div>
        </li>
        <li ng-repeat="theme in $ctrl.themes"
            ng-class="{'animate-removal': $ctrl.userAction }"
            id="admin-theme-{{$index}}"
            class="list-group-item" ui-tree-node>
          <div class="row">
            <div class="col-xs-1 drag-column">
              <i class="zmdi zmdi-hc-fw zmdi-swap-vertical drag-handle"
                 ng-hide="$ctrl.themes.length < 3 || theme.default || $ctrl.isFiltered"
                 ui-tree-handle></i>
            </div>
            <div class="col-xs-7 theme-name" ng-class="::{'text-muted': theme.default}">{{::theme.displayName}}</div>
            <div class="col-xs-4 text-right">
              <coyo-active-label ng-if="::!theme.default" ng-model="theme.active"></coyo-active-label>
              <span ng-if="::theme.default" class="label label-primary">{{::'ADMIN.THEMES.DEFAULT' | translate}}</span>
            </div>
          </div>
        </li>
      </ul>
      <coyo-context-menu ng-if="$ctrl.isMobile"
                    ng-repeat="theme in $ctrl.themes track by theme.id"
                    toggle-element="#admin-theme-{{$index}}"
                    title="{{theme.displayName}}">
        <oyoc-theme-options actions="$ctrl.actions" theme="theme"></oyoc-theme-options>
      </coyo-context-menu>

      <!-- desktop view -->
      <table ng-if="!$ctrl.isMobile" class="table table-striped table-hover m-0">
        <thead>
          <tr>
            <th></th>
            <th translate="ADMIN.THEMES.HEADINGS.NAME"></th>
            <th translate="ADMIN.THEMES.HEADINGS.ACTIVE"></th>
            <th translate="ADMIN.THEMES.HEADINGS.USERS"></th>
            <th translate="ADMIN.THEMES.HEADINGS.GROUPS"></th>
            <th></th>
          </tr>
        </thead>
        <tbody ui-tree-nodes max-depth="1" ng-model="$ctrl.themes">
          <tr ng-hide="$ctrl.themes.length">
            <td colspan="5" class="text-center text-muted" translate="ADMIN.THEMES.EMPTY"></td>
          </tr>
          <tr ng-repeat="theme in $ctrl.themes" ui-tree-node ng-class="{'animate-removal': $ctrl.userAction}">
            <td class="column-options">
              <i class="zmdi zmdi-hc-fw zmdi-swap-vertical"
                 ng-class="{'forbidden': $ctrl.themes.length < 3 || theme.default || $ctrl.isFiltered}"
                 ui-tree-handle></i>
            </td>
            <td ng-class="::{'text-muted': theme.default}">{{::theme.displayName}}</td>
            <td>
              <coyo-active-label ng-if="::!theme.default" ng-model="theme.active"></coyo-active-label>
              <span ng-if="::theme.default" class="label label-primary">{{::'ADMIN.THEMES.DEFAULT' | translate}}</span>
            </td>
            <td>
              <span class="label counter-label label-success" ng-if="::theme.default"><i class="zmdi zmdi-account"></i>{{::'ADMIN.THEMES.USERS.ALL' | translate}}</span>
              <coyo-counter-label ng-if="::!theme.default" value="::theme.userIds.length" icon="zmdi-account"
                                  ng-mouseover="$ctrl.loadUsers(theme)"
                                  uib-tooltip-template="'app/modules/admin/themes/views/theme-list/admin.theme-list-tooltip-users.html'"
                                  tooltip-append-to-body="true"></coyo-counter-label>
            </td>
            <td>
              <span class="label counter-label label-success" ng-if="::theme.default"><i class="zmdi zmdi-accounts"></i>{{::'ADMIN.THEMES.GROUPS.ALL' | translate}}</span>
              <coyo-counter-label ng-if="::!theme.default" value="::theme.userGroupIds.length" icon="zmdi-accounts"
                                  ng-mouseover="$ctrl.loadGroups(theme)"
                                  uib-tooltip-template="'app/modules/admin/themes/views/theme-list/admin.theme-list-tooltip-groups.html'"
                                  tooltip-append-to-body="true"></coyo-counter-label>
            </td>
            <td class="column-options">
              <coyo-context-menu align-right="true">
                <oyoc-theme-options actions="$ctrl.actions" theme="theme"></oyoc-theme-options>
              </coyo-context-menu>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
