<div ui-tree="::$ctrl.treeOptions" empty-placeholder-enabled="false" max-depth="1" ng-class="::{'category-manager': $ctrl.canManage}">
  <div ui-tree-nodes ng-model="$ctrl.categories">
    <coyo-filter class="filter-categories" title-key="{{$ctrl.titleKey}}">
      <coyo-filter-entry text-key="FILTER_ALL"
                         icon="zmdi-check-all"
                         active="$ctrl.isCategoryActive()"
                         on-click="$ctrl.resetCategory()"
                         badge="$ctrl.totalCount">
      </coyo-filter-entry>
      <coyo-filter-entry ng-repeat="category in $ctrl.categories"
                         ui-tree-node
                         class="filter-entry-options {{$ctrl.isCategoryEdited(category) ? 'filter-entry-editing' : ''}}"
                         text="{{category.name}}"
                         icon="zmdi-{{$ctrl.categoryIcon}}"
                         active="$ctrl.isCategoryActive(category)"
                         on-click="$ctrl.toggleCategory(category)"
                         badge="category.count">
        <div ng-if="::$ctrl.canManage" id="add-page-category-input-{{$index}}">
          <input ng-if="$ctrl.isCategoryEdited(category)" type="text" ng-model="category.name" translate translate-attr-placeholder="PAGE.CATEGORY.NAME"
                 ng-keypress="$ctrl.onCategoryKeypress(category, $event)" click-outside="$ctrl.onCategoryClickOutside(category)"
                 outside-if-not="add-page-category add-page-category-input-{{$index}}">
          <span class="btn btn-zmdi btn-link btn-save" ng-click="$ctrl.saveCategory(category, $event)"><i class="zmdi zmdi-check"></i></span>
          <span class="btn btn-zmdi btn-link btn-move" ui-tree-handle><i class="zmdi zmdi-swap-vertical"></i></span>
          <span class="btn btn-zmdi btn-link btn-edit" ng-click="$ctrl.editCategory(category, $event)"><i class="zmdi zmdi-edit"></i></span>
          <span class="btn btn-zmdi btn-link btn-delete" ng-click="$ctrl.deleteCategory(category, $event)"><i class="zmdi zmdi-delete"></i></span>
        </div>
      </coyo-filter-entry>
      <coyo-filter-entry text="N/A"
                         icon="zmdi-{{$ctrl.categoryIcon}}"
                         active="$ctrl.isCategoryActive({id: 'N/A'})"
                         on-click="$ctrl.toggleCategory({id: 'N/A'})"
                         badge="$ctrl.notAvailableCount">
      </coyo-filter-entry>
    </coyo-filter>
    <a id="add-page-category"
       class="fb-filter-action btn-link"
       ng-if="::$ctrl.canManage"
       ng-show="!$ctrl.editingCategory"
       ng-click="$ctrl.addCategory($event)">
      <i class="zmdi zmdi-plus-circle-o"></i>&nbsp;{{:: 'PAGE.CATEGORY.ADD' | translate}}
    </a>
  </div>
</div>
