<div class="panel panel-default admin-terms">
    <div class="panel-heading admin-terms-header">
      <h3 class="panel-title admin-terms-title" translate="ADMIN.TERMS.GENERAL"></h3>
      <coyo-manage-translations ng-if="$ctrl.isMultiLanguageActive" current="$ctrl.currentLanguage"
                                default="$ctrl.defaultLanguage" disable-config="true" on-change="$ctrl.onTranslationsAdded"
                                languages="$ctrl.languages"></coyo-manage-translations>
    </div>
    <form name="termsOfUseForm" class="form-horizontal" coyo-form-submit="$ctrl.save()">
    <div class="panel-body">
      <!-- Activation -->
      <div class="form-group">
        <label for="terms-active" class="col-sm-3 control-label">{{:: 'ADMIN.TERMS.GENERAL.ACTIVATE.LABEL' | translate}} &nbsp;</label>
        <div class="col-sm-9">
          <div class="checkbox">
            <label>
              <coyo-checkbox id="terms-active" ng-model="$ctrl.active" ng-disabled="!$ctrl.canActivate()">></coyo-checkbox>
              <span translate="ADMIN.TERMS.GENERAL.ACTIVATE.HELP" ng-class="{'text-muted': !$ctrl.canActivate()}"></span>
            </label>
          </div>
          <p class="help-block" ng-hide="$ctrl.canActivate()"><span class="text-danger" translate="ADMIN.TERMS.GENERAL.ACTIVATE.FORBIDDEN"></span></p>
        </div>
      </div>
      <!-- Configuration of users visibility -->
      <div class="form-group">
        <label for="terms-user-hidden" class="col-sm-3 control-label">{{:: 'ADMIN.TERMS.GENERAL.HIDDENUSERS.LABEL' | translate}} &nbsp;</label>
        <div class="col-sm-9">
          <div class="checkbox">
            <label>
              <coyo-checkbox id="terms-user-hidden" ng-model="$ctrl.hiddenUsers" ng-disabled="!$ctrl.active">></coyo-checkbox>
              <span translate="ADMIN.TERMS.GENERAL.HIDDENUSERS.HELP" ng-class="{'text-muted': !$ctrl.active}"></span>
            </label>
          </div>
        </div>
      </div>
      <hr>
      <!-- Terms of use -->
      <div class="form-group"
           ng-class="{'has-error': termsOfUseForm['title-' + language].$invalid && termsOfUseForm['title-' + language].$touched}"
           ng-repeat="(language, value) in $ctrl.languages"
           ng-if="$ctrl.isTranslationRequired(language)"
           ng-show="value.active && (language === $ctrl.currentLanguage)">
        <label for="title-{{language}}" class="col-sm-3 control-label">{{:: 'ADMIN.TERMS.GENERAL.TITLE.LABEL' | translate }} &nbsp;
          <coyo-country-flag country="language" form="rounded" dependent-to-translations="true"></coyo-country-flag>
        </label>
        <div class="col-sm-8">
          <input id="title-{{language}}" name="title-{{language}}" type="text" class="form-control" ng-required="true"
                 maxlength="255" ng-model="$ctrl.languages[language].translations.title"
                 ng-change="$ctrl.updateValidity(language, termsOfUseForm['title-' + language].$valid)">
        </div>
        <div class="col-sm-1 hidden-xs">
          <coyo-help tip="ADMIN.TERMS.GENERAL.TITLE.HELP"></coyo-help>
        </div>
      </div>
      <div class="form-group"
        ng-class="{'has-error': termsOfUseForm['text-' + language].$invalid && termsOfUseForm['text-' + language].$touched}"
        ng-repeat="(language, value) in $ctrl.languages"
        ng-if="$ctrl.isTranslationRequired(language)"
        ng-show="value.active && (language === $ctrl.currentLanguage)">
        <label for="text-{{language}}" class="col-sm-3 control-label">{{:: 'ADMIN.TERMS.GENERAL.CONTENT.LABEL' | translate}} &nbsp;
          <coyo-country-flag country="language" form="rounded" dependent-to-translations="true"></coyo-country-flag>
        </label>
        <div class="col-sm-8">
          <coyo-rte
              required
              id="text-{{language}}"
              name="text-{{language}}"
              [height]="$ctrl.height"
              ng-model="$ctrl.languages[language].translations.text"
              (content-updated)="$ctrl.updateContentValidity($ctrl.languages[language].translations.title, $event)"></coyo-rte>
        </div>
        <div class="col-sm-1 hidden-xs">
          <coyo-help tip="ADMIN.TERMS.GENERAL.CONTENT.HELP"></coyo-help>
        </div>
      </div>
      <div class="form-group">
        <label for="url" class="col-sm-3 control-label">{{:: 'ADMIN.TERMS.GENERAL.URL.LABEL' | translate}} &nbsp;</label>
        <div class="col-sm-8">
          <input id="url" class="form-control" maxlength="255"
                ng-model="$ctrl.languages[$ctrl.defaultLanguage].translations.url" placeholder="http://">
        </div>
        <div class="col-sm-1 hidden-xs">
          <coyo-help tip="ADMIN.TERMS.GENERAL.URL.HELP"></coyo-help>
        </div>
      </div>
    </div>
    <div class="panel-footer panel-actions">
      <div class="row">
        <div class="col-sm-9 col-sm-push-3">
          <coyo-form-submit-button label="SAVE" form-ctrl="termsOfUseForm"></coyo-form-submit-button>
          <a class="btn btn-default" ng-click="$ctrl.reset()">
            <i class="zmdi zmdi-hc-fw zmdi-time-restore-setting"></i>&nbsp;{{::'ADMIN.TERMS.GENERAL.RESET' | translate}}
          </a>
        </div>
      </div>
    </div>
    </form>
</div>