@import "mixins";
@import "variables";

.blog-widget {
  .widget-title {
    overflow: hidden;
    line-break: auto;
  }
  .blog-widget-article {
    display: flex;
    margin-bottom: 20px;
    overflow: hidden;

    &:last-child {
      margin-bottom: 0;
    }

    .blog-widget-icon {
      color: $color-gray-darker;
      margin-left: 3px;
      margin-right: 11px;
    }

    .blog-widget-info {
      @include break-word();
    }
  }
}
