<div class="blog-widget">
  <h4 class="widget-title">
    {{getTitle() || ("WIDGETS.BLOG.NAME" | translate)}}
  </h4>

  <ng-container *ngIf="(state$ | async) as state">
    <div *ngIf="!state.loading && !state.hasArticles" translate="WIDGETS.BLOG.NO_ARTICLES"></div>
    <div *ngFor="let article of state.articles" class="blog-widget-article">
      <div *ngIf="widget.settings._showTeaserImage"
           class="blog-teaser-image-wrapper">
        <a href="{{state.links.articles[article.articleTarget.params.id]}}">
          <coyo-image-reference *ngIf="article.teaserImageWideFileId"
                                class="blog-teaser-image"
                                file-id="article.teaserImageWideFileId"
                                sender-id="article.teaserImageWideSenderId"
                                size-definitions="{'default': 'L'}">
          </coyo-image-reference>
        </a>
        <div *ngIf="!article.teaserImageWideFileId" [ngClass]="{'no-teaser-image': !article.teaserImageWideFileId}"
             class="blog-widget-icon">
          <i class="zmdi zmdi-file-text"></i>
        </div>
      </div>
      <div class="blog-widget-info">
        <a [href]="state.links.articles[article.articleTarget.params.id]">{{article.title}}</a>
        <div class="small text-muted">
          <coyo-time-ago [date]="article.publishDate"></coyo-time-ago>&nbsp;in&nbsp;<a
          [href]="state.links.senders[article.senderTarget.params.id]">{{article.senderName}}</a>
        </div>
      </div>
    </div>
    <ng-container *ngIf="state.loading">
      <ui-skeleton *ngFor="let number of getNeededSkeletons()" [skeletons]="skeletons"></ui-skeleton>
    </ng-container>
  </ng-container>
</div>
