<div class="row" ng-if="$ctrl.loading" data-test="panel-events-app">
  <div class="skeleton-event-date-heading"></div>
  <div ng-if="!($root.screenSize.isXs || $root.screenSize.isSm)">
    <coyo-render-skeleton container="skeleton-container-event-card" name="skeleton-event-card"></coyo-render-skeleton>
  </div>
  <div ng-if="$root.screenSize.isXs || $root.screenSize.isSm">
    <coyo-render-skeleton container="skeleton-container-event-list-entry" name="skeleton-event-list-entry"></coyo-render-skeleton>
  </div>
</div>

<div class="event-list-component" ng-if="!$ctrl.loading">
  <coyo-tour-step topic="events" order="105" placement="bottom" no-highlight="true" popup-class="mt-l"
                  ng-if="::$ctrl.showTour" fixed="true"
                  title="{{:: 'TOUR.EVENTS.LIST.TITLE' | translate }}" step-id="events.list"
                  content="{{:: 'TOUR.EVENTS.LIST' | translate }}"></coyo-tour-step>

  <coyo-divider ng-if="::$ctrl.showDivider($index)" ng-repeat-start="event in $ctrl.page.content">
    <b ng-if="::$ctrl.isToday(event.startDate)" translate="MODULE.EVENTS.TODAY"></b>
    <span ng-if="::!$ctrl.isToday(event.startDate)">
      <b>{{:: event.startDate | amDateFormat:'dddd' }}</b>,
      {{:: event.startDate | amDateFormat:$root.dateFormat.long }}
    </span>
  </coyo-divider>

  <div class="panel panel-default event-card" ng-repeat-end>
    <div class="panel-body">
      <coyo-ribbon type="event" ng-if="::$ctrl.isOngoing(event.startDate, event.endDate)"></coyo-ribbon>
      <coyo-event-avatar [sender]="::event" class="visible-xs visible-sm" [show-overlay]="true"></coyo-event-avatar>
      <coyo-event-avatar [sender]="::event" [avatar-size]="'xl'" class="hidden-sm hidden-xs"
                         [show-overlay]="true"></coyo-event-avatar>
      <div class="page-card-heading">
        <h4 class="event-title pointer"
            ng-if="::$root.screenSize.isMd || $root.screenSize.isLg">
          <a ui-sref="main.event.show({idOrSlug: event.slug})"
             ui-sref-opts="{reload: 'main.event.show', inherit: false}">{{:: event.displayName }}</a>
        </h4>
        <h4 class="event-title pointer"
            ng-if="::$root.screenSize.isXs || $root.screenSize.isSm">
          <a ui-sref="main.event.show({idOrSlug: event.slug})"
             ui-sref-opts="{reload: 'main.event.show', inherit: false}">{{:: event.displayName }}</a>
        </h4>
        <span class="tour-placeholder-container"><!-- avoid flex positioning -->

          <coyo-event-participation *ngIf="event.canParticipate()" [event]="event" [is-ongoing]="$ctrl.isOngoing(event.startDate, event.endDate)" [has-ended]="$ctrl.hasEnded(event.endDate)"
                                              (status-changed)="$ctrl.onParticipationStatusChanged($event, event)"></coyo-event-participation>
          <coyo-tour-step ng-if=":: !ctrl.isAutoSubscribe(event) && $ctrl.showTour" fixed="true"
                          topic="events" order="115" placement="left" step-id="events.attend"
                          title="{{:: 'TOUR.EVENTS.ATTEND.TITLE' | translate }}"
                          content="{{:: 'TOUR.EVENTS.ATTEND' | translate }}"></coyo-tour-step>
        </span>
      </div>
      <div class="page-card-content">
        <div class="event-description" ng-bind="::event.description | stripHtml"></div>
        <div class="event-labels">
          <span class="label label-muted"><i class="zmdi text-muted"
                                             ng-class="::event.public ? 'zmdi-globe' : 'zmdi-lock'"></i></span>
          <coyo-event-date-label event="::event"></coyo-event-date-label>
          <span class="label label-muted label-desktop" ng-if="::event.sender"><i
              class="zmdi zmdi-wide zmdi-account-circle"></i>&nbsp;{{:: event.sender.displayName }}</span>
          <span class="label label-muted" ng-if="::event.place"><i class="zmdi zmdi-wide zmdi-pin"></i>&nbsp;{{:: event.place }}</span>
          <span class="label label-muted label-desktop" ng-if="event.attendingCount || event.limitedParticipants">
            <i class="zmdi zmdi-wide zmdi-accounts"></i>&nbsp;{{event.attendingCount}}<span ng-if="event.limitedParticipants">/{{event.limitedParticipants.participantsLimit}}</span>
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- empty text -->
  <coyo-empty-list-notice
      ng-show="!$ctrl.loading && !$ctrl.page.totalElements"
      text-key="MODULE.EVENTS.EMPTY"
      filters-resettable="$ctrl.filtersResettable"
      reset-filters="$ctrl.resetFilters()">
  </coyo-empty-list-notice>

  <!-- pagination -->
  <div class="col-xs-12" ng-if="$ctrl.page">
    <coyo-table-pagination page="$ctrl.page"></coyo-table-pagination>
  </div>
</div>
