.event-list-component {
  .event-card {
    height: 80px;
    border-radius: 0;

    @media print, screen and (min-width: $screen-md-min) {
      border-radius: 5px;
    }

    @media print, screen and (min-width: $screen-md-min) {
      &.event-card {
        height: 160px;
      }
    }

    coyo-event-avatar {
      bottom: 0;
      left: 0;
      position: absolute;
      top: 0;
    }

    .panel-body {
      height: 100%;
      padding: 8px 8px 8px 96px;
      position: relative;
      display: flex;
      flex-direction: column;

      .page-card-heading {
        display: flex;

        h4 {
          flex: 1;
          margin: 1px 0 6px;
          position: relative;
          @include ellipsis();

          @media print, screen and (min-width: $screen-md-min) {
            font-size: 20px;
            padding-right: 24px;
          }
        }

        .event-participation-menu {
          &.ongoing {
            padding-right: 32px;
          }
        }
      }

      .page-card-heading,
      .page-card-content {
        @media screen and (max-width: $screen-sm-max) {
          padding-right: 100px;
        }
      }

      @media print, screen and (min-width: $screen-md-min) {
        padding: 16px 16px 16px 184px;
      }
    }

    .event-title {
      margin: 0 0 8px;
      @include ellipsis();

      @media print, screen and (min-width: $screen-md-min) {
        font-size: 24px;
        line-height: 32px;
      }

      a, a:hover, a:focus {
        color: $text-color;
      }
    }

    .event-description {
      color: $color-gray;
      margin-bottom: 16px;
      flex-grow: 1;
      @include ellipsis-multiline(2, 48px);

      @media screen and (max-width: $screen-sm-max) {
        display: none;
      }
    }

    .event-labels {
      height: 25px;
      overflow: hidden;

      .label {
        float: left;
        margin-right: 8px;
      }

      .label-desktop {
        @media screen and (max-width: $screen-sm-max) {
          display: none;
        }
      }
    }

    .tour-placeholder-container {
      z-index: 0;

      @media screen and (max-width: $screen-sm-max) {
        position: absolute;
        top: 24px;
        right: 16px;
      }
    }
  }
}

.event {
  .image-header {
    .event-participation-menu {
      margin-top: 28px;
      margin-right: 16px;

      @media screen and (max-width: $screen-xs-max) {
        margin-top: 20px;
      }
    }
  }
}

.event-create-menu-panel {
  &.mat-menu-panel {
    min-width: 140px;
    margin-top: 8px;
  }

  .event-visibility-button {
    &.active {
      color: $b300;

      .mat-icon {
        color: $b300;
      }
    }
  }
}
