@import "variables";
@import "mixins";

.facegame-widget {
  text-align: center;

  button {
    width: 100%;
    max-width: 260px;
  }

  > .headline {
    font-size: 20px;
    font-weight: 600;
  }

  .menu {
    .teaser {
      margin: 15px 0 20px 0;

      .description,
      .no-more-answers {
        display: block;
      }

      .description:last-of-type {
        margin-bottom: 30px;
      }

      .no-more-answers:last-of-type {
        margin-bottom: 180px;
      }
    }
  }

  .game {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    button {
      margin-top: 6px;
    }

    .image {
      margin: 2rem 0;

      img {
        height: 150px;
        width: 150px;
        padding: 5px;
        border-radius: 50%;
        border: 5px solid transparent;

        &.is-active {
          transition: box-shadow 0.2s ease-in;

          &.is-correct {
            border-color: $g200;
          }
          &.is-wrong {
            border-color: $r300;
          }
        }
      }
    }

    .answer-container {
      width: 100%;
    }

    .score {
      width: 100%;
      margin: 30px 10px 10px 10px;
      font-weight: 600;
      transition-delay: 1s;
      transition: box-shadow 0.2s ease-in;

      &.is-correct {
        color: $g400;
      }
      &.is-wrong {
        color: $r300;
      }
    }

    .progress-container {
      display: flex;
      height: 5px;
      width: 100%;
      max-width: 260px;

      .progress {
        flex: 9;
        height: 5px;

        .progress-bar {
          background: linear-gradient(to right, $color-primary 0%, $color-secondary 100%);

          &.is-correct {
            background: linear-gradient(to right, $g400 0%, $g400 100%);
          }
          &.is-wrong {
            background: linear-gradient(to right, $r300 0%, $r300 100%);
          }
        }
      }

      .scoring-card {
        flex: 1;
        text-align: right;
        margin-left: 10px;
      }
    }
  }

  .ranking {
    .headline {
      padding: 4px 12px;
      line-height: 32px;
      font-weight: 600;
      text-align: left;

      i {
        font-size: 20px;
        margin-right: 8px;
      }
    }

    .entry {
      display: flex;
      line-height: 24px;
      margin: 12px 0 24px 0;

      &:last-of-type {
        margin-bottom: 0;
      }

      .avatar,
      .name,
      .points {
        padding: 0 4px;
      }

      .avatar {
        flex: 1;
        margin-top: -4px;
      }

      .name {
        flex: 3;
        text-align: left;
      }

      .points {
        flex: 2;
        text-align: right;
        font-weight: 600;
      }
    }
  }
}
