.coyo-progressbar {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;

  > div:first-child:not(.progress-bg) {
    margin-top: auto;
    margin-bottom: auto;
  }

  .progress-bg {
    background-color: $color-gray-lighter;
    border-radius: 15px;
  }

  .progress-bar {
    background-color: $color-green;
    border-radius: 15px;
    width: 75%;
    height: 15px;
    transition: width 0.5s;

    &.full {
      background-color: $color-red;
    }

    &.warn {
      background-color: $color-yellow;
    }
  }
}