@import "variables";
@import "mixins";

.file-icon {
  color: $b400;
}

:host-context(.zmdi-hc-5x) .zmdi-gsuite {
  width: 5rem;
  height: 5rem;
}

.zmdi.zmdi-gsuite {
  width: 16px;
  height: 16px;
  margin-right: 3px;
  margin-bottom: -2px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;

  &.zmdi-gsuite-document {
    background-image: url('/assets/icons/google-document.svg');
  }

  &.zmdi-gsuite-drawing {
    background-image: url('/assets/icons/google-drawing.svg');
  }

  &.zmdi-gsuite-file {
    background-image: url('/assets/icons/google-file.svg');
  }

  &.zmdi-gsuite-folder {
    background-image: url('/assets/icons/google-folder.svg');
  }

  &.zmdi-gsuite-form {
    background-image: url('/assets/icons/google-form.svg');
  }

  &.zmdi-gsuite-fusiontable {
    background-image: url('/assets/icons/google-fusiontable.svg');
  }

  &.zmdi-gsuite-map {
    background-image: url('/assets/icons/google-map.svg');
  }

  &.zmdi-gsuite-presentation {
    background-image: url('/assets/icons/google-presentation.svg');
  }

  &.zmdi-gsuite-script {
    background-image: url('/assets/icons/google-script.svg');
  }

  &.zmdi-gsuite-site {
    background-image: url('/assets/icons/google-site.svg');
  }

  &.zmdi-gsuite-spreadsheet {
    background-image: url('/assets/icons/google-spreadsheet.svg');
  }

  &.zmdi-gsuite-video {
    background-image: url('/assets/icons/google-video.svg');
  }

  &.zmdi-gsuite-image {
    background-image: url('/assets/icons/google-image.svg');
  }

  &.zmdi-gsuite-pdf {
    background-image: url('/assets/icons/google-pdf.svg');
  }
}
