@import "variables";

:host {
  border: solid 3px transparent;
  border-radius: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;

  .avatar-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    color: $color-white;
    height: 33%;
    position: absolute;
    text-align: center;
    width: 100%;
    pointer-events: auto;

    &:hover {
      cursor: pointer;
    }
  }

  &.lg .avatar-overlay {
    font-size: 20px;
  }

  &.xl .avatar-overlay {
    font-size: 26px;
  }

}
