<div class="tree-node tree-node-content">
  <div class="wiki-article wiki-article-node">
    <div class="article-header-top" ui-tree-handle>
      <div class="left-options" data-nodrag>
        <div ng-click="ctrl.loadSubArticles(node)"
             ng-if="!node.nodesLoaded && (node.wikiArticles > 0 || node.nodes.length > 0)">
          <i class="zmdi zmdi-chevron-right zmdi-hc-lg" ng-if="!node.loading"></i>
          <i class="zmdi zmdi-spinner zmdi-hc-spin" ng-if="node.loading"></i>
        </div>
        <div ng-click="ctrl.toggle(node)" ng-if="node.nodesLoaded && node.nodes.length > 0" data-nodrag>
          <i class="zmdi zmdi-hc-lg" ng-class="node.collapsed ? 'zmdi-chevron-right' : 'zmdi-chevron-down'"></i>
        </div>
      </div>
      <div class="clickable" data-nodrag>
        <a ui-sref=".view({id: node.id, currentLanguage: ctrl.currentLanguage})">
          <coyo-wiki-article-title article="node" current-language="ctrl.currentLanguage" wiki-app="ctrl.app" sender="ctrl.sender" show-status="true"></coyo-wiki-article-title>
        </a>
      </div>
      <div class="article-status-options" ng-if="!ctrl.loading" data-nodrag>
        <coyo-context-menu class="wiki-article"
                      title="{{::'APP.WIKI.ARTICLE_OPTIONS' | translate}}"
                      align-right="true">
          <li ng-if="::node._permissions.edit">
            <button type="button" class="btn btn-default btn-block" ui-sref=".view({id:node.id, editMode:true})">
              <i class="zmdi zmdi-hc-fw zmdi-edit"></i>&nbsp;{{:: 'EDIT' | translate }}
            </button>
          </li>
          <li ng-if="::node._permissions.delete">
            <button type="button" class="btn btn-default btn-block" ng-click="ctrl.deleteArticle(node)">
              <i class="zmdi zmdi-hc-fw zmdi-delete"></i>&nbsp;{{:: 'DELETE' | translate }}
            </button>
          </li>
          <li>
            <button type="button" class="btn btn-default btn-block" ng-click="ctrl.exportPreview(node)">
              <i class="zmdi zmdi-hc-fw zmdi-print"></i>&nbsp;{{:: 'APP.WIKI.ARTICLE.PRINT' | translate }}
            </button>
          </li>
          <li ng-if="(node.wikiArticles > 0 || node.nodes.length > 0)">
            <button type="button" class="btn btn-default btn-block" ng-click="ctrl.exportSubArticlePreview(node)">
              <i class="zmdi zmdi-hc-fw zmdi-print"></i>&nbsp;{{:: 'APP.WIKI.ARTICLE.PRINT.SUB' | translate }}
            </button>
          </li>
        </coyo-context-menu>
      </div>
    </div>
  </div>
</div>
<ol ui-tree-nodes ng-model="node.nodes" ng-class="{hidden: node.collapsed}">
  <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'app/apps/wiki/wiki-article-node.html'">
  </li>
</ol>
