<button mat-flat-button (click)="selectFiles()">
  <ng-template [ngTemplateOutlet]="buttonTemplate ? buttonTemplate : defaultButtonText"></ng-template>
</button>
<ng-template #defaultButtonText>
  <mat-icon svgIcon="upload"></mat-icon>&nbsp;
  <span *ngIf="options?.selectMode === 'multiple'" translate="FILE_LIBRARY.SELECT_PLURAL"></span>
  <span *ngIf="!options || options.selectMode === 'single'" translate="FILE_LIBRARY.SELECT"></span>
</ng-template>
