.sidebar.sidebar-admin {
  @media print, screen and (min-width: $screen-md-min) {
    flex: none;
    position: static;
    height: 100%;
    min-height: 100vh;
    width: auto;
    margin-top: 0;
    overflow: visible;
    background-color: $coyo-navbar;

    .sidebar-headline {
      color: $coyo-navbar-text;
      border-color: $color-navbar-border;
    }

    .nav-sidebar-item {
      > a {
        border-color: transparent;
        color: $coyo-navbar-text;
      }

      > a:hover, > a:focus, > a:hover:focus,
      > a.active:hover, > a.active:focus, > a.active:hover:focus {
        background-color: darken($coyo-navbar, 7.5%);
        border-color: $color-navbar-border;
        color: $coyo-navbar-text;
      }

      > a.active {
        background-color: $coyo-navbar-active;
        border-color: $color-navbar-border;
        color: $coyo-navbar-text-active;
      }
    }

    /* FIX height bug in IE */
    &:before {
      content: "";
      height: 100%;
      width: 67px;
      position: absolute;
      background-color: $coyo-navbar;
    }
  }

  @media print, screen and (min-width: $screen-lg-min) {
    margin-top: 0;
    width: 240px;
    flex-basis: 240px;

    &:before {
      width: 240px;
    }
  }

  @media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    @include sidebar-collapsed();
  }
}

.tooltip.admin-sidebar-tooltip {
  display: none !important;

  @media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    display: block !important;
  }
}
