@import "variables";

a:not([href]) {
  cursor: default;
  color: inherit;
}

:host-context(coyo-user-profile-widget),
:host-context(.timeline-item-title-headline),
:host-context(coyo-comment),
:host-context(coyo-timeline-share) {
  a {
    color: $text-color;
    font-weight: 600;
  }
}
