<a href="#" class="workspace-subscribe" ng-click="$ctrl.toggle()" data-test="button-subscribed">
  <i ng-if="!$ctrl.loading && $ctrl.subscribed" class="zmdi zmdi-hc-fw zmdi-notifications-active"></i>
  <i ng-if="!$ctrl.loading && !$ctrl.subscribed" class="zmdi zmdi-hc-fw zmdi-notifications-none"></i>
  <i ng-if="$ctrl.loading" class="zmdi zmdi-hc-fw zmdi-hc-spin zmdi-spinner"></i>
  <span ng-if="!$ctrl.subscribed" translate="WORKSPACE.SUBSCRIBE"></span>
  <span ng-if="$ctrl.subscribed" translate="WORKSPACE.SUBSCRIBED"></span>
</a>
