<div *ngIf="globalEditMode | async" [ngClass]="{'compact' : compact}" class="view-edit-options-bar">
  <coyo-help modalText="WIDGETS.HELP.MODAL" class="pull-left" tip="VIEW.HELP"></coyo-help>
  <span [attr.aria-label]="'VIEW.EDIT.TEXT' | translate" class="hidden-xs" translate="VIEW.EDIT.TEXT"></span>
  <span class="buttons">
    <button (click)="save()" mat-button mat-link-button [attr.aria-label]="'SAVE' | translate">
      <mat-icon svgIcon="check"></mat-icon>
      {{'SAVE' | translate}}
    </button>
    <button (click)="cancel()" mat-button mat-link-button [attr.aria-label]="'CANCEL' | translate">
      <mat-icon svgIcon="close"></mat-icon>
      {{'CANCEL' | translate}}
    </button>
  </span>
</div>
