@import "variables";

.view-edit-options-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  color: $n0;
  background-color: $o400;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: $zindex-messaging - 1;

  @media print, screen and (min-width: $screen-lg-min) {
    padding-right: $size-sidebar-messaging-static;

    &.compact {
      padding-right: $size-sidebar-messaging-compact;
    }
  }

  button {
    color: $n0;

    &:active, &:hover, &:focus {
      color: $n35;
    }
  }
}
