<form name="translationsForm" class="translationsForm" coyo-form-submit="$ctrl.save($ctrl.sender)">
  <div class="modal-content-wrapper">
    <div class="modal-header">
      <h3 class="modal-title">{{:: 'APPS.TRANSLATIONS.MODAL.TITLE' | translate}}</h3>
      <coyo-manage-translations ng-if="$ctrl.isSenderTranslated"
                                current="$ctrl.currentLanguage"
                                default="$ctrl.defaultLanguage"
                                languages="$ctrl.languages"
                                on-change="$ctrl.onLanguageChange"
                                on-delete="$ctrl.onLanguageDeleted"
                                style-class="modal-app-settings"
                                disable-config="true">
      </coyo-manage-translations>
      <span class="modal-close" ng-click="$dismiss()">
        <i class="zmdi zmdi-close img-close"></i>
      </span>
    </div>
    <div class="modal-body p-s"
         ng-repeat="(key, value) in $ctrl.languages"
         ng-if="$ctrl.isTranslationRequired(key)"
         ng-show="value.active && (key === $ctrl.currentLanguage || key === 'NONE')">
      <div class="app-group-section" ng-repeat="appGroup in value.translations.appNavigation">
        <div class="form-horizontal">
          <div class="form-group"
               ng-class="{'has-error': translationsForm['app-group-name-' + key + '-' + $index].$invalid &&
               translationsForm['app-group-name-' + key + '-' + $index].$touched}">
            <label for="app-group-name-{{key}}-{{$index}}" class="col-sm-2 control-label">
              {{:: 'APPS.GROUP.TRANSLATION.NAME.LABEL' | translate}}
              &nbsp;&nbsp;
              <coyo-country-flag country="$ctrl.currentLanguage" form="rounded"
                                 dependent-to-translations="true"></coyo-country-flag>
            </label>
            <div class="col-sm-10 app-group-name">
              <input id="app-group-name-{{key}}-{{$index}}" name="app-group-name-{{key}}-{{$index}}"
                     class="form-control" type="text"
                     ng-model="appGroup.name" maxlength="255"
                     ng-change="$ctrl.updateValidity(translationsForm)">
            </div>
          </div>
        </div>
        <div class="form-horizontal app-section">
          <div ng-repeat="app in appGroup.apps">
            <div class="form-group"
                 ng-class="{'has-error': translationsForm['app-name-' + key + '-' + $index + '-' + $parent.$index].$invalid &&
                 translationsForm['app-name-' + key + '-' + $index + '-' + $parent.$index].$touched}">
              <label for="app-name-{{key}}-{{$index}}-{{$parent.$index}}"
                     class="col-sm-2 control-label text-capitalize">{{app.key}}
                &nbsp;&nbsp;
                <coyo-country-flag country="$ctrl.currentLanguage" form="rounded"
                                   dependent-to-translations="true"></coyo-country-flag>
              </label>
              <div class="col-sm-10 app-name">
                <i class="zmdi app-icon" ng-class="::$ctrl.getIcon(app)"></i>
                <input id="app-name-{{key}}-{{$index}}-{{$parent.$index}}"
                       name="app-name-{{key}}-{{$index}}-{{$parent.$index}}" class="form-control" type="text"
                       ng-model="app.name"
                       maxlength="255"
                       ng-change="$ctrl.updateValidity(translationsForm)"
                       ng-required="$ctrl.defaultLanguage === key">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <coyo-form-submit-button label="SAVE" form-ctrl="translationsForm"></coyo-form-submit-button><!--
   --><button type="reset" class="btn btn-default" ng-click="$dismiss()">
        <i class="zmdi zmdi-hc-fw zmdi-close-circle"></i>&nbsp;{{:: 'CANCEL' | translate }}
      </button>
    </div>
  </div>
</form>