@import "variables";
@import "mixins";

$icon-size: 40px;

:host {
  position: relative;
  display: block;
}

.launchpad-link-wrapper {
  display: flex;
  align-items: center;
}

.launchpad-link-item {
  flex: 1 1 auto;
  display: flex;
  align-items: flex-start;
  padding: 8px 0;
  min-width: 0;

  @include sm-and-up() {
    padding: 12px 0;
  }
}

.link-content {
  flex: 1 1 auto;
  min-width: 0;
}

.name {
  color: $n600;
  font-size: 16px;
  line-height: 20px;
  @include break-word();
}

.url {
  color: $n100;
  font-size: 14px;
  line-height: 20px;
  @include ellipsis();
}

.mat-icon-button {
  margin-left: 8px;
}

/**
 * ===== condensed view styles
 */

:host-context(.condensed) {
  .name {
    @include ellipsis();
  }

  .url {
    display: none;
  }
}

// only show context menu on hover in an a11y-compliant way
:host-context(html:not(.touchevents)) {
  .launchpad-link-wrapper:not(:hover) .mat-icon-button:not(.cdk-keyboard-focused):not(.cdk-program-focused):not([aria-expanded=true]) {
    @include visually-hidden();
  }
}
