<div class="messaging-header messaging-channel-header" ng-cloak="">
  <span class="messaging-header-icon-bar right" ng-class="{pulse: $ctrl.msgSidebar.hasNewMessages}">
    <a ng-click="$ctrl.back()"><i class="zmdi zmdi-hc-fw zmdi-chevron-left"></i></a>
  </span>

  <span class="messaging-title"
        title="{{:: $ctrl.channel.getDisplayName($ctrl.currentUser) }}"
        ng-click="$ctrl.channel.type === 'GROUP' ? $ctrl.msgSidebar.switchView('channelInfo')
                      : $ctrl.msgSidebar.openProfile($ctrl.channel, $ctrl.currentUser)">

    <!-- Spinner -->
    <coyo-spinner inverted="true" size="sm" ng-if="$ctrl.loading"></coyo-spinner>

    <!-- Avatar -->
    <span ng-if="!$ctrl.loading">
      <oyoc-messaging-channel-avatar
        channel="::$ctrl.channel"
        current-user="::$ctrl.currentUser"
        link-to-profile="true"
        size="xs"
        show-external-flag="true">
      </oyoc-messaging-channel-avatar>
    </span>

    <!-- Channel name -->
    <span class="messaging-channel-name" data-test="text-messaging-channel-name">{{:: $ctrl.channel.getDisplayName($ctrl.currentUser) }}</span>
  </span>

  <!-- Channel Options -->
  <span class="messaging-header-icon-bar left">
    <coyo-context-menu title="{{::$ctrl.channel.getDisplayName($ctrl.currentUser)}}" align-right="true">
      <li>
        <button type="button" class="btn btn-default btn-block" ng-click="$ctrl.openInfoAndFiles()">
          <i class="zmdi zmdi-hc-fw zmdi-info"></i> <span translate="MODULE.MESSAGING.CHANNEL.INFO"></span>
        </button>
      </li>
      <li ng-if="::$ctrl.channel.type === 'GROUP' && $ctrl.channel.isAdmin($ctrl.currentUser.id)">
        <button type="button" class="btn btn-default btn-block" ng-click="$ctrl.editChannel()">
          <i class="zmdi zmdi-hc-fw zmdi-settings"></i> <span translate="MODULE.MESSAGING.CHANNEL.EDIT"></span>
        </button>
      </li>
      <li class="divider"></li>
      <li>
        <button type="button" class="btn btn-default btn-block" ng-click="$ctrl.muteChannel()">
          <i class="zmdi zmdi-hc-fw"
             ng-class="{'zmdi-volume-off': !$ctrl.member.muted, 'zmdi-volume-up': $ctrl.member.muted}"></i>&nbsp;{{ $ctrl.member.muted ? 'UNMUTE': 'MUTE' | translate}}
        </button>
      </li>
      <li>
        <button type="button" class="btn btn-default btn-block" ng-click="$ctrl.leaveChannel()">
          <span ng-if="::$ctrl.channel.type === 'GROUP'">
            <i class="zmdi zmdi-hc-fw zmdi-square-down zmdi-hc-rotate-270"></i>&nbsp;{{:: 'LEAVE' | translate}}
          </span>
          <span ng-if="::$ctrl.channel.type === 'SINGLE'">
            <i class="zmdi zmdi-hc-fw zmdi-archive"></i>&nbsp;{{:: 'ARCHIVE' | translate}}
          </span>
        </button>
      </li>
    </coyo-context-menu>
  </span>
</div>
