<button type="button" mat-icon-button size="small" (click)="toggle()" role="switch"
        [color]="model ? 'accent' : null" [attr.aria-checked]="!!model"
        [matTooltip]="(model ? 'MODULE.TIMELINE.RESTRICTION.TOOLTIP.SELECTED' : 'MODULE.TIMELINE.RESTRICTION.TOOLTIP.UNSELECTED') | translate"
        matTooltipPosition="above">
  <mat-icon [svgIcon]="model ? 'lock' : 'lock-unlocked'"></mat-icon>
</button>
