@import "variables";

.form-control[disabled] {
  background-color : $n50;
}

.mat-checkbox {
  .mat-checkbox-label {
    font-weight: normal;
  }

  + .checkbox-hint {
    margin-left: 36px;
    margin-top: -4px;
  }
}

