@import "variables";
@import "mixins";

:host {
  display: block;
  margin-bottom: 20px;
  padding: 16px 20px 8px;
  border: 1px solid $n50;
  border-radius: 8px;

  @include sm-and-up() {
    margin-bottom: 24px;
    padding: 24px 24px 8px;
    transition: box-shadow .15s linear;

    &:hover {
      @include box-shadow(0, 4px, 12px, 0, rgba(16, 29, 48, 0.1));
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.header {
  display: flex;
  flex-direction: column;

  @include sm-and-up() {
    flex-direction: row;
    align-items: center;
    margin-top: -8px;
  }
}

h3 {
  margin: 0 0 8px;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  color: $n600;
  @include break-word();

  @include sm-and-up() {
    margin: 6px auto 16px 0;
  }
}

.btn-add-link {
  display: flex;
  align-self: flex-start;
  margin: 8px 0 16px;
  justify-content: center;
  width: 100%;

  @include sm-and-up() {
    margin: 0 0 0 16px;
    display: inline-flex;
    width: auto;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  @include sm-and-up() {
    border-bottom: 1px solid $n50;

    &:last-child {
      border-bottom: none;
    }
  }
}

.launchpad-category-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

p.empty {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 16px;
  color: $n200;
}
