<div class="panel panel-default panel-form-app" data-test="panel-form-app">
    <div class="panel-heading">
        <div class="panel-nav navigation">
            <a class="heading-button panel-heading-item" ng-if="$ctrl.app._permissions.seeResults" ui-sref="^.list">
                <i class="zmdi zmdi-hc-fw zmdi-view-list"></i><span class="hidden-xs">&nbsp;{{:: 'APP.FORM.SEE_RESULTS' | translate}}</span>
            </a>

            <!-- Configure & Export -->
            <coyo-context-menu title="{{::$ctrl.app.settings.title}}"
                               ng-if="$ctrl.app._permissions.manage"
                               align-right="true">
                <li ng-if="$ctrl.app._permissions.manage">
                    <button type="button" class="btn btn-default btn-block" ui-sref="^.configure">
                        <i class="zmdi zmdi-hc-fw zmdi-settings"></i>&nbsp;{{:: 'APP.COMMONS.FIELDS.CONFIGURE' | translate}}
                    </button>
                </li>
            </coyo-context-menu>
        </div>
        <h3>{{::$ctrl.app.settings.title}}</h3>
        <span class="description" ng-if="::$ctrl.app.settings.description">{{::$ctrl.app.settings.description}}</span>
        <hr>
    </div>
    <form name="addEntryForm" novalidate coyo-form-submit="$ctrl.save(addEntryForm)" ng-if="$ctrl.app._permissions.createEntry && $ctrl.fields.length > 0 && !$ctrl.formSubmitted && !$ctrl.loading">
        <div class="panel-body">
            <oyoc-entry-form entry="$ctrl.entry" fields="$ctrl.fields" form-ctrl="addEntryForm" app-form-settings="$ctrl.appFormSettings"></oyoc-entry-form>
        </div>
        <div class="panel-footer panel-actions">
            <coyo-form-submit-button label="SEND" form-ctrl="addEntryForm"></coyo-form-submit-button>
        </div>
    </form>
    <div class="panel-body panel-body-success" ng-if="!$ctrl.app._permissions.createEntry">
            <div class="app-no-fields">
                <span class="app-icon-big app-icon-success">
                    <i class="zmdi zmdi-hc-fw zmdi-check"></i>
                </span>
                <span class="title-success" translate="APP.FORM.SUCCESSFULLY_SUBMITTED"></span>
                <span class="app-empty-text text-muted" translate="APP.FORM.MAX_SUBMISSIONS"></span>
            </div>
    </div>
    <div class="panel-body panel-body-success" ng-if="$ctrl.app._permissions.createEntry && $ctrl.fields.length > 0 && $ctrl.formSubmitted">
            <div class="app-no-fields">
                <span class="app-icon-big app-icon-success">
                    <i class="zmdi zmdi-hc-fw zmdi-check"></i>
                </span>
                <span class="title-success" translate="APP.FORM.SUCCESSFULLY_SUBMITTED"></span>
                <span class="app-empty-text text-muted" translate="APP.FORM.SUBMIT_ANOTHER"></span>
                <button class="btn btn-primary" ng-click="$ctrl.$onInit()">
                    <i class="zmdi zmdi-hc-fw zmdi-plus-circle"></i>&nbsp;{{::'ADD_ANOTHER' | translate}}
                </button>
          </div>
    </div>

    <oyoc-no-fields-message ng-if="$ctrl.fields.length <= 0" manage-permission="::$ctrl.app._permissions.manage" create-fn="$ctrl.createField()" msg-key="APP.FORM.FIELDS.CONFIGURE.NO_FIELDS"></oyoc-no-fields-message>

  <!-- Spinner -->
  <div class="text-center mb-s mt-s" ng-if="$ctrl.loading">
    <coyo-spinner size="sm"></coyo-spinner>
  </div>
</div>
