<div class="tab-bar">
    <ul class="nav nav-tabs">
        <li class="col-xs-6" data-ng-class="{active: $ctrl.tab == 0}" data-test="button-general-settings">
            <a data-toggle="tab" translate="APP.FORM.SETTINGS.GENERAL" ng-click="$ctrl.tab = 0"></a>
        </li>
        <li class="col-xs-6" data-ng-class="{active: $ctrl.tab == 1}" data-test="button-email-notifications">
            <a data-toggle="tab" translate="APP.FORM.SETTINGS.EMAIL_NOTIFICATIONS" ng-click="$ctrl.tab = 1"></a>
        </li>
    </ul>
</div>

<!-- General Settings -->
<div ng-show="$ctrl.tab === 0">
    <div class="form-group">
        <label class="col-sm-3 control-label" translate="APP.FORM.SETTINGS.TITLE"></label>
        <div class="col-sm-8">
            <input name="title" class="form-control" type="text" ng-model="$ctrl.app.settings.title" required maxlength="255" data-test="input-form-title">
        </div>
        <div class="col-sm-1 hidden-xs">
            <coyo-help tip="APP.FORM.SETTINGS.TITLE.HELP"></coyo-help>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" translate="APP.FORM.SETTINGS.DESCRIPTION"></label>
        <div class="col-sm-8">
            <textarea name="title" class="form-control" type="text" ng-model="$ctrl.app.settings.description" data-test="input-form-description"></textarea>
        </div>
        <div class="col-sm-1 hidden-xs">
            <coyo-help tip="APP.FORM.SETTINGS.DESCRIPTION.HELP"></coyo-help>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" translate="APP.FORM.SETTINGS.SET_SUBMIT_LIMIT"></label>
        <div class="col-sm-8">
            <div class="checkbox">
                <label>
                    <coyo-checkbox ng-model="$ctrl.app.settings.submitLimitActive"></coyo-checkbox>
                    {{::'APP.FORM.SETTINGS.SET_SUBMIT_LIMIT.DESCRIPTION' | translate}}
                </label>
            </div>
        </div>
        <div class="col-sm-1 hidden-xs">
            <coyo-help tip="APP.FORM.SETTINGS.SET_SUBMIT_LIMIT.HELP"></coyo-help>
        </div>
    </div>
    <div class="form-group" ng-if="$ctrl.app.settings.submitLimitActive">
        <label class="col-sm-3 control-label" translate="APP.FORM.SETTINGS.SUBMIT_LIMIT"></label>
        <div class="col-sm-8">
            <input name="title" class="form-control" type="number" min="1" ng-model="$ctrl.app.settings.submitLimit" ng-pattern="/^[1-9]\d*$/" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" translate="APP.FORM.SETTINGS.NOTIFICATIONS"></label>
        <div class="col-sm-8">
            <div class="radio">
                <label>
                    <input name="notification" type="radio" ng-model="$ctrl.app.settings.notification" value="ADMIN">
                    {{:: 'APP.FORM.SETTINGS.NOTIFICATIONS.ADMIN' | translate }}
                </label>
            </div>
            <div class="radio">
                <label>
                    <input name="notification" type="radio" ng-model="$ctrl.app.settings.notification" value="NONE">
                    {{:: 'APP.FORM.SETTINGS.NOTIFICATIONS.NONE' | translate }}
                </label>
            </div>
        </div>
        <div class="col-sm-1 hidden-xs">
            <coyo-help tip="APP.FORM.SETTINGS.NOTIFICATIONS.HELP"></coyo-help>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" translate="APP.FORM.SETTINGS.SEE_RESULTS"></label>
        <div class="col-sm-8">
            <div class="checkbox">
                <label>
                    <coyo-checkbox ng-model="$ctrl.app.settings.seeResults"></coyo-checkbox>
                    {{::'APP.FORM.SETTINGS.SEE_RESULTS.DESCRIPTION' | translate}}
                </label>
            </div>
        </div>
        <div class="col-sm-1 hidden-xs">
            <coyo-help tip="APP.FORM.SETTINGS.SEE_RESULTS.HELP"></coyo-help>
        </div>
    </div>
</div>

<!-- Email Settings -->
<div ng-show="$ctrl.tab === 1">
    <div class="form-group">
        <label class="col-sm-3 control-label" translate="APP.FORM.SETTINGS.EMAIL.USERS"></label>
        <div class="col-sm-8">
            <coyo-user-chooser ng-model="$ctrl.app.settings" users-field="recipientIds" groups-field="recipientGroupIds"></coyo-user-chooser>
        </div>
        <div class="col-sm-1 hidden-xs">
            <coyo-help tip="APP.FORM.SETTINGS.EMAIL.USERS.HELP"></coyo-help>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" translate="APP.FORM.SETTINGS.EMAIL.ADDITIONAL"></label>
        <div class="col-sm-8">
            <tags-input ng-model="$ctrl.app.settings.recipientAddresses"
                        type="email"
                        use-strings="true"
                        add-on-space="true"
                        spellcheck="false"
                        placeholder="@"
                        allowed-tags-pattern="{{$ctrl.emailPattern}}">
            </tags-input>
        </div>
        <div class="col-sm-1 hidden-xs">
            <coyo-help tip="APP.FORM.SETTINGS.EMAIL.ADDITIONAL.HELP"></coyo-help>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" translate="APP.FORM.SETTINGS.EMAIL.CONFIRMATION"></label>
        <div class="col-sm-8">
            <div class="checkbox">
                <label>
                    <coyo-checkbox ng-model="$ctrl.app.settings.emailConfirmation"></coyo-checkbox>
                    {{::'APP.FORM.SETTINGS.EMAIL.CONFIRMATION.LABEL' | translate}}
                </label>
            </div>
        </div>
        <div class="col-sm-1 hidden-xs">
            <coyo-help tip="APP.FORM.SETTINGS.EMAIL.CONFIRMATION.HELP"></coyo-help>
        </div>
    </div>
</div>
