@import "variables";
@import "mixins";

.latest-files-widget {
  .file-item {
    flex-flow: column;
    display: flex;
    padding: 5px 0;

    .file-info {
      order: 1;
      flex-grow: 1;
      display: flex;

      coyo-file-icon {
        margin: auto 0;
        order: 1;
      }

      a {
        font-size: 15px;
        color: $color-gray-darker;
        margin: auto 5px;
        font-weight: 400;
        flex-grow: 1;
        @include ellipsis();
        order: 3;
      }

      .label.label-text {
        font-size: 12px;
        padding: 1px 8px;
        line-height: 1.5;
        margin: auto 0;
        height: 20px;
        order: 4;
      }

      .label.label-empty-text {
        order: 2;
        border-radius: 10px;
        height: 10px;
        min-height: 10px;
        max-height: 10px;
        min-width: 10px;
        width: 10px;
        max-width: 10px;
        padding: 0;
        margin: auto 0 auto 4px;
      }
    }

    .author {
      margin: auto 0;
      order: 4;
      padding: 3px 20px;
    }
  }
}

.file-info {
  .label.label-text {
    display: none;

  }

  .label.label-empty-text {
    display: block;
  }
}

@include sm {
  .latest-files-widget {
    .file-item {
      .label.label-text {
        display: block;
      }

      .label.label-empty-text {
        display: none;
      }
    }
  }
}

@include md-and-up {
  :host-context(.col-md-12, .col-md-9, .widget-slot-content, .widget-slot-panel .col-md-8, .widget-slot-panels .col-md-8) {
    .latest-files-widget {
      .file-item {
        flex-flow: row;

        .file-info {
          order: 1;

          .label.label-text {
            display: block;
          }

          .label.label-empty-text {
            display: none;
          }
        }

        .author {
          order: 2;
          padding: 5px 10px;
        }
      }
    }
  }
}

@media #{screen} and (min-width: #{$container-large-desktop}) {
  :host-context(.col-md-6, .widget-slot-plain .col-md-8, .widget-slot-plain .col-md-9) {
    .latest-files-widget {
      .file-item {
        flex-flow: row;
        flex-wrap: wrap;

        .file-info {
          order: 1;
          width: 100%;
          flex-shrink: 1;

          .label.label-text {
            display: block;
          }

          .label.label-empty-text {
            display: none;
          }
        }

        .author {
          width: 100%;
          order: 4;
        }
      }
    }
  }
}

