<div class="latest-files-widget">
  <h4 class="widget-title">
    {{title || ("WIDGETS.LATESTFILES.NAME" | translate)}}
  </h4>
  <em *ngIf="!(hasFiles$() | async)" class="text-muted" translate="WIDGETS.LATESTFILES.NO_FILES"></em>
  <div *ngFor="let file of files$ | async" class="file-item">
    <div class="file-info">
      <coyo-file-icon [file]=file>
      </coyo-file-icon>
      <a (click)="openDetails($event, file)" class="file-info-title" href>{{file.displayName}}</a>
      <span *ngIf="!isNewFile(file)" class="label label-warning label-text"
            translate="WIDGETS.LATESTFILES.UPDATED"></span>
      <span *ngIf="!isNewFile(file)" class="label label-warning label-empty-text"></span>
    </div>
    <div *ngIf="file.author" class="author small">
      <a [uiParams]="{userId: file.author.slug}" href uiSref="main.profile">{{file.author.displayName}}</a>
      <coyo-time-ago [date]="file.modified" class="text-muted"></coyo-time-ago>
    </div>
  </div>
</div>
