@import "variables";

:host {
  align-self: center;
}
.file-preview-generating-animation {
  display: flex;
  flex-direction: column;
  align-items: center;

  .animation {
    width: 400px;
    height: 80px;
    margin-bottom: 24px;

    @media screen and (max-width: $screen-xs-max) {
      width: auto;
    }
  }

  .message {
    color: $color-white;
    text-shadow: 0 0 10px $color-black;
    padding: 5px;

    @media screen and (max-width: $screen-xs-max) {
      color: $n200;
      text-shadow: none;
    }
  }
}
