<span class="btn-comments" ng-class="{ loading: $ctrl.isLoading, active: $ctrl.count }"
      data-comment-target-id="{{:: $ctrl.target.id }}"
      data-comment-target-type="{{:: $ctrl.target.typeName }}"
      data-comment-count="{{ $ctrl.count }}">
  <a class="handle" ng-href="{{:: $ctrl.link}}"><i class="zmdi zmdi-comments"></i></a>
  <a class="count" ng-href="{{:: $ctrl.link}}">{{ $ctrl.count }}</a>
</span>
