@import "variables";
@import "mixins";

$padding-icon: 5px;

.btn-bookmark {
  @include widget-btn();
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex: 1 1 auto;
}

.flex-for-edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form > .icon-list:first-child {
  margin-left: 5px;
  margin-right: 14px;
}

.icon-list {
  @include icon-list($padding-icon);
}

.drag-icon {
  @include icon($n200, $n400, grab);
  padding-top: 1px;
}
.delete-icon, .toggle-icon {
  @include icon($n200, $n400, pointer);
  padding-top: 1px;
}

.bookmark-icon {
  @include icon-error();
}

.bookmark {
  @include break-word();
  width: 100%;
  margin-right: $padding-icon;

  .bookmark-title, .bookmark-url {
    width: 100%;
  }

  .inplace-edit {
    border: 0;

    &:hover, &:focus {
      border-bottom: 1px solid $n200;
    }
  }
}
