@import "mixins";

$bubble-border-radius: 18px;

form {
  background-color: $n25;
  padding: 8px 16px;

  @include sm-and-up() {
    border-radius: 0 0 5px 5px;
  }
}

.form-header {
  display: flex;
}

.form-actions {
  margin: 0 0 0 56px;
  font-size: 12px;
  line-height: 1em;
  color: $n200;

  > div {
    margin-top: 8px;
  }

  span + span {
    margin-left: 16px;
  }

  .mobile-edit-actions {
    display: flex;
    justify-content: flex-end;
    button {
      margin-left: 8px;
      margin-top: 6px;
      margin-bottom: 6px;
    }
  }
}

.bubble {
  display: flex;
  flex: 1;
  position: relative;
  background-color: $n0;
  border: 1px solid $n50;
  border-radius: $bubble-border-radius;
  padding-right: 8px;
}

.textarea-autosize-wrapper {
  flex: 1;
}

coyo-sender-avatar {
  align-self: flex-start;
  margin: 6px 8px 0 0;

  @include xs() {
    display: none;
  }
  @include sm-and-up() {
    margin-top: 2px;
  }
}

textarea {
  padding: 8px 8px 8px 16px;
  background: transparent;
  border: 0;
  border-radius: $bubble-border-radius;
  font-size: 14px;
  line-height: 20px;
  resize: none;

  &:focus {
    border: 0;
    box-shadow: none;
  }
}

coyo-attachment-btn,
coyo-emoji-picker,
.mobile-submit-button {
  align-self: flex-end;
  position: relative;
  bottom: 2px;
}

.mobile-submit-button {
  @include sm-and-up() {
    display: none;
  }
}
