<section class="page" ng-cloak>

  <div class="panel panel-default image-header" ng-class="{'has-cover': $ctrl.page.imageUrls.cover}">

    <div class="sender-actions">
      <!-- Change cover image -->
      <button class="btn btn-zmdi btn-dark change-cover" ng-if="$ctrl.page._permissions.manage"
              ng-click="$ctrl.changeCover($ctrl.page)">
        <i class="zmdi zmdi-hc-fw zmdi-camera" aria-hidden="true"></i><!--
     --><span class="btn-mobile-label">{{::'MODULE.PAGES.BUTTONS.CHANGE_COVER' | translate}}</span>
      </button>

      <!-- Follow/Unfollow button -->
      <coyo-page-subscribe page="$ctrl.page" dark-theme="true"></coyo-page-subscribe>
    </div>

    <!-- The cover image -->
    <coyo-sender-cover-image image-url="$ctrl.page.imageUrls.cover"></coyo-sender-cover-image>

    <div class="panel-foreground">

      <!-- The avatar image -->
      <div class="page-avatar-container">
        <span ng-if="$ctrl.page._permissions.manage">
          <coyo-avatar-overlay (overlay-click)="$ctrl.changeAvatar($ctrl.page)"
                               icon-class="zmdi-camera"
                               ng-class="$root.screenSize.isXs ? 'md' : ($root.screenSize.isLg ? 'xl' : 'lg')"></coyo-avatar-overlay>
        </span>
        <coyo-refresh on-scope-event="pageAvatar:changed">
          <coyo-sender-avatar
              [avatar-size]="$root.screenSize.isXs ? 'md' : ($root.screenSize.isLg ? 'xl' : 'lg')"
              [no-link]="true"
              [sender]="$ctrl.page"></coyo-sender-avatar>
      </div>

      <!-- The page name + follower count -->
      <div class="titles-container">
        <div class="title-description-wrapper">
          <div class="title" data-test="text-page-title">{{:: $ctrl.page.displayName }}</div>
          <div class="description hidden-xs">{{:: $ctrl.page.description}}</div>
          <div class="page-labels visible-xs">
            <coyo-page-visibility [visibility]="$ctrl.page.visibility"></coyo-page-visibility>
            <coyo-subscriber-info [subscriber-count]="$ctrl.page.userSubscriptionsCount"
                                  [target-id]="$ctrl.page.id"
                                  [is-admin]="$ctrl.page._permissions.manage"
                                  data-test="page-followers-count">
            </coyo-subscriber-info>
          </div>
        </div>
        <div class="page-labels hidden-xs">
          <coyo-page-visibility [visibility]="$ctrl.page.visibility"></coyo-page-visibility>
          <coyo-subscriber-info [subscriber-count]="$ctrl.page.userSubscriptionsCount"
                                [target-id]="$ctrl.page.id"
                                [is-admin]="$ctrl.page._permissions.manage"
                                data-test="page-followers-count">
          </coyo-subscriber-info>
        </div>
      </div>
    </div>

    <!-- Mobile Navigation -->
    <div ng-if="$ctrl.displayMobileNavigation">
      <coyo-sender-navigation-mobile apps="$ctrl.apps" current-app="$ctrl.currentApp" sender="$ctrl.page">
      </coyo-sender-navigation-mobile>
    </div>
  </div>

  <div class="content-with-sidebar">
    <div class="hidden-xs hidden-sm content-sidebar">

      <coyo-widget-slot can-manage="$ctrl.page._permissions.manageSlots"
                        class="widget-slot-sidebar"
                        hide-slot-placeholder="!$root.globalEditMode"
                        name="page-sidebar-top"
                        parent="$ctrl.page"></coyo-widget-slot>

      <!-- Navigation -->
      <coyo-sender-navigation apps="$ctrl.apps" apps-status="$ctrl.appsStatus"
                              sender="$ctrl.page"></coyo-sender-navigation>

      <!-- Options -->
      <div class="panel panel-sm">
        <div class="panel-body pb-xxs">
          <div class="text-muted text-uppercase" translate="PAGE.OPTIONS"></div>
        </div>
        <ul class="nav nav-default nav-icons nav-sender-options pb-xs">
          <li ng-class="{active: $state.includes('main.page.show.imprint')}" data-test="button-imprint">
            <a ui-sref="main.page.show.imprint">
              <i class="zmdi zmdi-accounts" aria-hidden="true"></i><span translate="PAGE.IMPRINT"></span>
            </a>
          </li>
          <li class="filter-entry"
              ng-if="$ctrl.page.autoSubscribeType === 'NONE' || $ctrl.page.autoSubscribeType === null"
              data-test="button-subscribed">
            <coyo-page-subscribe link="true" page="$ctrl.page"></coyo-page-subscribe>
          </li>
          <li coyo-global-permissions="CREATE_SHARE">
            <coyo-share-nav-bar-button [share-target]="$ctrl.page"
                                       translation-key="PAGE.SHARE"></coyo-share-nav-bar-button>
          </li>
          <li class="divider" ng-if="$ctrl.page._permissions.manage || $ctrl.page._permissions.manageApps"></li>
          <li ng-class="{disabled: $ctrl.appsStatus.busy}" ng-if="$ctrl.page._permissions.manageApps"
              data-test="button-add-app">
            <a href="#" ng-click="$ctrl.addApp($ctrl.page, $ctrl.apps)">
              <i class="zmdi zmdi-plus-circle-o"></i><span translate="APPS.ADD"></span>
            </a>
          </li>
          <li ng-class="{disabled: $ctrl.appsStatus.busy}" ng-if="$ctrl.page._permissions.manageApps"
              data-test="button-add-group">
            <a href="#" ng-click="$ctrl.addGroup()">
              <i class="zmdi zmdi-plus-circle-o-duplicate"></i><span translate="APPS.ADD_GROUP"></span>
            </a>
          </li>
          <li coyo-global-permissions="ACCESS_FILES, MANAGE_FILES" ng-if="$ctrl.page._permissions.manage"
              ui-sref-active="active" data-test="button-manage-files">
            <a ui-sref="main.page.show.files">
              <i class="zmdi zmdi-file" aria-hidden="true"></i> <span translate="MODULE.SENDER.FILES.NAVIGATION"></span>
            </a>
          </li>
          <li ng-if="$ctrl.page._permissions.manage" data-test="button-settings">
            <a ui-sref="main.page.show.settings">
              <i class="zmdi zmdi-settings" aria-hidden="true"></i><span translate="SETTINGS"></span>
            </a>
          </li>
        </ul>
      </div>

      <coyo-widget-slot can-manage="$ctrl.page._permissions.manageSlots"
                        class="widget-slot-sidebar"
                        hide-slot-placeholder="!$root.globalEditMode"
                        name="page-sidebar-bottom"
                        parent="$ctrl.page"></coyo-widget-slot>

      <div ui-view="app-sidebar"></div>
    </div>
    <div class="content-main">
      <div class="alert alert-warning" ng-if="$ctrl.currentApp && !$ctrl.currentApp.active" role="alert">
        <i class="zmdi zmdi-alert-triangle"></i> <span translate="APPS.INACTIVE"></span>
      </div>

      <coyo-widget-slot can-manage="$ctrl.page._permissions.manageSlots"
                        class="widget-slot-content"
                        hide-slot-placeholder="!$root.globalEditMode"
                        name="page-content"
                        parent="$ctrl.page"></coyo-widget-slot>

      <ui-view></ui-view>
      <div class="panel" ng-if="!$ctrl.apps.length && ('main.page.show' | isState)">
        <div class="panel-body">
          <p class="text-muted text-center m-0">
            <span translate="MODULE.PAGES.APPS.EMPTY"></span><br>
            <a href="#" ng-click="$ctrl.addApp($ctrl.page, $ctrl.apps)" ng-if="$ctrl.page._permissions.manageApps"
               translate="MODULE.PAGES.APPS.EMPTY_LINK"></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
