@import "variables";
@import "mixins";

header {
  display: flex;
  margin-bottom: 16px;
}

.timeline-item-title {
  @include break-word();
  flex: 1;
  min-width: 0;
  margin-left: 16px;
  margin-right: 38px;
  line-height: 22px;

  .mat-icon {
    color: $n200;
    position: relative;
    top: 3px;
    margin: 0 4px;

    + .mat-icon {
      margin-left: 0;
    }
  }
}

.timeline-item-title-subline {
  color: $n200;
  font-size: 14px;
  line-height: 16px;
}

:host-context(.has-ribbon) {
  .timeline-item-title {
    margin-right: 64px;
  }
}
