<section class="colleagues content-with-sidebar">

    <coyo-tour-step-mobile topic="colleagues" order="105"
                           image-url="/assets/images/tour/tour-mobile-colleagues-1.jpg"
                           title="{{:: 'TOUR.COLLEAGUES.LIST.TITLE' | translate }}"
                           content="{{:: 'TOUR.COLLEAGUES.LIST' | translate }}"></coyo-tour-step-mobile>

    <coyo-tour-step-mobile topic="colleagues" order="110"
                           image-url="/assets/images/tour/tour-mobile-colleagues-3.jpg"
                           title="{{:: 'TOUR.COLLEAGUES.FILTER.TITLE' | translate }}"
                           content="{{:: 'TOUR.COLLEAGUES.FILTER' | translate }}"></coyo-tour-step-mobile>

    <coyo-tour-step-mobile topic="colleagues" order="115"
                           image-url="/assets/images/tour/tour-mobile-colleagues-2.jpg"
                           title="{{:: 'TOUR.COLLEAGUES.FOLLOW.TITLE' | translate }}"
                           content="{{:: 'TOUR.COLLEAGUES.FOLLOW' | translate }}"></coyo-tour-step-mobile>

    <div class="content-sidebar">
        <!-- Widget Slot -->
        <coyo-widget-slot class="widget-slot-sidebar hidden-xs hidden-sm"
                          name="colleagues-list-top"
                          hide-slot-placeholder="!$root.globalEditMode"></coyo-widget-slot>

        <coyo-filterbox vertical="true">
            <fb-filter>
                <coyo-selection-filter
                    title-key="MODULE.COLLEAGUES.FILTER.SUBSCRIPTIONS"
                    filter-model="ctrl.subscriptionFilterModel"
                    on-selection-change="ctrl.setSubscriptionFilter()"
                    text-prefix="MODULE.COLLEAGUES.FILTER.SUBSCRIPTIONS"
                    hide-all-option="true"
                    css-class="subscription-filter">
                </coyo-selection-filter>
                <coyo-selection-filter
                    ng-repeat="filter in ctrl.aggregationFilters track by filter.trackingId"
                    title-key="MODULE.COLLEAGUES.FILTER.TITLE"
                    title-values="::ctrl.aggregations[filter.key]"
                    filter-model="filter"
                    on-selection-change="ctrl.setAggregationFilter(filter.key, selected)"
                    data-test="filter-collegue-title">
                </coyo-selection-filter>
                <coyo-selection-filter
                    title-key="MODULE.COLLEAGUES.FILTER.AVAILABILITY"
                    filter-model="ctrl.availabilityFilterModel"
                    on-selection-change="ctrl.setAvailabilityFilter(selected)"
                    text-prefix="MODULE.COLLEAGUES.FILTER.AVAILABILITY"
                    hide-all-option="true">
                </coyo-selection-filter>
            </fb-filter>
            <fb-search>
                <coyo-search-filter change="ctrl.search" placeholder="MODULE.COLLEAGUES.FILTER.SEARCH"
                                    search-term="{{ctrl.params.searchTerm}}"></coyo-search-filter>
            </fb-search>
        </coyo-filterbox>

        <coyo-tour-step topic="colleagues" order="115" placement="bottom" no-highlight="true"
                        step-id="colleagues.filter"
                        title="{{:: 'TOUR.COLLEAGUES.FILTER.TITLE' | translate }}"
                        content="{{:: 'TOUR.COLLEAGUES.FILTER' | translate }}"></coyo-tour-step>

        <!-- Widget Slot -->
        <coyo-widget-slot class="widget-slot-sidebar hidden-xs hidden-sm"
                          name="colleagues-list-bottom"
                          hide-slot-placeholder="!$root.globalEditMode"></coyo-widget-slot>
    </div>

    <div class="colleagues-list content-main">
        <coyo-tour-step topic="colleagues" order="105" placement="bottom" no-highlight="true" popup-class="mt-l"
                        step-id="colleagues.list" fixed="true"
                        title="{{:: 'TOUR.COLLEAGUES.LIST.TITLE' | translate }}"
                        content="{{:: 'TOUR.COLLEAGUES.LIST' | translate }}"></coyo-tour-step>
        <div class="row">
            <div ng-if="ctrl.loading">
                <div ng-if="::$root.screenSize.isLg">
                    <div class="col-xl-6">
                        <coyo-render-skeleton container="skeleton-container-colleague-card" name="skeleton-colleague-card"></coyo-render-skeleton>
                    </div>
                    <div class="col-xl-6">
                        <coyo-render-skeleton container="skeleton-container-colleague-card" name="skeleton-colleague-card"></coyo-render-skeleton>
                    </div>
                </div>
                <div ng-if="::$root.screenSize.isMd">
                    <div class="col-md-12">
                        <coyo-render-skeleton container="skeleton-container-colleague-card" name="skeleton-colleague-card"></coyo-render-skeleton>
                    </div>
                </div>
                <div ng-if="::$root.screenSize.isSm">
                    <div class="col-sm-6">
                        <coyo-render-skeleton container="skeleton-container-colleague-list-entry" name="skeleton-colleague-list-entry"></coyo-render-skeleton>
                    </div>
                    <div class="col-sm-6">
                        <coyo-render-skeleton container="skeleton-container-colleague-list-entry" name="skeleton-colleague-list-entry"></coyo-render-skeleton>
                    </div>
                </div>
                <div ng-if="::$root.screenSize.isXs">
                    <div class="col-xs-12">
                        <coyo-render-skeleton container="skeleton-container-colleague-list-entry" name="skeleton-colleague-list-entry"></coyo-render-skeleton>
                    </div>
                </div>
            </div>

            <!-- Widget Slot -->
            <coyo-widget-slot class="widget-slot-content"
                              name="colleagues-list-content"
                              hide-slot-placeholder="!$root.globalEditMode"></coyo-widget-slot>

            <div class="col-sm-6 col-md-12 col-xl-6" ng-repeat="user in ctrl.currentPage.content track by user.id">
                <coyo-user-card user="::user" current-user="::ctrl.currentUser"
                                subtitle="{{:: user.properties.jobTitle }}" show-follow-button="true"
                                show-messaging-button="true">
                    <card-body>
                        <oyoc-profile-field-preview user="::user"
                                                    profile-groups="ctrl.profileGroups"></oyoc-profile-field-preview>
                    </card-body>
                </coyo-user-card>
                <coyo-tour-step ng-if="::ctrl.currentUser.id !== user.id"
                                topic="colleagues" order="115" placement="bottom" step-id="colleagues.follow"
                                fixed="true" title="{{:: 'TOUR.COLLEAGUES.FOLLOW.TITLE' | translate }}"
                                content="{{:: 'TOUR.COLLEAGUES.FOLLOW' | translate }}"></coyo-tour-step>
            </div>

            <div class="col-xs-12" ng-if="ctrl.currentPage">
                <coyo-table-pagination page="ctrl.currentPage"></coyo-table-pagination>
            </div>

        </div>

        <!-- empty text -->
        <coyo-empty-list-notice
            ng-show="!ctrl.loading && !ctrl.currentPage.totalElements"
            text-key="MODULE.COLLEAGUES.EMPTY"
            filters-resettable="ctrl.filtersResettable"
            reset-filters="ctrl.resetFilters()">
        </coyo-empty-list-notice>

    </div>
</section>
