.colleagues {
  .subscription-filter {
    li:not(.active) {
      @include sm-and-up {
        a:focus:not(:hover) {
          background-color: transparent;
          border-color: transparent;
        }
      }
      @include xs() {
        a {
          background-color: transparent;
          border-color: transparent;
        }
      }
    }
  }
  .zmdi-circle {
    &.ONLINE {
      color: $color-green;
    }
  }
}
