@import "variables";

:host {
  .widget-layout-row-types {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    button {
      margin: 5px 0;
      color: $n75;
    }

    .widget-layout-row-type {
      width: 110px;
      flex: 110px 0 0;
      padding: 12px 0;
      display: flex;
      .slot-placeholder {
        background-color: $n75;
        height: 36px;
        margin: 0 4px;
      }
    }
  }
}
