<div class="sub-navigation" ng-if="$ctrl.subNavigationActive && $ctrl.landingPages.length > 1">
  <nav class="navbar navbar-fixed-top navbar-sub" role="navigation"
       aria-label="{{::'ADMIN.LANDING_PAGES.NAVIGATION.ARIA' | translate}}">
    <div class="navbar-wrapper">
      <ul class="nav nav-left">
        <li class="nav-item" ui-sref-active="active" ng-repeat="landingPage in $ctrl.landingPages">
          <a ng-if=":: !landingPage.configuredUrl" class="nav-item" ui-sref="main.landing-page.show({idOrSlug: landingPage.slug})">{{:: landingPage.displayName }}</a>
          <a ng-if=":: landingPage.configuredUrl" class="nav-item" ng-href="{{:: landingPage.configuredUrl}}"
             ng-attr-target= "{{:: $ctrl.getTarget(landingPage)}}">{{:: landingPage.displayName }}</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
