<li ng-if="$ctrl.jobStatus.state === 'RUNNING'">
    <button type="button" class="btn btn-default btn-block" ng-click="$ctrl.stopJobExecution()">
        <i class="zmdi zmdi-hc-fw zmdi-stop"></i>&nbsp;<span translate="ADMIN.JOBS.DETAILS.STOP_MANUALLY"></span>
    </button>
</li>
