@import "variables";
@import "mixins";

ul {
  list-style: none;
  margin: 0 -#{nth($panel-body-padding, 2) - 20px} -8px;
  padding: 0;

  @include xs {
    margin-bottom: -4px;
  }
}

a {
  .task-label {
    white-space: initial;
    overflow: initial;
    text-overflow: initial;
    line-height: 22px;
    text-align: left;
    margin: 5px 0;
    @include break-word();
  }

  .mat-icon {
    margin-right: 8px;
    color: $r400;
  }

  &.completed {
    font-weight: 400;
    color: $n100;

    .mat-icon {
      color: $g400;
    }
  }
}

.skeleton {
  @include skeleton((
    (x: 0, y: 3px, width: 16px, height: 16px), (x: 24px, y: 3px, width: calc(90% - 24px), height: 16px),
    (x: 0, y: 33px, width: 16px, height: 16px), (x: 24px, y: 33px, width: calc(75% - 24px), height: 16px),
    (x: 0, y: 63px, width: 16px, height: 16px), (x: 24px, y: 63px, width: calc(70% - 24px), height: 16px),
    (x: 0, y: 93px, width: 16px, height: 16px), (x: 24px, y: 93px, width: calc(60% - 24px), height: 16px),
    (x: 0, y: 123px, width: 16px, height: 16px), (x: 24px, y: 123px, width: calc(50% - 24px), height: 16px),
    (x: 0, y: 153px, width: 16px, height: 16px), (x: 24px, y: 153px, width: calc(85% - 24px), height: 16px)
  ), 172px);
}
