<div ng-if="$ctrl.managePermission" class="app-no-fields">
    <span class="app-icon-big">
        <i class="zmdi zmdi-hc-fw zmdi-settings"></i>
    </span>
    <span class="app-empty-text text-muted"> {{:: $ctrl.msgKey | translate }}</span>
    <button class="btn btn-primary btn-configure" ng-click="$ctrl.createFn()" translate="APP.COMMONS.FIELD.ADD"></button>
</div>
<div ng-if="!$ctrl.managePermission" class="app-no-fields">
    <span class="app-empty-text text-muted" translate="APP.COMMONS.FIELDS.NOT_CONFIGURED"></span>
</div>