<li>
  <button type="button" class="btn btn-default btn-block"
          ui-sref="admin.user-directories.edit({id: $ctrl.directory.id})">
    <i class="zmdi zmdi-hc-fw zmdi-edit"></i>&nbsp;<span translate="ADMIN.USER_DIRECTORIES.OPTIONS.EDIT.MENU"></span>
  </button>
</li>
<li ng-if="!$ctrl.directory.active">
  <button type="button" class="btn btn-default btn-block" ng-click="$ctrl.actions.activate($ctrl.directory);">
    <i class="zmdi zmdi-hc-fw zmdi-play"></i>&nbsp;<span translate="ADMIN.USER_DIRECTORIES.OPTIONS.ACTIVATE.MENU"></span>
  </button>
</li>
<li ng-if="$ctrl.directory.active">
  <button type="button" class="btn btn-default btn-block" ng-click="$ctrl.actions.deactivate($ctrl.directory);">
    <i class="zmdi zmdi-hc-fw zmdi-stop"></i>&nbsp;<span translate="ADMIN.USER_DIRECTORIES.OPTIONS.DEACTIVATE.MENU"></span>
  </button>
</li>
<li class="divider"></li>
<li>
  <button type="button" class="btn btn-default btn-block" ng-click="$ctrl.actions.deleteDirectory($ctrl.directory);">
    <i class="zmdi zmdi-hc-fw zmdi-delete"></i>&nbsp;<span translate="DELETE"></span>
  </button>
</li>