<div class="page-widget">
  <h4 class="widget-title">
    {{title || ("WIDGETS.SUGGEST_PAGES.NAME" | translate)}}
  </h4>
  <ng-container *ngIf="(state$ | async) as state">
    <div *ngIf="!state.hasPages && !state.loading" class="text-muted" translate="WIDGETS.SUGGEST_PAGES.NO_PAGE_FOUND"></div>
    <ul class="nav nav-default nav-icons">
      <li *ngFor="let page of state.pages">
        <a [uiParams]="{ idOrSlug: page.id }" href uiSref="main.page.show">
          <i class="zmdi zmdi-layers"></i> {{ page.name }}
        </a>
      </li>
    </ul>
    <ng-container *ngIf="state.loading">
      <div *ngFor="let number of getNeededSkeletons()" class="skeleton"></div>
    </ng-container>
  </ng-container>
</div>
