@import "variables";
@import "mixins";

.page-widget {
  @include ellipsis();
  h4.widget-title {
    margin-bottom: 0;
    padding-bottom: 8px;
  }

  .nav.nav-icons > li {
    margin-left: -30px;
    margin-right: -30px;

    a:focus {
      outline: none;
    }
  }
}

.skeleton {
  margin-top: 6px;
  @include skeleton((
    (x: 0, y: 0, width: 100%, height: 22.5px),
  ), 28.5px);
}
