<h1 mat-dialog-title>{{ 'SOCKETS.CONNECTION_LOST.CAPTION' | translate }}</h1>
<mat-dialog-close [attr.aria-label]="'CLOSE' | translate"></mat-dialog-close>
<div mat-dialog-content>
  <p>{{ 'SOCKETS.CONNECTION_LOST.TEXT' | translate }}</p>
</div>
<div mat-dialog-actions>
  <button mat-flat-button type="submit" (click)="onReload()" color="accent">{{'RELOAD_PAGE' | translate}}</button>
</div>
