@import "variables";
@import "mixins";

:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $n0;
}

.launchpad-body-wrapper {
  margin-top: 64px;
  overflow-x: hidden;
  overflow-y: auto;

  @include sm-and-up() {
    margin-top: 80px;
  }
}

.launchpad-body {
  max-width: 1024px;
}

.launchpad-categories, .launchpad-apps {
  @include sm-and-up() {
    margin-left: 220px;
  }
}

:host-context(.no-scroll) .launchpad-body-wrapper {
  overflow: hidden;
}

coyo-spinner {
  display: block;
  text-align: center;
}

/**
 * ===== 2-columns view styles
 */

.columns {
  .launchpad-categories, .launchpad-apps {
    margin-left: 0;
  }

  .launchpad-categories {
    @include sm-and-up() {
      @include columns(2, 24px);

      coyo-launchpad-category {
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
      }
    }
  }
}
