@import "variables";
@import "mixins";

$line-count: 3;
$line-height: 20px;
$line-gap: 10px;
$line-box: $line-height + $line-gap;
$elem-box: $line-count * $line-box - $line-gap;

:host {
  display: block;
  margin: 18px 0;
}

div {
  height: $elem-box;
  margin: ($line-gap / 2) 0;

  background-image:
    linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.25) 25%,
      rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.25) 75%, rgba(255, 255, 255, 0) 100%),
    linear-gradient($n35 $line-height, transparent 0), linear-gradient($n35 $line-height, transparent 0),
    linear-gradient($n35 $line-height, transparent 0), linear-gradient($n35 $line-height, transparent 0);

  background-repeat: repeat-y;

  background-size:
    50px (2 * $line-box),
    16px (2 * $line-box), 50% (2 * $line-box),
    16px (2 * $line-box), 40% (2 * $line-box);

  background-position:
    0 0,
    0 0, 30px 0,
    0 $line-box, 30px $line-box;

  animation: shine-subscription-widget 1.25s infinite;
}

@keyframes shine-subscription-widget {
  to {
    background-position:
      60% 0,
      0 0, 30px 0,
      0 $line-box, 30px $line-box;
  }
}
