@import "variables";
@import "mixins";

.article {
  background-color: $n0;
  height: 100%;
  width: 100%;
  padding-top: 16px;

  > * {
    margin-top: 24px;
  }
}

.text {
  padding: 0 24px;
  @include break-word();
}

.social-options {

  coyo-like-container {
    padding: 4px 8px;
  }

  border-top: 1px solid $n50;
}
