@function _toNumber($value) {
  @if type-of($value) == 'number' {
    @return $value;
  }
  $result: 0;
  $digits: 0;
  $minus: str-slice($value, 1, 1) == '-';
  $numbers: ('0': 0, '1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9);

  @for $i from if($minus, 2, 1) through str-length($value) {
    $character: str-slice($value, $i, $i);
    @if $character == ' ' {
      // do nothing
    } @else if $character == '.' {
      $digits: 1;
    } @else if $digits == 0 {
      $result: $result * 10 + map-get($numbers, $character);
    } @else {
      $digits: $digits * 10;
      $result: $result + map-get($numbers, $character) / $digits;
    }
  }

  @return if($minus, -$result, $result);
}

@function _getCaluclatedLightness($thirdParam, $amount-percent, $sign) {
  @if (str_index($thirdParam, "calc(") != null) {
    @return str_insert($thirdParam, ' #{$sign} #{$amount-percent}', str_length($thirdParam));
  } @else {
    @return 'calc(#{$thirdParam} #{$sign} #{$amount-percent})';
  }
}

@function _adjust($color, $amount-percent, $sign) {
  @if (str_index($color, "hsl(") != null) {
    $params: str-slice($color, str_index($color, 'hsl(' ) + 4, str_length($color) - 1);
    $firstParam: str_slice($params, 0, str_index($params, ',') - 1);
    $params: str_slice($params, str_index($params, ',') + 1, str_length($params));
    $secondParam: str_slice($params, 0, str_index($params, ',') - 1);
    $thirdParam: str_slice($params, str_index($params, ',') + 1, str_length($params));
    $thirdParam: _getCaluclatedLightness($thirdParam, $amount-percent, $sign);
    @return unquote("hsl(#{$firstParam},#{$secondParam},#{$thirdParam})");
  } @else if (str_index($color, "hsla(") != null) {
    $params: str-slice($color, str_index($color, 'hsla(' ) + 4, str_length($color) - 1);
    $firstParam: str_slice($params, 0, str_index($params, ',') - 1);
    $params: str_slice($params, str_index($params, ',') + 1, str_length($params));
    $secondParam: str_slice($params, 0, str_index($params, ',') - 1);
    $params: str_slice($params, str_index($params, ',') + 1, str_length($params));
    $thirdParam: str_slice($params, 0, str_index($params, ',') - 1);
    $fourthParam: str_slice($params, str_index($params, ',') + 1, str_length($params));
    $thirdParam: _getCaluclatedLightness($thirdParam, $amount-percent, $sign);
    $result: "hsla(#{$firstParam},#{$secondParam},#{$thirdParam}, #{$fourthParam})";
    @return unquote(result);
  } @else {
    $name: unquote(str-slice($color, str_index($color, '(' ) + 1, str_index($color, ')') - 1));
    @return unquote("hsl(var(#{$name}-h), var(#{$name}-s), calc(var(#{$name}-l) #{$sign} #{$amount-percent}))");
  }
}

@function _adjustAlpha($color, $amount) {
  $alpha: max(0, min(1, 1 + $amount));
  @if (str_index($color, "hsl(") != null) {
    $params: str-slice($color, str_index($color, 'hsl(' ) + 4, str_length($color) - 1);
    $firstParam: str_slice($params, 0, str_index($params, ',') - 1);
    $params: str_slice($params, str_index($params, ',') + 1, str_length($params));
    $secondParam: str_slice($params, 0, str_index($params, ',') - 1);
    $thirdParam: str_slice($params, str_index($params, ',') + 1, str_length($params));
    @return unquote("hsla(#{$firstParam},#{$secondParam},#{$thirdParam}, #{$alpha})");
  } @else if (str_index($color, "hsla(") != null) {
    $params: str-slice($color, str_index($color, 'hsla(' ) + 4, str_length($color) - 1);
    $firstParam: str_slice($params, 0, str_index($params, ',') - 1);
    $params: str_slice($params, str_index($params, ',') + 1, str_length($params));
    $secondParam: str_slice($params, 0, str_index($params, ',') - 1);
    $params: str_slice($params, str_index($params, ',') + 1, str_length($params));
    $thirdParam: str_slice($params, 0, str_index($params, ',') - 1);
    $fourthParam: str_slice($params, str_index($params, ',') + 1, str_length($params));
    $alpha: max(0, min(1, _toNumber($fourthParam) + $amount));
    @return unquote("hsla(#{$firstParam},#{$secondParam},#{$thirdParam}, #{$alpha})");
  } @else {
    $name: unquote(str-slice($color, str_index($color, '(' ) + 1, str_index($color, ')') - 1));
    @return unquote("hsla(var(#{$name}-h), var(#{$name}-s), var(#{$name}-l), #{$alpha})");
  }
}
