<section class="event" ng-cloak>

  <div class="panel panel-default image-header" ng-class="{'has-cover': $ctrl.event.imageUrls.cover}">

    <coyo-tour-step-mobile content="{{:: 'TOUR.EVENTS.NAME' | translate }}"
                           image-url="/assets/images/tour/tour-mobile-event-1.jpg"
                           order="105"
                           title="{{:: 'TOUR.EVENTS.NAME.TITLE' | translate }}"
                           topic="events"></coyo-tour-step-mobile>

    <coyo-tour-step-mobile content="{{:: 'TOUR.EVENTS.AVATAR' | translate }}"
                           image-url="/assets/images/tour/tour-mobile-event-2.jpg"
                           order="110"
                           title="{{:: 'TOUR.EVENTS.AVATAR.TITLE' | translate }}"
                           topic="events"></coyo-tour-step-mobile>

    <coyo-tour-step-mobile content="{{:: 'TOUR.EVENTS.TIMELINE' | translate }}"
                           image-url="/assets/images/tour/tour-mobile-event-3.jpg"
                           order="115"
                           title="{{:: 'TOUR.EVENTS.TIMELINE.TITLE' | translate }}"
                           topic="events"></coyo-tour-step-mobile>

    <coyo-tour-step-mobile content="{{:: 'TOUR.EVENTS.INFORMATION' | translate }}"
                           image-url="/assets/images/tour/tour-mobile-event-4.jpg"
                           order="120"
                           title="{{:: 'TOUR.EVENTS.INFORMATION.TITLE' | translate }}"
                           topic="events"></coyo-tour-step-mobile>

    <coyo-tour-step-mobile content="{{:: 'TOUR.EVENTS.PARTICIPANTS' | translate }}"
                           image-url="/assets/images/tour/tour-mobile-event-5.jpg"
                           order="125"
                           title="{{:: 'TOUR.EVENTS.PARTICIPANTS.TITLE' | translate }}"
                           topic="events"></coyo-tour-step-mobile>

    <div class="sender-actions">

      <!-- Change cover image -->
      <button class="btn btn-zmdi btn-dark change-cover" ng-click="$ctrl.changeCover($ctrl.event)"
              ng-if="$ctrl.canManage">
        <i class="zmdi zmdi-hc-fw zmdi-camera"></i><!--
     --><span class="btn-mobile-label">{{:: 'MODULE.EVENTS.BUTTONS.CHANGE_COVER'| translate}}</span>
      </button>
    </div>

    <!-- The cover image -->
    <coyo-sender-cover-image image-url="$ctrl.event.imageUrls.cover"></coyo-sender-cover-image>

    <div class="panel-foreground">

      <!-- The avatar image -->
      <div class="event-avatar-container">
        <coyo-tour-step content="{{:: 'TOUR.EVENTS.AVATAR' | translate }}" order="110" step-id="event.avatar"
                        title="{{:: 'TOUR.EVENTS.AVATAR.TITLE' | translate }}" placement="bottom-left" fixed="true"
                        topic="events"></coyo-tour-step>
        <span ng-if="$ctrl.canManage">
          <coyo-avatar-overlay (overlay-click)="$ctrl.changeAvatar($ctrl.event)"
                               icon-class="zmdi-camera"
                               ng-class="$root.screenSize.isXs ? 'md' : 'lg'"></coyo-avatar-overlay>
        </span>
        <coyo-refresh on-scope-event="changed">
          <coyo-event-avatar [avatar-size]="$root.screenSize.isXs ? 'md' : 'lg'"
                             [no-link]="true"
                             [sender]="$ctrl.event"></coyo-event-avatar>
        </coyo-refresh>
      </div>

      <!-- The event name + sender -->
      <div class="titles-container">
        <div class="title"
             data-test="headline-event-title">
          {{:: $ctrl.event.displayName}}
          <coyo-tour-step content="{{:: 'TOUR.EVENTS.NAME' | translate }}" order="105" placement="bottom"
                          step-id="event.name" fixed="true"
                          title="{{:: 'TOUR.EVENTS.NAME.TITLE' | translate }}"
                          topic="events"></coyo-tour-step>
        </div>
        <div class="subtitle">
          <i class="zmdi text-muted" ng-class="::$ctrl.event.public ? 'zmdi-globe' : 'zmdi-lock'"></i>&nbsp;
          <span class="text-muted label-visibility" ng-if="::!$ctrl.event.public" translate="EVENT.PRIVATE"></span>
          <span class="text-muted label-visibility" ng-if="::$ctrl.event.public" translate="EVENT.PUBLIC"></span>
          <i class="zmdi zmdi-play ml-xxs mr-xxs"></i>
          <coyo-sender-link [sender]="::$ctrl.event.host" data-test="events-show-sender-link"></coyo-sender-link>
        </div>
      </div>

      <coyo-event-participation *ngIf="$ctrl.event.canParticipate()" [event]="$ctrl.event" [is-ongoing]="$ctrl.isOngoing()" [has-ended]="$ctrl.hasEnded()"
                                    (status-changed)="$ctrl.onParticipationStatusChanged($event)"></coyo-event-participation>
    </div>

    <!-- The navigation menu -->
    <div class="event-nav">
      <uib-tabset active="-1" justified="true" type="tabs">
        <uib-tab ui-sref="main.event.show.timeline" ui-sref-active="active">
          <uib-tab-heading>
            <i class="zmdi zmdi-comment-list"></i>
            <coyo-tour-step content="{{:: 'TOUR.EVENTS.TIMELINE' | translate }}" order="115" step-id="event.timeline"
                            title="{{:: 'TOUR.EVENTS.TIMELINE.TITLE' | translate }}" placement="bottom"  fixed="true"
                            topic="events"></coyo-tour-step>
            <span class="tab-text" translate="MODULE.EVENTS.TABS.TIMELINE"></span>
          </uib-tab-heading>
        </uib-tab>
        <uib-tab ui-sref="main.event.show.information" ui-sref-active="active">
          <uib-tab-heading>
            <i class="zmdi zmdi-info-outline"></i>
            <coyo-tour-step content="{{:: 'TOUR.EVENTS.INFORMATION' | translate }}" order="115"
                            step-id="event.informations" placement="bottom" fixed="true"
                            title="{{:: 'TOUR.EVENTS.INFORMATION.TITLE' | translate }}"
                            topic="events"></coyo-tour-step>
            <span class="tab-text" translate="MODULE.EVENTS.TABS.INFORMATION"></span>
          </uib-tab-heading>
        </uib-tab>
        <uib-tab ng-if="$ctrl.shouldShowParticipants" ui-sref="main.event.show.participants" ui-sref-active="active">
          <uib-tab-heading>
            <i class="zmdi zmdi-accounts-alt">
              <span class="participants-count-tab">{{$ctrl.event.attendingCount > 99 ? '99+' : $ctrl.event.attendingCount}}</span>
            </i>
            <coyo-tour-step content="{{:: 'TOUR.EVENTS.PARTICIPANTS' | translate }}" order="115"
                            step-id="event.participants" placement="bottom" fixed="true"
                            title="{{:: 'TOUR.EVENTS.PARTICIPANTS.TITLE' | translate }}"
                            topic="events"></coyo-tour-step>
            <span class="tab-text" translate="MODULE.EVENTS.TAB.PARTICIPANTS" data-test="events-show-participants-tab"></span>
          </uib-tab-heading>
        </uib-tab>
        <li class="uib-tab nav-item hidden-lg" dropdown-append-to-body uib-dropdown>
          <a class="dropdown-more" uib-dropdown-toggle>
            <i class="zmdi zmdi-more">
            </i>
            <span class="tab-text" translate="NAVIGATION.CONTEXT.HEADLINE"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-right" role="menu" uib-dropdown-menu>
            <li ng-if="$ctrl.shouldShowParticipants">
              <a ui-sref="main.event.show.participants" ui-sref-active="active">
                <i class="zmdi zmdi-hc-fw zmdi-accounts-alt"></i>
                <span class="tab-text" translate="MODULE.EVENTS.TAB.PARTICIPANTS"></span>
              </a>
            </li>
            <li coyo-global-permissions="CREATE_SHARE">
              <coyo-share-nav-bar-button [share-target]="$ctrl.event" translation-key="COMMONS.SHARES.SUBMIT"></coyo-share-nav-bar-button>
            </li>
            <li>
              <a coyo-download="$ctrl.iCalExportUrl" href ng-if="$ctrl.iCalExportUrl">
                <i class="zmdi zmdi-hc-fw zmdi-calendar-check"></i>&nbsp;<span translate="{{:: 'EVENT.EXPORT.ICAL.SINGLE_EVENT'}}"></span>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a ng-if="$ctrl.canManage" ui-sref="main.event.show.settings">
                <i class="zmdi zmdi-hc-fw zmdi-settings"></i>
                <span class="tab-text" translate="SETTINGS"></span>
              </a>
            </li>
            <li>
              <coyo-event-subscribe event="$ctrl.event" user="$ctrl.currentUser"></coyo-event-subscribe>
            </li>
          </ul>
        </li>
      </uib-tabset>
    </div>

    <div class="event-nav-mobile sender-navigation">
      <ul class="nav nav-tabs nav-justified nav-sender">
        <li>
          <a ui-sref="main.event.show.timeline" ui-sref-active="active">
            <i class="zmdi zmdi-comment-list"></i><span class="hidden-xs hidden-sm tab-text" translate="MODULE.EVENTS.TABS.TIMELINE"></span>
          </a>
        </li>
        <li>
          <a ui-sref="main.event.show.information" ui-sref-active="active">
            <i class="zmdi zmdi-info-outline"></i><span class="hidden-xs hidden-sm tab-text" translate="MODULE.EVENTS.TABS.INFORMATION"></span>
          </a>
        </li>
        <li dropdown-append-to-body uib-dropdown>
          <a class="dropdown-more" uib-dropdown-toggle>
            <i class="zmdi zmdi-more"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-right" role="menu" uib-dropdown-menu>
            <li ng-if="$ctrl.shouldShowParticipants">
              <a ui-sref="main.event.show.participants" ui-sref-active="active">
                <i class="zmdi zmdi-hc-fw zmdi-accounts-alt"></i>
                <span class="tab-text" translate="MODULE.EVENTS.TAB.PARTICIPANTS"></span>
              </a>
            </li>
            <li coyo-global-permissions="CREATE_SHARE">
              <coyo-share-nav-bar-button [share-target]="$ctrl.event" translation-key="COMMONS.SHARES.SUBMIT"></coyo-share-nav-bar-button>
            </li>
            <li>
              <a coyo-download="$ctrl.iCalExportUrl" href ng-if="$ctrl.iCalExportUrl">
                <i class="zmdi zmdi-hc-fw zmdi-calendar-check"></i>&nbsp;<span translate="{{:: 'EVENT.EXPORT.ICAL.SINGLE_EVENT'}}"></span>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a ng-if="$ctrl.canManage" ui-sref="main.event.show.settings">
                <i class="zmdi zmdi-hc-fw zmdi-settings"></i>
                <span class="tab-text" translate="SETTINGS"></span>
              </a>
            </li>
            <li>
              <coyo-event-subscribe event="$ctrl.event" user="$ctrl.currentUser"></coyo-event-subscribe>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div ui-view></div>
</section>
