<section class="event-settings">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title" translate="MODULE.EVENTS.SETTINGS.TITLE"></h3>
    </div>

    <form name="$ctrl.eventsForm" class="form-horizontal" coyo-form-submit="$ctrl.saveEvent()">
      <coyo-event-settings [event-id]="$ctrl.event.id"
                           [event]="$ctrl.event"
                           (form-result)="$ctrl.addGeneralFormData($event)">
      </coyo-event-settings>
      <!-- Admins -->
      <div class="advanced-settings-divider"><div></div></div>
      <div class="form-group group advanced-settings">
        <div class="col-sm-12">
          <label translate="EVENT.ADMINS.LABEL"></label>
        </div>
        <div class="col-sm-12">
          <coyo-user-chooser name="admins" id="admins"
                             ng-model="$ctrl.event"
                             users-only="true"
                             min="1"
                             users-field="adminIds">
          </coyo-user-chooser>
        </div>
      </div>
      <div class="form-actions">
        <div class="row">
          <div class="col-md-6 form-action-buttons text-left">
            <button ng-click="$ctrl.deleteEvent()"
                    class="coyo-btn coyo-btn-secondary"
                    type="button">
              {{:: 'DELETE'| translate}}
            </button>
          </div>
          <div class="col-md-6 form-action-buttons text-right">
            <button ui-sref="main.event.show({idOrSlug: $ctrl.oldSlug})"
                    class="coyo-btn coyo-btn-secondary"
                    type="button">
              {{:: 'CANCEL'| translate }}
            </button>
            <coyo-form-submit-button label="SAVE" form-ctrl="$ctrl.eventsForm"></coyo-form-submit-button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
