@import 'variables';

:host {
  display: block;
  position: relative;

  input {
    height: 32px;
    padding-left: 44px;
    background-color: $n35;
    color: $n200;
    border: none;
    font-size: 15px;
    transition: all .25s ease;
    width: 100%;
    border-radius: 4px;

    @media screen and (min-width: $screen-xs-min) {
      height: 40px;
    }

    &::placeholder {
      color: $n200;
    }

    &:focus {
      box-shadow: inset 0 0 0 2px $color-primary;
      background-color: $n0;
    }
  }

  mat-icon {
    position: absolute;
    left: 12px;
    top: 0;
    bottom: 0;
    height: inherit;
    color: $n200;
  }
}
