@import "variables";
@import "mixins";

/**
 *  SINGLE FILE WIDGET
 */

.col-md-12 {
  $skeleton-widget-single-file-height: 150px;

  .skeleton-widget-single-file:empty {
    width: 100%;
    height: $skeleton-widget-single-file-height;

    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.25) 25%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.25) 75%, rgba(255, 255, 255, 0) 100%), /* highlight */
    linear-gradient($gray-lighter $skeleton-widget-single-file-height, transparent 0),
    linear-gradient($gray-lighter 20px, transparent 0),
    linear-gradient($gray-lighter 15px, transparent 0),
    linear-gradient($gray-lighter 15px, transparent 0);

    background-repeat: no-repeat;

    background-size: 50px $skeleton-widget-single-file-height, /* highlight */
    32.5% $skeleton-widget-single-file-height,
    15% $skeleton-widget-single-file-height,
    20% $skeleton-widget-single-file-height,
    17.5% $skeleton-widget-single-file-height;

    background-position: 0 0, /* highlight */
    0 0,
    42.5% 20px,
    45% 55px,
    43.75% 75px;

    animation: shine-widget-single-file-md-12 1.25s infinite;
  }

  @keyframes shine-widget-single-file-md-12 {
    to {
      background-position: 100% 0, /* move highlight to right */
      0 0,
      42.5% 20px,
      45% 55px,
      43.75% 75px;
    }
  }
}


@media print, screen and (max-width: $screen-xs-min) {
  .col-md-12 {
    $skeleton-widget-single-file-height: 350px;

    .skeleton-widget-single-file:empty {
      width: 100%;
      height: $skeleton-widget-single-file-height;

      background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.25) 25%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.25) 75%, rgba(255, 255, 255, 0) 100%), /* highlight */
      linear-gradient($gray-lighter 225px, transparent 0),
      linear-gradient($gray-lighter 20px, transparent 0),
      linear-gradient($gray-lighter 15px, transparent 0),
      linear-gradient($gray-lighter 15px, transparent 0);

      background-repeat: no-repeat;

      background-size: 50px $skeleton-widget-single-file-height, /* highlight */
      100% $skeleton-widget-single-file-height,
      35% $skeleton-widget-single-file-height,
      27.5% $skeleton-widget-single-file-height,
      40% $skeleton-widget-single-file-height;

      background-position: 0 0, /* highlight */
      0 0,
      50% 245px,
      50% 280px,
      50% 300px;

      animation: shine-widget-single-file-md-12-mobile 1.25s infinite;
    }

    @keyframes shine-widget-single-file-md-12-mobile {
      to {
        background-position: 100% 0, /* move highlight to right */
        0 0,
        50% 245px,
        50% 280px,
        50% 300px;
      }
    }
  }
}

.col-md-6,
.col-md-4,
.col-md-3 {
  $skeleton-widget-single-file-height: 350px;

  .skeleton-widget-single-file:empty {
    width: 100%;
    height: $skeleton-widget-single-file-height;

    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.25) 25%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.25) 75%, rgba(255, 255, 255, 0) 100%), /* highlight */
    linear-gradient($gray-lighter 225px, transparent 0),
    linear-gradient($gray-lighter 20px, transparent 0),
    linear-gradient($gray-lighter 15px, transparent 0),
    linear-gradient($gray-lighter 15px, transparent 0);

    background-repeat: no-repeat;

    background-size: 50px $skeleton-widget-single-file-height, /* highlight */
    100% $skeleton-widget-single-file-height,
    35% $skeleton-widget-single-file-height,
    27.5% $skeleton-widget-single-file-height,
    40% $skeleton-widget-single-file-height;

    background-position: 0 0, /* highlight */
    0 0,
    50% 245px,
    50% 280px,
    50% 300px;

    animation: shine-widget-single-file-md-6 1.25s infinite;
  }

  @keyframes shine-widget-single-file-md-6 {
    to {
      background-position: 100% 0, /* move highlight to right */
      0 0,
      50% 245px,
      50% 280px,
      50% 300px;
    }
  }
}

.col-md-4 {
  $skeleton-widget-single-file-height: 350px;

  .skeleton-widget-single-file:empty {
    background-size: 50px $skeleton-widget-single-file-height, /* highlight */
    100% $skeleton-widget-single-file-height,
    45% $skeleton-widget-single-file-height,
    37.5% $skeleton-widget-single-file-height,
    50% $skeleton-widget-single-file-height;
  }
}

.col-md-3 {
  $skeleton-widget-single-file-height: 350px;

  .skeleton-widget-single-file:empty {
    background-size: 50px $skeleton-widget-single-file-height, /* highlight */
    100% $skeleton-widget-single-file-height,
    55% $skeleton-widget-single-file-height,
    47.5% $skeleton-widget-single-file-height,
    60% $skeleton-widget-single-file-height;
  }
}
