@import 'mixins';

:host {
  display: flex;
  align-items: center;
}

.line-container {
  display: flex;
  justify-content: center;
  margin-left: 8px;
  flex-direction: column;
  min-width: 0;
  flex: 1 1 100%;
  height: 60px;

  .headline,
  .subline {
    @include ellipsis();
  }
}

:host-context(.mention-selection) {
  width: 100%;
}
