<h3 mat-dialog-title>{{'WIDGETS.SETTINGS.TITLE' | translate}}</h3>
<mat-dialog-close [attr.aria-label]="'CLOSE' | translate"></mat-dialog-close>
<form [formGroup]="widgetForm" class="form-horizontal" name="widgetForm" mat-dialog-content *ngIf="config">
    <coyo-widget-settings-container *ngIf="!config.legacy" [widget]="widget" [component]="config.settings.component" [parentForm]="widgetForm" [onSubmit]="onSubmitSubject"></coyo-widget-settings-container>
    <coyo-ng1-widget-settings *ngIf="config.legacy" [config]="config" [(widget)]="widget" (legacyFormSet)="onLegacyFormSet($event)" [saveCallbacks]="callbacks"></coyo-ng1-widget-settings>
</form>
<mat-dialog-actions *ngIf="config">
  <button type="submit" class="btn btn-primary" (click)="submit(widgetForm.getRawValue())" [disabled]="widgetForm.invalid || ng1WidgetForm?.$invalid" [attr.aria-label]="'SAVE' | translate">
    <i class="zmdi zmdi-hc-fw zmdi-check"></i>&nbsp;{{'SAVE' | translate}}
  </button>
</mat-dialog-actions>
