<div class="event-create-menu">
  <div class="button-container">
    <button class="hidden-xs hidden-sm event-create-button" mat-flat-button color="primary" [matMenuTriggerFor]="eventCreateMenu">
      <i class="zmdi zmdi-plus"></i> {{'EVENT.CREATE.BUTTON' | translate}}
    </button>
    <button class="visible-xs visible-sm event-create-button-mobile" mat-icon-button [attr.aria-label]="'EVENT.CREATE.BUTTON' | translate" [matMenuTriggerFor]="eventCreateMenu">
      <mat-icon svgIcon="plus-circled"></mat-icon>
    </button>
  </div>
  <mat-menu #eventCreateMenu="matMenu" class="event-create-menu-panel">
    <button class="event-visibility-button" mat-menu-item *ngFor="let visibility of eventVisibilities" (click)="redirectToEventCreate(visibility)">
      <div class="button-flex-container">
        <div class="icon-container">
          <mat-icon [svgIcon]="visibility.icon"></mat-icon>
        </div>
        <div class="text-container">
          <span class="name">{{'EVENT.' + visibility.name | translate}}</span>
          <span class="description">{{'EVENT.' + visibility.name + '.LABEL' | translate}}</span>
        </div>
      </div>
    </button>
  </mat-menu>
</div>
