<div class="admin-apps-widgets">
    <div class="panel panel-default panel-tabs">
        <uib-tabset justified="true">
            <uib-tab ui-sref="admin.gamification.games" ui-sref-active="active">
                <uib-tab-heading>
                    <i class="zmdi zmdi-ticket-star zmdi-wide"></i> <span class="tab-text" translate="ADMIN.GAMIFICATION.GAMES.TITLE"></span>
                </uib-tab-heading>
            </uib-tab>
        </uib-tabset>
    </div>
    <div ui-view></div>
</div>
