<form ng-submit="vm.save()">
  <div class="modal-content-wrapper account-notification-settings">
    <div class="modal-header">
      <h3 class="modal-title" translate="MODULE.ACCOUNT.SETTINGS.INTEGRATION.HEADLINE"></h3>
      <span class="modal-close" ng-click="vm.onDismiss ? vm.onDismiss() : $dismiss('cancel')">
        <i class="zmdi zmdi-close img-close"></i>
      </span>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <div class="checkbox">
          <label>
            <coyo-checkbox ng-model="vm.isCalendarSyncEnabled"></coyo-checkbox>
            {{:: 'MODULE.ACCOUNT.SETTINGS.INTEGRATION.EVENTS.CHECKBOX' | translate }}
          </label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary"><i class="zmdi zmdi-hc-fw zmdi-check"></i>&nbsp;{{::'SAVE' | translate}}</button>
    </div>
  </div>
</form>
