<div class="modal-content-wrapper">
  <div class="modal-header">
    <h3 class="modal-title" translate="MODULE.ACCOUNT.MODALS.PUSH_DEVICES.TITLE"></h3>
    <span class="modal-close" ng-click="$dismiss('cancel')"><i class="zmdi zmdi-close img-close"></i></span>
  </div>
  <div class="modal-body push-app-installations-modal">
    <ul class="modal-mobile-options push-device-or-app-installation" ng-if="!!vm.pushDevicesAmount">

      <li ng-repeat-start="appInstallations in vm.pushDevices | devicesToOrderedArray"
          ng-click="vm.pushDevicesDetails[appInstallations[0].name].appsCollapsed = !vm.pushDevicesDetails[appInstallations[0].name].appsCollapsed"
          class="modal-mobile-option modal-mobile-device-option">
        <div class="device-name-and-created-box">
          <span class="device-name">{{appInstallations[0].name}}</span>
          <span class="device-created">{{vm.pushDevicesDetails[appInstallations[0].name].created | amTimezone: $root.timezone | amDateFormat: $root.dateFormat.short}}</span>
        </div>
        <div class="push-device-apps-status-box">
          <span class="label label-app-installations">{{ appInstallations.length }} {{:: 'MODULE.ACCOUNT.PUSH_DEVICES.APPS' | translate}}</span>
          <coyo-active-label ng-model="vm.pushDevicesDetails[appInstallations[0].name].active"></coyo-active-label>
        </div>
        <div class="push-device-chevron-box">
          <i class="zmdi zmdi-hc-lg push-device-chevron"
             ng-class="vm.pushDevicesDetails[appInstallations[0].name].appsCollapsed ? 'zmdi-chevron-down' : 'zmdi-chevron-up'"></i>
        </div>
      </li>

      <li ng-repeat="appInstallation in appInstallations | orderBy:'created'" id="push-app-installation-{{appInstallation.id}}"
          class="modal-mobile-option modal-mobile-app-option"
          ng-show="!vm.pushDevicesDetails[appInstallations[0].name].appsCollapsed">
        <div class="app-icon-box">
          <div class="coyo-app-icon-frame"
               ng-class="appInstallation.appType == 'MESSENGER' ? 'coyo-chat-app-icon' : 'coyo-app-icon'"></div>
        </div>
        <div  class="app-type-box">
          {{ (appInstallation.appType == 'MESSENGER' ? 'MODULE.ACCOUNT.PUSH_DEVICES.NAME.MESSENGER' :
          'MODULE.ACCOUNT.PUSH_DEVICES.NAME.COYO') | translate}}
        </div>
        <div class="app-status-box">
          <coyo-active-label ng-model="appInstallation.active"></coyo-active-label>
        </div>
      </li>

      <li ng-repeat-end></li>
    </ul>

    <p class="text-center" ng-if="!vm.pushDevicesAmount"
       translate="MODULE.ACCOUNT.PUSH_DEVICES.MESSAGES.NO_DEVICES_FOUND"></p>

    <div ng-repeat="appInstallations in vm.pushDevices">
      <coyo-context-menu ng-repeat="appInstallation in appInstallations"
                         title="{{appInstallation.name}} - {{ (appInstallation.appType == 'MESSENGER' ?
                         'MODULE.ACCOUNT.PUSH_DEVICES.NAME.MESSENGER' : 'MODULE.ACCOUNT.PUSH_DEVICES.NAME.COYO') | translate}}"
                         toggle-element="#push-app-installation-{{appInstallation.id}}"
                         coyo-global-permissions="MANAGE_USER">
        <li>
          <button type="button" class="btn btn-default btn-block"
                  ng-click="vm.togglePushAppInstallationStatus(appInstallation)">
            <i class="zmdi zmdi-hc-fw" ng-class="{'zmdi-pause': appInstallation.active,'zmdi-play': !appInstallation.active}"></i>
            {{ appInstallation.active ? 'MODULE.ACCOUNT.PUSH_DEVICES.TOOLTIP.TOGGLE_INACTIVE' : 'MODULE.ACCOUNT.PUSH_DEVICES.TOOLTIP.TOGGLE_ACTIVE' | translate }}
          </button>
        </li>
        <li class="context-menu-danger">
          <coyo-confirm-button cb-icon-class="zmdi zmdi-hc-fw zmdi-delete"
                               cb-on-click="vm.removePushAppInstallationDevice(appInstallation)"
                               cb-str="MODULE.ACCOUNT.PUSH_DEVICES.REMOVE.REMOVE"
                               cb-str-on-click="MODULE.ACCOUNT.PUSH_DEVICES.REMOVE.CONFIRM"
                               cb-milliseconds-to-reset="2500">
          </coyo-confirm-button>
        </li>
      </coyo-context-menu>
    </div>

  </div>
</div>
