<li ng-if="!$ctrl.canManageRole">
  <button type="button" class="btn btn-default btn-block"
          ui-sref="admin.user-management.roles.view({id: $ctrl.role.id})">
    <i class="zmdi zmdi-hc-fw zmdi-eye"></i>&nbsp;<span translate="ADMIN.USER_MGMT.ROLES.OPTIONS.VIEW.MENU"></span>
  </button>
</li>
<li ng-if="$ctrl.canManageRole">
  <button type="button" class="btn btn-default btn-block"
          ui-sref="admin.user-management.roles.edit({id: $ctrl.role.id})">
    <i class="zmdi zmdi-hc-fw zmdi-edit"></i>&nbsp;<span translate="ADMIN.USER_MGMT.ROLES.OPTIONS.EDIT.MENU"></span>
  </button>
</li>
<li class="divider" ng-if="$ctrl.canDeleteRole"></li>
<li ng-if="$ctrl.canDeleteRole">
  <button type="button" class="btn btn-default btn-block" ng-click="$ctrl.actions.deleteRole($ctrl.role);">
    <i class="zmdi zmdi-hc-fw zmdi-delete"></i>&nbsp;<span translate="ADMIN.USER_MGMT.ROLES.OPTIONS.DELETE.MENU"></span>
  </button>
</li>
