<span class="thread-add-answer">

  <div class="thread-add-answer-panel panel">
    <div class="forum-thread-header">
      <div class="create-panel-heading panel-heading panel-heading-main forum-header">
        <h5 class="panel-title forum-answers-add-title" translate="APP.FORUM.ANSWER.TITLE"></h5>
      </div>
    </div>

    <div class="panel-body thread-add-answer-panel-body">
      <div class="thread-add-answer-user-avatar hidden-xs">
        <coyo-user-avatar [user]="::$ctrl.currentUser" avatar-size="sm" [show-online-status]="false"
                          class="mr-xxs" [no-link]="false"></coyo-user-avatar>
      </div>
      <div class="thread-add-answer-text">
          <coyo-rte
              required
              [height]="$ctrl.options.rte.height"
              ng-model="$ctrl.answer.text"></coyo-rte>
        <div class="forum-thread-attachments" ng-if="$ctrl.newItemAttachments.length">
          <div class="forum-thread-attachment"
              ng-repeat="attachment in $ctrl.newItemAttachments | limitTo:20"
              ng-class="{ uploading : attachment.uploading, done : (attachment.progress === 100) }">
            <div class="forum-thread-attachment-icon">
              <coyo-ngx-file-icon [file]="::attachment" class="zmdi-hc-lg"></coyo-ngx-file-icon>
            </div>
            <div class="forum-thread-attachment-name">{{attachment.name}}</div>
            <div class="forum-thread-attachment-opt">
              <span class="text-muted" ng-if="attachment.uploading">{{attachment.progress}}%</span>
              <a ng-if="!attachment.uploading && !$ctrl.status.saving" ng-click="$ctrl.removeAttachment(attachment)">
                <i class="zmdi zmdi-close-circle-o"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="panel-footer panel-actions">
          <div class="row">
            <div class="col-sm-4 col-sm-push-8 col-lg-4 col-lg-push-8">
              <a class="btn btn-default btn-right forum-thread-attachment-trigger"
                ngf-select="$ctrl.addAttachments($files, $invalidFiles)"
                ngf-multiple="true"
                ng-disabled="$ctrl.status.saving">
                <i class="zmdi zmdi-attachment-alt" ng-class="{'item-active': $ctrl.newItemAttachments.length}"></i>&nbsp;{{::'APP.FORUM.ATTACH_FILES' | translate}}
              </a>
            </div>

            <div class="col-sm-8 col-sm-pull-4 col-lg-8 col-lg-pull-4">
              <a ng-click="$ctrl.save()" class="btn btn-primary thread-save" ng-disabled="$ctrl.status.saving || !$ctrl.answer.text">
                <i class="zmdi zmdi-hc-fw zmdi-check"></i>&nbsp;{{:: 'SAVE' | translate }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</span>
