:host {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

blockquote {
  font-size: 1em;
  padding: 8px 16px;
  margin: 0;

  p {
    margin-bottom: 4px;
  }
}

h4 {
  margin-top: 0;
}

button {
  align-self: flex-start;
}
