<ng-container *ngIf="state$ | async; let state">
  <ng-container *ngIf="!state.loading; else loading">
    <div class="headline">
      <coyo-sender-link [sender]="state.sender"></coyo-sender-link>
      <div *ngIf="state.article.created" class="created-date">{{state.article.created | date}}</div>
    </div>
    <a [attr.href]="getArticleLink(state.article.articleTarget)" class="article-link">
      {{state.article.title}}
    </a>
  </ng-container>
  <ng-template #loading>
    <div class="skeleton"></div>
  </ng-template>
</ng-container>
