@import "variables";
@import "mixins";

.headline {
  display: flex;
  justify-content: space-between;
  width: 100%;
  @include ellipsis();
}

.created-date {
  color: $n100;
  font-size: 13px;
}

.article-link {
  color: $text-color;
  font-size: 18px;
}

coyo-sender-link {
  display: block;
  @include ellipsis();
}

:host {
  display: block;
  @include ellipsis();
}

.skeleton {
  @include skeleton((
    (x: 0, y: 4px, width: 120px, height: 14px), (x: 100%, y: 5px, width: 100px, height: 12px),
    (x: 0px, y: 28px, width: 240px, height: 18px)
  ), 49px);
}
