<div class="alert alert-warning" role="alert" ng-if="!$ctrl.landingPage.active">
  <i class="zmdi zmdi-alert-triangle"></i> <span translate="LANDING_PAGE.INACTIVE"></span>
</div>
<coyo-widget-layout layout-name="landing-page-{{$ctrl.landingPage.id}}"
                    parent="$ctrl.landingPage"
                    can-manage="$ctrl.landingPage._permissions.manageSlots"
                    render-style="panels"></coyo-widget-layout>