<li>
  <button type="button" class="btn btn-default btn-block"
          ui-sref="admin.user-management.groups.edit({id: $ctrl.group.id})">
    <i class="zmdi zmdi-hc-fw zmdi-edit"></i>&nbsp;<span translate="ADMIN.USER_MGMT.GROUPS.OPTIONS.EDIT.MENU"></span>
  </button>
</li>
<li class="divider"></li>
<li>
  <button type="button" class="btn btn-default btn-block" ng-click="$ctrl.actions.deleteGroup($ctrl.group);">
    <i class="zmdi zmdi-hc-fw zmdi-delete"></i>&nbsp;<span translate="ADMIN.USER_MGMT.GROUPS.OPTIONS.DELETE.MENU"></span>
  </button>
</li>
