<li class="filter-entry filter-entry-expand">
  <a href ng-click="$ctrl.clickHandler()"
     aria-label="{{::$ctrl.label | translate}}">
    <i class="zmdi {{$ctrl.loading ? 'zmdi-spinner zmdi-hc-spin' : 'zmdi-chevron-down'}}" aria-hidden="true"></i>
    <span translate="SHOW_MORE"></span>
  </a>
</li>