@import "variables";

.form-group:first-child {
  margin-top: 16px;
}

mat-checkbox.form-control {
  border: none;
  padding-left: 0;
}

.delete-option {
  background-color: transparent;

  &:hover > .zmdi {
    cursor: pointer;
    color: darken($color-gray-darker, 25%);
  }
}

.add-button {
  color: $color-blue;
}
