<div class="pi-preview-video-container">
  <video *ngIf="!!videoUrl && !isGSuiteVideo()" [attr.controls]="showControls ? true: null" [attr.src]="videoUrl"></video>
  <div *ngIf="!!videoUrl && isGSuiteVideo()" class="aspect-ratio">
    <iframe [src]="videoUrl | trustUrl" frameborder="0"
            allowfullscreen mozallowfullscreen webkitallowfullscreen>
    </iframe>
  </div>
</div>
