@import "variables";

.pi-preview-video-container {
  width: 100%;
  min-height: 1px; /* hack so a video is displayed in safari */
  display: flex;
  justify-content: center;

  video {
    height: 100%;
    width: 100%;
  }

  .aspect-ratio {
    position: relative;
    width: calc(90vw - #{$size-sidebar-file-details});
    height: 0;
    padding-bottom: 56%;

    @media screen and (max-width: $screen-xs-max) {
      width: 90vw;
    }

    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
  }
}

:host-context(coyo-media-widget) {
  .pi-preview-video-container {
    height: 100%;
  }
}
