@import "variables";

a.mat-flat-button, ui-skeleton {
  color: $n200;
  margin-bottom: 8px;
}

mat-icon {
  color: $n200;
}

.no-files {
  color: $n200;
  font-style: italic;
}

:host {
  display: flex;
  flex-direction: column;

  > :last-child {
    margin-bottom: 0;
  }
}
