<h1 mat-dialog-title translate="FILE_LIBRARY.SELECT"></h1>
<mat-dialog-close [attr.aria-label]="'CLOSE' | translate"></mat-dialog-close>

<div class="file-library" mat-dialog-content>
    <coyo-file-library [sender]="data.sender" [options]="data.options" [cropSettings]="data.cropSettings" [selectedFiles]="data.selectedFiles" [modalMode]="true" (selectedFilesChange)="changed($event)"></coyo-file-library>
</div>

<div mat-dialog-actions>
  <button class="btn btn-primary" [disabled]="selectedFiles.length === 0" (click)="saveAndClose()" data-test="submit-selected-file">
      <span *ngIf="data.options.selectMode === 'multiple'"
            translate [translateParams]="{count: data.selectedFiles.length}">{{'FILE_LIBRARY.SELECT_FILES'}}</span>
    <span *ngIf="data.options.selectMode === 'single'"
          translate="FILE_LIBRARY.SELECT"></span>
    <span *ngIf="data.options.selectMode === 'folder'"
          translate="FILE_LIBRARY.SELECT_FOLDER"></span>
  </button>
</div>
