<coyo-sender-link [sender]="sender"></coyo-sender-link>
<h4>
  {{article.title}}
</h4>
<div class="title-subline">
  <coyo-sender-list-item [sender]="article.author" avatarSize="xs" [noLink]="true"></coyo-sender-list-item>
  <span class="publish-date">{{article.publishDate | amDateFormat: 'Do MMM'}}</span>
</div>

