<h1 mat-dialog-title>{{(
  editMode ? 'WIDGET.TEASER.SETTINGS.CONFIG.SLIDE.EDIT' : 'WIDGET.TEASER.SETTINGS.CONFIG.SLIDE.NEW') | translate}}</h1>
<mat-dialog-close [attr.aria-label]="'CLOSE' | translate"></mat-dialog-close>
<div mat-dialog-content>
  <form [formGroup]="form">
    <div class="form-group">
      <label>{{'WIDGET.TEASER.SETTINGS.CONFIG.HEADLINE' | translate}}
        <span ng-if="::field.required" class="label-required" translate="REQUIRED"></span>
      </label>
      <input formControlName="headline" class="form-control" type="text"/>
    </div>

    <div class="form-group">
      <label translate="WIDGET.TEASER.SETTINGS.CONFIG.SUBHEADLINE"></label>
      <input formControlName="subheadline" class="form-control" type="text"/>
    </div>

    <div class="form-group">
      <label translate="WIDGET.TEASER.SETTINGS.CONFIG.URL"></label>
      <input formControlName="_url" class="form-control" type="text">
    </div>

    <mat-checkbox formControlName="_newTab">{{'WIDGET.TEASER.SETTINGS.CONFIG.TAB' | translate}}</mat-checkbox>

    <hr />

    <div class="form-group select-file">
      <label>{{'WIDGET.TEASER.SETTINGS.CONFIG.IMAGE' | translate}}
        <span ng-if="::field.required" class="label-required" translate="REQUIRED"></span>
      </label>
      <coyo-select-file *ngIf="sender$ | async; let sender" [sender]="sender" formControlName="file" [options]="{selectMode: 'single'}"></coyo-select-file>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button color="default" type="button" mat-dialog-close>{{'WIDGET.TEASER.SETTINGS.CONFIG.BUTTON.BACK' | translate}}</button>
  <button mat-flat-button color="accent" type="button" (click)="submit()" [disabled]="form.invalid">{{(editMode ? 'WIDGET.TEASER.SETTINGS.CONFIG.BUTTON.EDIT' : 'WIDGET.TEASER.SETTINGS.CONFIG.BUTTON.CREATE') | translate}}</button>
</div>
