@import "variables";
@import "mixins";

.terms {
  display: flex;
  flex-flow: column;
  background-color: $n0;

  > div {
    margin: 0 $padding-large-horizontal 0;
    padding: (2 * $padding-large-vertical) 0 (2 * $padding-large-vertical);
    font-size: $font-size-base;
    line-height: $line-height-base;
  }

  .terms-header {
    padding-top: (3 * $padding-large-vertical);
    border-bottom: 1px solid $n200;

    .terms-title {
      margin: 0;
      font-size: $font-size-h3;
      line-height: $line-height-base;
      @include ellipsis();
    }
  }
}

$skeleton-text-y: (7 * $padding-large-vertical + ($font-size-h3 * $line-height-base) + 1px);
$skeleton-text-line-height: ($font-size-base * $line-height-base);

.skeleton {
  @include skeleton((
    (x: $padding-large-horizontal, y: (3 * $padding-large-vertical), width: 60%, height: $font-size-h3),
    (x: $padding-large-horizontal, y: (5 * $padding-large-vertical + ($font-size-h3 * $line-height-base)), width: calc(100% - #{2 * $padding-large-horizontal}), height: 1px),
    (x: $padding-large-horizontal, y: $skeleton-text-y, width: calc(100% - #{2 * $padding-large-horizontal}), height: $font-size-base),
    (x: $padding-large-horizontal, y: (1 * $skeleton-text-line-height + $skeleton-text-y), width: calc(100% - #{2 * $padding-large-horizontal}), height: $font-size-base),
    (x: $padding-large-horizontal, y: (2 * $skeleton-text-line-height + $skeleton-text-y), width: calc(100% - #{2 * $padding-large-horizontal}), height: $font-size-base),
    (x: $padding-large-horizontal, y: (3 * $skeleton-text-line-height + $skeleton-text-y), width: calc(100% - #{2 * $padding-large-horizontal}), height: $font-size-base),
    (x: $padding-large-horizontal, y: (4 * $skeleton-text-line-height + $skeleton-text-y), width: calc(100% - #{2 * $padding-large-horizontal}), height: $font-size-base),
    (x: $padding-large-horizontal, y: (5 * $skeleton-text-line-height + $skeleton-text-y), width: calc(100% - #{2 * $padding-large-horizontal}), height: $font-size-base),
  ), (6 * $line-height-computed + $skeleton-text-y));
}
