@import "variables";
@import "mixins";

$modal-gutter: 8px;

form {
  background-color: $n0;
  margin-bottom: 24px;
  position: relative;
  border-radius: 5px;
}

coyo-sender-avatar {
  position: absolute;
  top: 16px;
  left: 24px;
  z-index: 1;
}

textarea {
  resize: none;
  min-height: 72px;
  padding: 24px 56px 16px 80px;

  &, &:focus {
    border: 0;
    box-shadow: none;
  }
}

.form-attachments {
  padding: 0 16px;
}

.form-close {
  display: none;
}

coyo-help {
  display: none;
  position: absolute;
  top: 12px;
  right: 16px;
}

.form-actions {
  display: none;
  flex: 0 0 auto;
  padding: 0 16px 16px;
}

.form-action-buttons {
  display: flex;
  flex: 1 1 auto;

  coyo-functional-user-chooser {
    margin-left: auto;
    margin-right: 8px;
  }
}

.open {
  coyo-help {
    display: block;
  }
  .form-actions {
    display: flex;
  }
}

.text-area-wrapper {
  position: relative;
}

@include xs() {

  coyo-sender-avatar {
    top: 12px;
    left: 16px;
  }

  form {
    margin-bottom: 12px;
    border-radius: 0;
  }

  textarea {
    margin: 0;
    padding: 20px 16px 20px 68px;
    width: 100%;
    min-height: 64px;
  }

  .open {
    &.form-wrapper {
      z-index: $zindex-topnav + 1;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, .5);
      padding: $modal-gutter;
    }

    form {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 56px 0;
    }

    .form-close {
      display: block;
      position: absolute;
      top: 12px;
      right: 8px;
    }

    .form-content {
      width: 100%;
      height: 100%;
      overflow: auto;
    }

    .form-input {
      display: flex;
      flex-direction: column;
      min-height: 100%;
    }

    .form-actions {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }

    coyo-help,
    coyo-sender-avatar {
      display: none;
    }

    coyo-functional-user-chooser {
      position: fixed;
      top: 12px + $modal-gutter;
      left: 8px + $modal-gutter;
      margin: 0;
    }

    .text-area-wrapper {
      flex: 1 1 auto;
      overflow: hidden;
      padding: 0 16px 12px;
    }

    textarea {
      padding: 0;
      border-radius: 0;
    }
  }
}
