<form name="taskForm" class="form-horizontal" coyo-form-submit="$ctrl.save()">
  <div class="form-group">
    <label for="taskTitle" class="col-sm-4 control-label" translate="APP.TASK.FORM.TITLE.LABEL"></label>
    <div class="col-sm-8">
      <input type="text" id="taskTitle" ng-model="$ctrl.model.title" class="form-control" required maxlength="255"/>
    </div>
  </div>
  <div class="form-group">
    <label for="dueDate" class="col-sm-4 control-label" translate="APP.TASK.FORM.DUEDATE.LABEL"></label>
    <div class="col-sm-8">
      <p class="input-group">
        <span class="input-group-addon pointer" ng-click="dueDateIsOpen = true"><i class="zmdi zmdi-calendar"></i></span>
        <input type="text" class="form-control" id="dueDate" name="due-date"
               datetime-picker="{{$ctrl.dateFormat}}"
               ng-model="$ctrl.model.dueDate"
               is-open="dueDateIsOpen"
               ng-focus="dueDateIsOpen = true"
               enable-time="false">
      </p>
    </div>
  </div>
  <div class="form-group">
    <label for="taskDescription" class="col-sm-4 control-label" translate="APP.TASK.FORM.DESCRIPTION.LABEL"></label>
    <div id="taskDescription" class="col-sm-8">
      <textarea class="form-control" ng-model="$ctrl.model.description" msd-elastic rows="3"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label for="taskAssignee" class="col-sm-4 control-label" translate="APP.TASK.FORM.ASSIGNEE.LABEL"></label>
    <div id="taskAssignee" class="col-sm-8">
      <p ng-if="::$ctrl.model.assignee" ng-bind="$ctrl.model.assignee.displayName"></p>
      <coyo-user-chooser ng-model="$ctrl" users-only="true" users-field="assignee" single="true"></coyo-user-chooser>
    </div>
  </div>
  <div class="form-group hidden-md hidden-lg hidden-print">
    <label for="taskListSelect" class="col-sm-4 control-label" translate="APP.TASK.FORM.TASKLIST.LABEL"></label>
    <div class="col-sm-8">
      <ui-select id="taskListSelect" ng-model="$ctrl.newList">
        <ui-select-match>{{$select.selected.title}}</ui-select-match>
        <ui-select-choices repeat="list in $ctrl.lists"><span>{{list.title}}</span></ui-select-choices>
      </ui-select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-8">
      <coyo-form-submit-button label="SAVE" form-ctrl="taskForm"></coyo-form-submit-button>
      <button type="button" class="btn btn-default ml-xxs" ng-click="$ctrl.cancel()">
        <i class="zmdi zmdi-hc-fw zmdi-close"></i>{{:: 'CANCEL' | translate }}
      </button>
    </div>
  </div>
</form>
