<div class="panel panel-default external-search-results">
  <div class="panel-heading {{externalSearchResults.searchProvider | lowercase}}">
    <h4 class="search-results-headline" (click)="toggleResultsList()">
      <mat-icon [svgIcon]="externalSearchIcon" size="large"></mat-icon>
      <span class="search-provider"
            translate="MODULE.SEARCH.EXTERNAL.PROVIDER.{{externalSearchResults.searchProvider}}"></span>
      <span *ngIf="!showResults" class="summary">
        <span>{{"MODULE.SEARCH.EXTERNAL.HEADLINE.RESULTS.SUMMARY" | translate: {count: externalSearchResults.searchResultCountString} }}</span>
      </span>
    </h4>
    <a [href]="externalSearchURL$ | async" target="_blank">
      <span>{{"MODULE.SEARCH.EXTERNAL.HEADLINE.RESULTS" | translate: {count: externalSearchResults.searchResultCountString} }}</span>
      <mat-icon svgIcon="chevron-right"></mat-icon>
    </a>
  </div>
  <div class="panel-body"
       *ngIf="showResults && externalSearchResults.searchResults && externalSearchResults.searchResults.length">
    <div class="external-search-results-list">
      <div *ngFor="let result of externalSearchResults.searchResults" class="external-search-result-wrapper">
        <coyo-search-result-external [searchResult]="result"
                                     [searchProvider]="externalSearchResults.searchProvider"></coyo-search-result-external>
      </div>
    </div>
  </div>
</div>
