@import "variables";

.external-search-results .panel-heading {
  display: flex;
  padding: 0;
  margin: 0;
  color: $n0;

  &.google {
    background-color: #0073E6;
  }

  &.microsoft {
    background-color: #03787c;
  }

  &>* {
    padding: 12px 16px;
  }

  &:last-child {
    border-radius: 4px;
  }

  mat-icon {
    vertical-align: bottom;
  }

  h4 {
    flex: 1 0 auto;
  }

  a {
    flex: 0 0 auto;
    color: $n0;

    mat-icon {
      vertical-align: middle;
    }
  }

  .search-provider,
  .number-of-search-results {
    font-weight: 600;
  }

  .summary {
    display: none;
  }

  @media screen and (min-width: $screen-sm-min) {
    .summary {
      display: inline;
    }
  }
}

.external-search-results .panel-body {
  padding: 0;
}

.external-search-results-list {
  display: flex;
  flex-direction: column;

  .external-search-result-wrapper {
    flex: 1;
    margin: 8px 8px 0;
    min-height: 56px;

    &:last-child {
      margin-bottom: 8px;
    }
  }
}

@media screen and (min-width: $screen-sm-min) {
  .external-search-results .panel-body {
    padding: 8px;
  }

  .external-search-results-list {
    flex-direction: row;
    justify-content: flex-start;

    .external-search-result-wrapper {
      margin: 8px;
      max-width: 33.33333%;
      min-height: initial;
    }
  }
}
