@import "variables";
@import "mixins";

:host {
  display: block;
  margin-bottom: 12px;

  @include sm-and-up() {
    margin-bottom: 24px;
  }
}

article {
  position: relative;
  background-color: $color-white;

  @include sm-and-up() {
    border-radius: 5px;
  }

  > section {
    padding: 12px 16px;

    @include sm-and-up() {
      padding: 16px 24px;
    }
  }

  .timeline-item-main-part {
    position: relative;
  }
}

coyo-timeline-item-context-menu {
  position: absolute;
  top: 16px;
  right: 16px;
}

.has-ribbon {

  &:not(.has-share) coyo-timeline-item-context-menu {
    right: 48px;
    z-index: 2;
  }
}

.scroll-anchor {
  position: absolute;
  left: 0;
  top: -59px;

  @include sm-and-up() {
    top: -12px;
  }
}
