@import "mixins";

.size-heading {
  b::after {
    content: "•";
    color: $n100;
    margin: 0 4px;
  }
}

label {
  margin-bottom: 0;
}

section {
  padding-top: 18px;
  padding-bottom: 18px;

  &.slide-actions {
    display: flex;
    flex-direction: column;
    border-top: 1px solid $n50;
    border-bottom: 1px solid $n50;

    @include sm-and-up() {
      flex-direction: row;
      .action-container {
        margin-top: 0;
      }
    }

    .action-description {
      flex: 1;
    }

    .action-container {
      display: flex;
      align-items: center;
      margin-top: 8px;
    }
  }

  &.slide-rotation .input-group {
    max-width: 200px;
  }
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.slide-list.cdk-drop-list-dragging .slide-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-placeholder {
    height: 78px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.slide-item {
  height: 78px;
  border-bottom: 1px solid $n50;
  cursor: grab;

  &.cdk-drag-placeholder {
    opacity: 0.2;
  }

  &.cdk-drag-preview {
    background: $n25;
    position: fixed;
    border: none;
    cursor: grabbing !important;

    .slide-drag-handle {
      display: block;
    }

    .slide-index {
      display: none;
    }
  }

  .flex-container {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .slide-index, .slide-drag-handle {
    width: 30px;
    text-align: center;
    color: $n200;
  }

  .slide-drag-handle {
    display: none;
  }

  .slide-img {
    width: 55px;
    height: 55px;
    margin-right: 12px;
    border-radius: 4px;
  }

  div.slide-caption {
    flex: 1;
    overflow: hidden;

    h5 {
      @include ellipsis();
      font-weight: 600;
      height: 20px;
    }

    p {
      @include ellipsis();
      height: 24px;
    }
  }

  @include xs() {
    .slide-drag-handle {
      display: block;
    }
    .slide-index {
      display: none;
    }
  }

  &:hover {
    .slide-drag-handle {
      display: block;
      cursor: grab;
    }
    .slide-index {
      display: none;
    }
  }
}
