<li>
  <button type="button" class="btn btn-default btn-block" ui-sref="admin.landing-pages.edit({id: $ctrl.page.id})">
    <i class="zmdi zmdi-hc-fw zmdi-edit"></i>&nbsp;<span translate="ADMIN.LANDING_PAGES.OPTIONS.EDIT.MENU"></span>
  </button>
</li>
<li class="divider"></li>
<li>
  <button type="button" class="btn btn-default btn-block" ng-click="$ctrl.actions.deletePage($ctrl.page);">
    <i class="zmdi zmdi-hc-fw zmdi-delete"></i>&nbsp;<span translate="ADMIN.LANDING_PAGES.OPTIONS.DELETE.MENU"></span>
  </button>
</li>
