<button type="button" role="checkbox" aria-checked={{$ctrl.ngModel.$viewValue}} class="coyo-checkbox btn btn-default"
        ng-class="{'checked': $ctrl.ngModel.$viewValue}" ng-click="$ctrl.toggleValue()" ng-disabled="$ctrl.ngDisabled"
        data-test="checkbox" id="{{$ctrl.inputId}}">
    <i class="zmdi zmdi-hc-fw" ng-class="{'zmdi-check': $ctrl.ngModel.$viewValue}"></i>
</button>
