@import "variables";
@import "mixins";

.widget-title {
  font-size: 18px;
  margin-bottom: 12px;
}

.location {
  color: $n200;
  display: flex;

  span {
    padding-left: 4px;
    line-height: 20px;
    @include ellipsis();
  }

  mat-icon {
    color: $r300;
    margin-left: -3px;
    min-width: 20px;
  }
}

.description {
  margin-top: 12px;
  color: $n600;
  @include hyphenate-break()
}

.media-list {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin: 20px -#{$panel-body-padding-right} -#{$panel-body-padding-bottom} -#{$panel-body-padding-left};

  &.full {
    margin-top: -#{$panel-body-padding-top};
    @include xs() {
      margin-top: -#{$panel-xs-body-padding-top};
    }
  }

  @include xs() {
    margin-left: -#{$panel-xs-body-padding-left};
    margin-right: -#{$panel-xs-body-padding-right};
    margin-bottom: -#{$panel-xs-body-padding-bottom};
  }

  coyo-file-image-preview.media-widget-media, .video-preview {
    display: block;
    float: left;
    width: 100%;
    height: 100%;
  }

  .video-preview {
    background-color: $n600;
  }
}

:host-context(.widget-slot-plain) {
  .media-list {
    margin: 20px 0 0 0;

    &.full {
      margin-top: 0;
      @include xs() {
        margin-top: 0;
      }
    }

    @include xs() {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
    }
  }
}

:host-context(.widget-slot-panels) {
  .media-list.full {
      border-top-right-radius: $border-radius-base;
      border-top-left-radius: $border-radius-base;
  }

  @include sm-and-down() {
    .media-list.full {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
  }
}


:host-context(.widget-slot-panels) {

  .media-list {
    border-bottom-right-radius: $border-radius-base;
    border-bottom-left-radius: $border-radius-base;
  }

  @include sm-and-down() {
    .media-list {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}


.box {
  position: relative;
  width: 50%; /* desired width */
  &.full {
    width: 100%;
  }
}

.box:before {
  content: "";
  float: left;
  padding-top: 100%; /* initial ratio of 1:1*/
}

.box.full:before {
  content: "";
  float: left;
  padding-top: 50%; /* initial ratio of 2:1*/
}

.overlayed-box {
  .overlay {
    opacity: 0.5;
    background-color: #000000;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .overlay-text {
    z-index: 1;
    color: $n0;
    font-size: 24px;

    &.empty {
      font-size: 15px;
    }
  }

  mat-icon {
    width: 30%;
    height: 30%;
    max-width: 100px;
    max-height: 100px;
  }

  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
