<button mat-icon-button type="button" size="small" (click)="toggle(state)" data-test="subscribe-button" role="switch"
        *ngIf="(state$ | async) as state"
        [color]="state.isSubscribed ? 'accent' : null"
        [disabled]="state.isLoading"
        [matTooltip]="(state.isSubscribed ? 'MODULE.TIMELINE.TOOLTIPS.UNSUBSCRIBE' : 'MODULE.TIMELINE.TOOLTIPS.SUBSCRIBE') | translate" placement="left"
        [attr.aria-checked]="state.isSubscribed">
  <mat-icon svgIcon="bell"></mat-icon>
</button>
