<a class="avatar-item" [uiSref]="'main.profile.info'" [uiParams]="{userId: user.slug}">
  <coyo-user-avatar [user]="user" [avatarSize]="'sm'" [showFollowButton]="true"></coyo-user-avatar>
  <div class="avatar-item-container">
    <span class="headline">{{user.displayName}}</span>
    <small class="subline text-muted">{{user.properties?.jobTitle}}</small>
  </div>
</a>
