<li>
  <button type="button" class="btn btn-default btn-block"
          ui-sref="admin.user-management.user.edit({id: $ctrl.user.id})">
    <i class="zmdi zmdi-hc-fw zmdi-edit"></i>&nbsp;<span translate="ADMIN.USER_MGMT.USERS.OPTIONS.EDIT.MENU"></span>
  </button>
</li>
<li ng-if="$ctrl.user.status === 'INACTIVE'">
  <button type="button" class="btn btn-default btn-block" ng-click="$ctrl.actions.activateUser($ctrl.user)">
    <i class="zmdi zmdi-hc-fw zmdi-play"></i>&nbsp;<span translate="ADMIN.USER_MGMT.USERS.OPTIONS.ACTIVATE.MENU"></span>
  </button>
</li>
<li ng-if="$ctrl.user.status === 'ACTIVE'">
  <button type="button" class="btn btn-default btn-block" ng-click="$ctrl.actions.deactivateUser($ctrl.user);">
    <i class="zmdi zmdi-hc-fw zmdi-stop"></i>&nbsp;<span translate="ADMIN.USER_MGMT.USERS.OPTIONS.DEACTIVATE.MENU"></span>
  </button>
</li>
<li class="divider"></li>
<li ng-if="$ctrl.user.status !== 'DELETED'">
  <button type="button" class="btn btn-default btn-block" ng-click="$ctrl.actions.deleteUser($ctrl.user);">
    <i class="zmdi zmdi-hc-fw zmdi-delete"></i>&nbsp;<span translate="ADMIN.USER_MGMT.USERS.OPTIONS.DELETE.MENU"></span>
  </button>
</li>
<li ng-if="$ctrl.user.status === 'DELETED' && !$ctrl.user.anonymized">
  <button type="button" class="btn btn-default btn-block" ng-click="$ctrl.actions.recoverUser($ctrl.user);">
    <i class="zmdi zmdi-hc-fw zmdi-delete"></i>&nbsp;<span translate="ADMIN.USER_MGMT.USERS.OPTIONS.RECOVER.MENU"></span>
  </button>
</li>