<a ng-if="::value" href="{{::value}}" class="field-link btn btn-primary btn-xs btn-zmdi" uib-tooltip="{{::value}}"
   ng-attr-target="{{::(field.settings.samewindow) ? undefined : '_blank'}}" aria-label="{{::value}}">
  <i class="zmdi zmdi-mail-reply zmdi-hc-flip-horizontal"></i>
</a>
