@import '~@coyo/ui/lib/colors';
@import "../../../src/main/styles/variables";

// You can add your variables here
$coyo-notification-badge-background-color: $b400;

/*
 * ===== Theming
 */

$coyo-button-primary-color: $btn-primary-color;
$coyo-button-primary-background-color: $btn-primary-bg;
$coyo-button-primary-hover-background-color: lighten($btn-primary-bg, 10%);

$coyo-button-accent-background-color: $link-color;
$coyo-button-accent-hover-background-color: lighten($link-color, 10%);

// This needs to be placed below theming overrides so that
// indirect variables inherit the correct value.
@import '~@coyo/ui/lib/variables';

/**
 * ===== Theming (DEPRECATED)
 */

$coyo-link-color: $link-color;
$coyo-primary-color: $btn-primary-bg;
$coyo-primary-text-color: $btn-primary-color;
$coyo-primary-hover-color: lighten($coyo-primary-color, 10%);
$coyo-primary-pressed-color: darken($coyo-primary-color, 10%);
