<div class="usage-info" ng-show="$ctrl.target"
     ng-class="{'text-danger': (balance = $ctrl.target.max - $ctrl.target.current) < 0}">
  <strong translate="{{::'ADMIN.LICENSE.' + $ctrl.type + '.STATUS'}}"
          translate-value-current="{{$ctrl.target.current}}"
          translate-value-max="{{$ctrl.target.max}}"></strong>
  <p translate="{{::'ADMIN.LICENSE.' + $ctrl.type + '.BALANCE'}}" ng-if="balance >= 0"
     translate-value-balance="{{balance}}"></p>
  <p translate="{{::'ADMIN.LICENSE.' + $ctrl.type + '.BALANCE.EXCEEDED'}}" ng-if="balance < 0"
     translate-value-balance="{{-balance}}"></p>
</div>