<li class="moderator-navbar-item" coyo-global-permissions="ENABLE_MODERATOR_MODE">
  <a href ng-click="$ctrl.toggleModeratorMode()" data-test="nav-moderator">
    <i class="zmdi zmdi-hc-fw"
       ng-class="::{'zmdi-eye': !$ctrl.user.moderatorMode, 'zmdi-eye-off': $ctrl.user.moderatorMode}"></i>&nbsp;
    <span ng-if="::!$ctrl.user.moderatorMode" translate="USER.MODERATOR.NAV.ENABLE"></span>
    <span ng-if="::$ctrl.user.moderatorMode" translate="USER.MODERATOR.NAV.DISABLE"></span>
  </a>
</li>
