@import "variables";
@import "mixins";

.widget-title {
  margin-bottom: 24px;
  @include xs() {
    margin-bottom: 10px;
  }
}

.load-more {
  margin-left: -12px;
}

.birthday-container {
  border-top: 1px solid $n50;
  margin-left: -#{$panel-body-padding-left};
  margin-right: -#{$panel-body-padding-right};

  @include xs() {
    margin-left: -#{$panel-xs-body-padding-left};
    margin-right: -#{$panel-xs-body-padding-right};
  }
}

.birthday-date {
  background-color: $n50;
  display: flex;
  justify-content: center;
  width: 120px;
  color: $n200;
  padding: 4px 0 5px 0;
  height: 30px;

  &.today {
    background-color: $color-green;
    color: $n0;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.empty-message {
  color: $n100;
  font-style: italic;
}

.birthday-item {
  padding-left: $panel-body-padding-left;
  padding-right: $panel-body-padding-right;

  .user-item-link {
    border-bottom: none;
  }

  .user-item-container {
    .user-item-headline {
      font-weight: bold;
    }
    .age {
      color: $n200;
      font-size: 12px;
    }
  }
}

.skeleton {
  margin-left: -#{$panel-body-padding-left};
  margin-right: -#{$panel-body-padding-right};

  @include skeleton((
    (x: 0, y: 0, width: 120px, height: 30px), (x: 30px, y: 46px, width: 40px, height: 40px),
    (x: 78px, y: 48px, width: 120px, height: 18px), (x: 78px, y: 70px, width: 150px, height: 14px),
  ), 103px);
}
