<section class="profile" ng-cloak>

  <div class="panel panel-default image-header" ng-class="{'has-cover': profileCtrl.user.imageUrls.cover}">

    <coyo-tour-step-mobile content="{{:: 'TOUR.PROFILE.NAME' | translate }}" image-url="/assets/images/tour/tour-mobile-profile-1.jpg"
                           order="105"
                           title="{{:: 'TOUR.PROFILE.NAME.TITLE' | translate }}"
                           topic="profile"></coyo-tour-step-mobile>

    <coyo-tour-step-mobile content="{{:: 'TOUR.PROFILE.AVATAR' | translate }}" image-url="/assets/images/tour/tour-mobile-profile-2.jpg"
                           order="110"
                           title="{{:: 'TOUR.PROFILE.AVATAR.TITLE' | translate }}"
                           topic="profile"></coyo-tour-step-mobile>

    <coyo-tour-step-mobile content="{{:: 'TOUR.PROFILE.ACTIVITY' | translate }}" image-url="/assets/images/tour/tour-mobile-profile-3.jpg"
                           order="115"
                           title="{{:: 'TOUR.PROFILE.ACTIVITY.TITLE' | translate }}"
                           topic="profile"></coyo-tour-step-mobile>

    <coyo-tour-step-mobile content="{{:: 'TOUR.PROFILE.INFO' | translate }}" image-url="/assets/images/tour/tour-mobile-profile-4.jpg"
                           order="120"
                           title="{{:: 'TOUR.PROFILE.INFO.TITLE' | translate }}"
                           topic="profile"></coyo-tour-step-mobile>

    <div class="sender-actions">
      <!-- Change Cover -->
      <button class="btn btn-zmdi btn-dark"
              ng-if="profileCtrl.user._permissions.manage"
              ng-click="profileCtrl.changeCover(profileCtrl.user)"
              aria-label="{{'MODULE.PROFILE.BUTTONS.CHANGE_COVER' | translate}}">
        <i class="zmdi zmdi-camera" aria-hidden="true"></i>&nbsp;<!--
     --><span class="btn-mobile-label" translate="MODULE.PROFILE.BUTTONS.CHANGE_COVER"></span>
      </button>

      <!-- Start Conversation -->
      <button class="btn btn-zmdi btn-dark"
              coyo-global-permissions="USE_MESSAGING"
              ng-if="profileCtrl.canSendMessageToUser()"
              ng-click="profileCtrl.startConversation(profileCtrl.user.id)"
              aria-label="{{'USER.CLICK_TO_SEND_MESSAGE' | translate}}">
        <i class="zmdi zmdi-comment-text" aria-hidden="true"></i>&nbsp;<!--
     --><span class="btn-mobile-label" translate="MODULE.PROFILE.BUTTONS.SEND_MESSAGE"></span>
      </button>

      <!-- Follow/Unfollow -->
      <coyo-user-follow [dark-theme]="true"
                        [user]="profileCtrl.user"
                        ng-if="profileCtrl.currentUser.id !== profileCtrl.user.id"
                        text-follow="USER.FOLLOW"></coyo-user-follow>
    </div>

    <!-- The cover image on top -->
    <coyo-sender-cover-image image-url="profileCtrl.user.imageUrls.cover"></coyo-sender-cover-image>

    <!-- The foreground containing the display name, the job title and the menu -->
    <div class="panel-foreground">

      <!-- The avatar image "floating" left -->
      <div class="profile-avatar">
        <div class="profile-avatar-inner">
          <coyo-tour-step content="{{:: 'TOUR.PROFILE.AVATAR' | translate }}" order="110" step-id="profile.avatar"
                          title="{{:: 'TOUR.PROFILE.AVATAR.TITLE' | translate }}" placement="bottom-left" fixed="true"
                          topic="profile"></coyo-tour-step>
          <span ng-if="profileCtrl.user._permissions.manage">
            <coyo-avatar-overlay (overlay-click)="profileCtrl.changeAvatar(profileCtrl.user)"
                                 icon-class="zmdi-camera"
                                 ng-class="$root.screenSize.isXs ? 'md' : ($root.screenSize.isLg ? 'xl' : 'lg')">
            </coyo-avatar-overlay>
          </span>
          <coyo-user-avatar [allow-modal]="true"
                            [avatar-size]="$root.screenSize.isXs ? 'md' : ($root.screenSize.isLg ? 'xl' : 'lg')"
                            [no-link]="true"
                            [show-online-status]="true"
                            [show-unread-messages]="false"
                            [user]="::profileCtrl.user">
          </coyo-user-avatar>
        </div>
      </div>

      <!-- The display name + job title -->
      <div class="titles-container">
        <div class="title">{{ profileCtrl.user.displayName }}
          <coyo-tour-step content="{{:: 'TOUR.PROFILE.NAME' | translate }}" order="105" placement="bottom" fixed="true"
                          step-id="profile.name" title="{{:: 'TOUR.PROFILE.NAME.TITLE' | translate }}"
                          topic="profile"></coyo-tour-step>
        </div>
        <div class="subtitle" ng-bind-html="profileCtrl.user.properties.jobTitle | linky : '_blank'"></div>
      </div>

      <!-- The navigation menu -->
      <div class="profile-nav" ng-if="profileCtrl.user._permissions.accessTimeline">
        <uib-tabset active="-1" justified="true" type="tabs">
          <uib-tab ui-sref="main.profile.activity" ui-sref-active="active">
            <uib-tab-heading>
              <i class="zmdi zmdi-comment-outline" aria-hidden="true"></i>
              <coyo-tour-step topic="profile" order="115" step-id="profile.activity" placement="bottom" fixed="true"
                              title="{{:: 'TOUR.PROFILE.ACTIVITY.TITLE' | translate }}"
                              content="{{:: 'TOUR.PROFILE.ACTIVITY' | translate }}"
                              topic="profile"></coyo-tour-step>
              <br/>
              <span class="hidden-xs hidden-sm tab-text" translate="MODULE.PROFILE.TAB.ACTIVITY"></span>
            </uib-tab-heading>
          </uib-tab>
          <uib-tab ui-sref="main.profile.info" ui-sref-active="active">
            <uib-tab-heading>
              <i class="zmdi zmdi-info-outline" aria-hidden="true"></i>
              <coyo-tour-step topic="profile" order="120" step-id="profile.info" placement="bottom" fixed="true"
                              title="{{:: 'TOUR.PROFILE.INFO.TITLE' | translate }}"
                              content="{{:: 'TOUR.PROFILE.INFO' | translate }}"
                              topic="profile"></coyo-tour-step>
              <br/>
              <span class="hidden-xs hidden-sm tab-text" translate="MODULE.PROFILE.TAB.INFO"></span>
            </uib-tab-heading>
          </uib-tab>
        </uib-tabset>
      </div>

    </div>
  </div>
  <div ui-view></div>

</section>
