<div class="size-option" (click)="selectOption('sm')">
  <div class="size-heading"><span><b>4:1</b>800 x 200px</span></div>
  <div class="sample" [attr.aria-label]="'WIDGET.TEASER.SETTINGS.CONFIG.ASPECT_RATIO1' | translate" tabindex="0" [style.height.px]="option1.offsetWidth / 4" #option1 [ngClass]="{'active': value === 'sm'}">
    <mat-icon svgIcon="image" size="medium"></mat-icon>
  </div>
</div>
<div class="size-option" (click)="selectOption('md')">
  <div class="size-heading"><span><b>20:7</b>800 x 280p</span></div>
  <div class="sample" [attr.aria-label]="'WIDGET.TEASER.SETTINGS.CONFIG.ASPECT_RATIO2' | translate" tabindex="0" [style.height.px]="option2.offsetWidth / (20/7)" #option2 [ngClass]="{'active': value === 'md'}">
    <mat-icon svgIcon="image" size="medium"></mat-icon>
  </div>
</div>
<div class="size-option" (click)="selectOption('lg')">
  <div class="size-heading"><span><b>5:3</b>800 x 480px</span></div>
  <div class="sample" [attr.aria-label]="'WIDGET.TEASER.SETTINGS.CONFIG.ASPECT_RATIO3' | translate" tabindex="0" [style.height.px]="option3.offsetWidth / (5/3)" #option3 [ngClass]="{'active': value === 'lg'}">
    <mat-icon svgIcon="image" size="medium"></mat-icon>
  </div>
</div>
