@import "variables";
@import "mixins";

:host {
  display: flex;
  flex-direction: column;

  @include sm-and-up() {
    flex-direction: row;
    justify-content: space-between;
  }
}

.size-option {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-top: 8px;
  margin-bottom: 8px;

  .size-heading {
    display: flex;
    align-items: center;
    order: 2;
    margin-left: 12px;
    > span > b {
      display: block;
    }
  }

  .sample {
    min-width: 50%;
    order: 1;
  }

  @include sm-and-up() {
    flex-direction: column;

    .size-heading {
      order: 1;
      margin-left: 0;

      > span > b {
        display: inline;

        &::after {
          content: "•";
          margin-left: 4px;
          margin-right: 4px;
          color: $n100;
        }
      }
    }
    .sample {
      min-width: initial;
      order: 2;
    }

    &:not(:first-child) {
      margin-left: 10px;
    }

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.sample {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px $n100 solid;
  border-radius: 4px;
  cursor: pointer;
  color: $n200;

  &:hover, &.active, &:focus {
    border-color: $b400;
    color: $b400;

    &.active {
      border-width: 1.5px;
    }
  }
  &:focus {
    outline: none;
  }
}
